Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: order an asset's sensors by id (#2637)
  documentation/changelog.rst
  flexmeasures/data/models/annotations.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
  flexmeasures/data/tests/test_generic_assets.py
  flexmeasures/data/tests/test_relationship_order.py
Due: flake8, black

test: combine the two fresh_db modules of the data-add CLI tests
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

test: name the combined data-add module after its fresh_db tests
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

perf: speed up the test suite about threefold (#2638)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api_fresh_db.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_add_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/cli/tests/test_data_show_fresh_db.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/tests/test_truncate_fresh_db.py
  flexmeasures/tests/utils.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

data/schemas/forecasting: refuse a config that describes the sensor to forecast twice
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

Copy a bare and a qualified "auto" entry in separate configs
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
Due: flake8, black, generate-openapi-specs

Changelog: write the cleaning entries for hosts upgrading from v1.0.x
  documentation/changelog.rst
Due: none

data/schemas/forecasting: trim the regressor descriptions Swagger shows
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Record a forecaster's input qualifiers in its config, named "auto" (#2627)
  documentation/changelog.rst
  documentation/features/forecasting.rst
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/forecasting/references.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/services/automation_copies.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix the changelog link of the set_attribute entry to point to the PR
  documentation/changelog.rst
Due: none

Document what set_attribute does, including how a Sensor attribute can shadow or be shadowed
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
Due: flake8, black

Make set_attribute create attributes that do not exist yet (#2649)
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

Remove the storage scheduler's soc_datetime lookup and the v1 soc attributes on test fixtures
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Remove StorageScheduler.persist_flex_model, a leftover that stored soc info in asset attributes nothing reads back
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black, generate-openapi-specs

Link the changelog entry to its PR
  documentation/changelog.rst
Due: none

Apply review suggestion: shorten the changelog entry
  documentation/changelog.rst
Due: none

Drop a CLI test assertion on the soc_in_mwh attribute, which schedules no longer write
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Set the starting SoC in test flex-models, instead of reading a soc_in_mwh attribute from test fixtures
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Remove the state-of-charge bookkeeping left over from API v1 and v2 (#2665)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black, generate-openapi-specs

Fix/UI/account audit log date display (#2664)
  documentation/changelog.rst
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/accounts/account_audit_log.html
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black

Update flexmeasures/data/models/time_series.py
  flexmeasures/data/models/time_series.py
Due: flake8, black

Update flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
  flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
Due: flake8, black

Update flexmeasures/data/services/users.py
  flexmeasures/data/services/users.py
Due: flake8, black

data/services/automations: record how schedule, report and plugin runs end
  flexmeasures/data/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black

data/tests: cover how schedule, report and plugin runs end
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black

docs: every automation run records how its jobs ended
  documentation/features/automations.rst
Due: none

changelog: append PR #2670 to the durable automation runs entry
  documentation/changelog.rst
Due: none

utils/config: add FLEXMEASURES_MONITOR_AUTOMATIONS_STUCK_AFTER
  flexmeasures/utils/config_defaults.py
Due: flake8, black

data/models: record when an automation run was reported by monitoring
  flexmeasures/data/migrations/versions/d4b7e9a1c362_add_alerted_at_to_automation_runs.py
  flexmeasures/data/models/automations.py
Due: flake8, black

cli: add flexmeasures monitor automations
  flexmeasures/cli/monitor.py
Due: flake8, black

cli/tests: test flexmeasures monitor automations
  flexmeasures/cli/tests/test_monitor.py
  flexmeasures/cli/tests/test_monitor_automations_fresh_db.py
Due: flake8, black

data/services: find the automation runs that failed and were not reported yet
  flexmeasures/data/services/automation_monitoring.py
Due: flake8, black

docs: document flexmeasures monitor automations
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  documentation/features/automations.rst
  documentation/host/error-monitoring.rst
Due: none

Count the general API rate limit per account, rather than per user
  documentation/configuration.rst
  documentation/host/plans.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

Count triggers per account only, and deprecate FLEXMEASURES_API_RATE_LIMIT_KEY
  documentation/configuration.rst
  documentation/host/plans.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

Drop plan.rate_limit_key, now that triggers are always counted per account
  documentation/host/plans.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/tests/test_data_show_fresh_db.py
  flexmeasures/data/migrations/versions/29d0c9ae8504_drop_plan_rate_limit_key.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/views/accounts.py
Due: flake8, black

Changelog: the default rate limit counts per organisation
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Log who hit a rate limit, and which triggers spent the budget
  documentation/host/plans.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

Changelog: log who hit a rate limit
  documentation/changelog.rst
Due: none

Changelog: triggers are counted per organisation only
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
