Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: changelog entry for asset-listing speedup
  documentation/changelog.rst
Due: none

docs: point the changelog entry at the actual PR number
  documentation/changelog.rst
Due: none

refactor: derive the eager-load condition from the response schema
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

fix: anchor the sensors eager load on the query's root entity
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

feat(ui): zoom the asset tree on scroll when the cursor is inside it
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
Due: none

feat: direct HiGHS (highspy) implementation of the device scheduler
  flexmeasures/data/models/planning/highspy_optimization.py
Due: flake8, black

feat: expose the direct HiGHS backend as solver choice "highspy"
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

tests: prove equivalence of the highspy and Pyomo scheduler backends
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: make the direct HiGHS backend the default LP solver
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/deployment.rst
  documentation/host/installation.rst
  flexmeasures/utils/config_defaults.py
Due: flake8, black

feat(ui): lay out leaf children of an asset as compact one- or two-row grids
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
Due: none

perf: vectorize the subcommitment conversion
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

review: address Copilot comments on solver output and solver docs
  documentation/configuration.rst
  documentation/host/deployment.rst
  flexmeasures/data/models/planning/highspy_optimization.py
Due: flake8, black

review: remove dead commodity_devices lookup from the direct backend
  flexmeasures/data/models/planning/highspy_optimization.py
Due: flake8, black

feat(ui): scale asset-tree labels and icons with zoom; double-click to reset
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
Due: none

perf: vectorize the subcommitment conversion
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

feat: port the direct HiGHS (highspy) scheduler backend
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

feat: adapt the direct HiGHS backend to this branch's scheduler semantics
  flexmeasures/data/models/planning/highspy_optimization.py
Due: flake8, black

feat(ui): touch support for the asset tree - pinch-to-zoom, double-tap reset
  flexmeasures/ui/templates/_macros.html
Due: none

rate-limit how many events are sent to Sentry each day
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_app_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

do not emit error logs when the alembic revision is not on head, just warn
  flexmeasures/data/__init__.py
Due: flake8, black

docs: shorten the eager-load comment; broaden the linebreak rule to comments
  .github/instructions/docstrings.instructions.md
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

Speed up listing assets by eager-loading sensors (#2363)
  .github/instructions/docstrings.instructions.md
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

refactor: remove dead device_stock_commitment_equalities rule
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

fix: resolve regressor source collisions safely
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

test: cover deterministic regressor source precedence
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: keep sensor reference source filtering generic
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

docs: document forecast regressor source precedence
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

docs: update forecast source precedence OpenAPI
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: clarify forecast source collision fallback
  documentation/changelog.rst
Due: none

fix(forecasting): resolve regressor source collisions deterministically (#2354)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat/forecast source filtering (#2347)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: let annotation searches filter by belief time
  documentation/changelog.rst
  flexmeasures/api/dev/sensors.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
  flexmeasures/data/queries/annotations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: wire belief-time filtering into the asset chart_annotations endpoint, add tests
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/tests/test_annotations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: reference PR #2367 in the annotation belief-time changelog entry
  documentation/changelog.rst
Due: none
