Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: implement incremental naming for asset copies and add new API endpoint for asset annotations
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: added changelog entry
  documentation/changelog.rst
Due: none

Feat/show vertical graph lines (#2079)
  AGENTS.md
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

refactor: make remove_existing_beliefs obsolete
  flexmeasures/data/services/time_series.py
Due: flake8, black

docs: move and update changelog entry
  documentation/changelog.rst
Due: none

Backport PR #2059: Feat: `save_to_db` no longer attempts to save duplicate beliefs (#2059)
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

Refactor/remove existing beliefs (#2098)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
Due: flake8, black

Backport PR #2098: Refactor/remove existing beliefs (#2098)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
Due: flake8, black

docs: make this lengthy comment only once
  flexmeasures/data/models/audit_log.py
Due: flake8, black

docs: add explanation for defining foreign keys in the db.relationship
  flexmeasures/data/models/audit_log.py
Due: flake8, black

fix: merge db revisions
  flexmeasures/data/migrations/versions/2c6a4c8127c1_merge.py
Due: flake8, black

fix: duplicate tests after merge
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

style: flake8
  flexmeasures/data/migrations/versions/2c6a4c8127c1_merge.py
Due: flake8, black

fix: Prevents instance replacement/dispose race on already visible toasts and fixes the runtime error
  flexmeasures/ui/templates/includes/toasts.html
Due: none

style: punctuation / double spaces
  flexmeasures/data/migrations/versions/a5b26c3f8e91_recompute_attributes_hash_with_sort_keys.py
Due: flake8, black

Support coupling data sources to accounts, and preserve user ID and account ID references in audit logs and data sources (#2058)
  .github/agents/coordinator.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  AGENTS.md
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_delete.py
  flexmeasures/data/migrations/versions/9877450113f6_add_account_id_to_data_source.py
  flexmeasures/data/migrations/versions/a5b26c3f8e91_recompute_attributes_hash_with_sort_keys.py
  flexmeasures/data/migrations/versions/b2c3d4e5f6a7_drop_fk_constraint_from_audit_log_active_user_id.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/services/users.py
  flexmeasures/data/tests/test_user_services.py
Due: flake8, black, generate-openapi-specs

feat: add support for numeric graph format in asset graph template
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

implement review comments
  documentation/dev/scripting.rst
Due: none

Docs/new page about scripting and hems example (#2097)
  documentation/changelog.rst
  documentation/dev/scripting.rst
  documentation/host/installation.rst
  documentation/index.rst
Due: none

Revert "Fix test: flush session before reading sensor IDs, reset sensors_to_show after test"
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

fix: flush sensor IDs
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

feat: agent lesson learned
  AGENTS.md
Due: none

fix: reset module-scoped fixture state
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

delete: redundant flushes
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

refactor: cleaner looking code
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

docs: remove space
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

Fix asset status page crash on old `sensors_to_show` format (#2103)
  AGENTS.md
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

feat: implement cleanup of stale sensor references in assets on sensor deletion
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/cli/data_delete.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

explicit cache buster, so new and deleted data gets fresh stats
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

black
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

small api specs update
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

black
  flexmeasures/data/services/sensors.py
Due: flake8, black

fix failing test - new function only should live on sensor page
  flexmeasures/ui/templates/includes/graphs.html
Due: none

feat: add validation to prevent copying an asset to itself or its descendants
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

revert undocumented change in not showing all toasts (btn-close fix stays)
  flexmeasures/ui/templates/includes/toasts.html
Due: none

fix: correct response message structure in asset copy rejection tests
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Add "Delete data" action to sensor page with filtered DELETE endpoint (#2095)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_delete_data_fresh_db.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/includes/toasts.html
  flexmeasures/ui/templates/sensors/index.html
Due: flake8, black, generate-openapi-specs

feat: streamline cleanup of sensor references in assets
  flexmeasures/data/services/sensors.py
Due: flake8, black

docs: document fallback schedule mechanism and 303 See Other redirects (#2107)
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/configuration.rst
Due: none
