Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

tests: cover storing a config and reading it back, and asking for no period
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

docs: break the forecasting help and docstrings after punctuation
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

forecasting: leave a defaulted train-period out of the stored config
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

tests: assert the config keeps no bookkeeping of its own
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

Fix chart interpolation flipping to linear for rows mixing real sensors with flex-config constants
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

Move chart interpolation changelog entry to unreleased v1.1.0
  documentation/changelog.rst
Due: none

forecasting: make train-period the one way to limit how much history is used
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

tests: cover the one training limit and its deprecated alias
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

docs: describe the two training limits and the deprecated alias
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
Due: flake8, black

forecasting: say why a training period in years or months does not work
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

tests: cover a training period given in years or months
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

forecasting: report a bad training limit under either name
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

tests: cover a bad training limit under either name
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

Fast most_recent_only belief lookup for sensor statuses (#2463)
  documentation/changelog.rst
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_status_queries.py
Due: flake8, black

Add a --dry-run flag to `flexmeasures add forecasts`
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

Test that a forecast dry run records nothing
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Add changelog entries for the forecast dry run
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Test that a forecast dry run leaves no data source behind, either
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

utils/plugin_utils: load exactly what a path entry points to
  documentation/changelog.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

Honour a forecast dry run set through a parameters file
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
Due: flake8, black

Test that a dry run from a parameters file is rejected with --as-job
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Drop a stray comma from the CLI changelog entry
  documentation/cli/change_log.rst
Due: none

utils/plugin_utils: say module where a module is meant, and keep the tests hermetic
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

utils/plugin_utils: derive the plugin name with an OS-aware basename
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

tests: state the precondition that the cwd folder is not importable
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

docs: break the plugin hint test docstring after punctuation
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

utils/plugin_utils: say in the docstring what the docs already say
  flexmeasures/utils/plugin_utils.py
Due: flake8, black

utils/plugin_utils: do not promise in the log that the folder is ignored
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

Stop `flexmeasures add schedule --dry-run` from silently saving a schedule
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Test the schedule dry run's report and its refusal to be queued
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Add changelog entries for the schedule dry-run fix
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Keep the schedule dry-run test on the function-scoped db fixture
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Report an empty forecast dry run without an event range
  flexmeasures/cli/data_add.py
Due: flake8, black

Test the forecast dry-run report on an empty forecast
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

fix(app): avoid reconfiguring root logging in test runs to preserve caplog
  documentation/changelog.rst
  flexmeasures/app.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

cli: count beliefs in the singular when there is one
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
Due: flake8, black

Add a --dry-run flag to `flexmeasures add forecasts`, and stop `add schedule --dry-run` from saving (#2483)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

docs(changelog): add PR reference link for PR 2484
  documentation/changelog.rst
Due: none

run black
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

clean up configurations.rst after merge (remove duplicated mostly)
  documentation/configuration.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
