Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: say that a forecaster's config describes the sensor it forecasts too
  documentation/features/forecasting.rst
Due: none

docs/changelog: say where a forecaster's input qualifiers are configured
  documentation/changelog.rst
Due: none

data/schemas/forecasting: show the sensor to forecast as the ID it now is
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

Refuse duplicate data sources with a unique expression index, on any PostgreSQL version
  documentation/host/data.rst
  flexmeasures/data/migrations/versions/7c4e1a9d2b58_refuse_duplicate_data_sources.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/utils.py
  pyproject.toml
  uv.lock
Due: flake8, black

Point stored source references at the source they were merged into
  flexmeasures/data/migrations/versions/7c4e1a9d2b58_refuse_duplicate_data_sources.py
Due: flake8, black

Add flexmeasures jobs check-source-references
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_jobs.py
  flexmeasures/data/migrations/versions/7c4e1a9d2b58_refuse_duplicate_data_sources.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

Look up the data sources waiting jobs refer to in one query
  flexmeasures/cli/jobs.py
Due: flake8, black

Address review: drop the anti-policy advice, define duplication, adopt the one-step resolution
  .github/instructions/feature-branch-sync.instructions.md
Due: none

Say what does and does not prevent a stacked branch's post-squash conflicts (#2626)
  .github/instructions/feature-branch-sync.instructions.md
Due: none

Docs: show the automations page in screenshots
  documentation/features/automations.rst
  documentation/views/asset-data.rst
Due: none

ui/assets: move the automation form's reference text onto info icons
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

ui/assets: raise the form's tooltips above the modal they belong to
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

Changelog: add PR #2628 to the automations entry
  documentation/changelog.rst
Due: none

ui/assets: say that the job counts reach back only as far as Redis keeps jobs
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black

Order the data source listing, let a client limit it, and keep its types unnarrowed
  flexmeasures/api/v3_0/sources.py
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Bound the source search, and open the automation form on a clean slate
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_source_picker.py
Due: flake8, black

Read an empty source on an automation as no source at all
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Changelog: the source an automation reuses, and searching the data sources
  documentation/api/change_log.rst
Due: none

Drop a local import of ValidationError which the module already has
  flexmeasures/data/services/automations.py
Due: flake8, black

Decide who may read a data source per source, rather than by its organisation alone
  flexmeasures/api/v3_0/sources.py
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Changelog and docs: which data sources are yours to read, and which to work with
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
Due: none

Naming a source for an automation takes more than being allowed to read it
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

Address review: say which sources the types come from, and unwrap a comment
  flexmeasures/api/v3_0/sources.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Check each commitment for a convex cost curve, rather than their pooled prices
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

Changelog: convexity is checked per commitment
  documentation/changelog.rst
Due: none

Feat: automation select data source (#2584)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sources.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/tests/js/test_automation_source_picker.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Cover the split halves of an any-type commitment
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

Record under a data source of the organisation a data generator computes for
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

Couple the data sources that already exist to the organisation they recorded for
  flexmeasures/data/migrations/versions/c5e1a7b94d20_couple_data_sources_to_organisations.py
  flexmeasures/data/tests/test_source_organisation_migration_fresh_db.py
Due: flake8, black

Refuse a data source that is not the caller's to work with for plugin automation types too
  flexmeasures/data/automations.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black

Changelog and docs: a data source belongs to the organisation it records for
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
Due: none

Address review: keep the couplings on a downgrade, rank by belief time, check a claim still holds
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/c5e1a7b94d20_couple_data_sources_to_organisations.py
  flexmeasures/data/tests/test_source_organisation_migration_fresh_db.py
Due: flake8, black

Address review: name the sensors when asking the beliefs table, and leave a source with no live claim alone
  flexmeasures/data/migrations/versions/c5e1a7b94d20_couple_data_sources_to_organisations.py
  flexmeasures/data/tests/test_source_organisation_migration_fresh_db.py
Due: flake8, black

Name the split test after what it pins, rather than after the rule it cannot see
  flexmeasures/data/tests/test_source_organisation_migration_fresh_db.py
Due: flake8, black

Isolate paged jobs sorting test assets
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Address review: keep the migration out of the runtime docstring, and point at it where it belongs
  documentation/changelog.rst
  flexmeasures/data/models/data_sources.py
Due: flake8, black

Share one deviation between commitments that constrain the solver identically
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

Changelog: interchangeable commitments share one deviation
  documentation/changelog.rst
Due: none

Merge interchangeable commitments, rather than tying their deviations
  documentation/changelog.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

Check each commitment for a convex cost curve, rather than their pooled prices (#2631)
  documentation/changelog.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
