Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

test: hoist imports in missing-sensor regression test to module level
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
Due: flake8, black

Raise clear error when flex-model sensor is missing
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
Due: flake8, black

Fix scheduling job success log printed twice (#2342)
  documentation/changelog.rst
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Raise clear error when flex-model sensor is missing (#2343)
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
Due: flake8, black

chore: upgrade all locked dependencies; add security floors for pyasn1 and setuptools
  pyproject.toml
  uv.lock
Due: none

feat: show the resolved flex-context on the asset context page
  flexmeasures/data/models/generic_assets.py
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

test: cover flex-context provenance and its display on the context page
  flexmeasures/data/tests/test_generic_assets.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs: changelog entry for the resolved flex-context view
  documentation/changelog.rst
Due: none

docs: link forecast source filtering changelog to PR
  documentation/changelog.rst
Due: none

feat: refresh the resolved flex-context in place, and link sensor references
  flexmeasures/ui/templates/assets/_resolved_flex_context.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

test: cover sensor links and the fragment endpoint on the context page
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs: changelog reference for dependency upgrade PR
  documentation/changelog.rst
Due: none

feat: move the inherited flex-context into the flex-context editor
  flexmeasures/ui/templates/assets/_resolved_flex_context.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

test: adapt context page test to the editor-embedded inherited flex-context
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs: reword changelog entry for the editor-based inherited flex-context
  documentation/changelog.rst
Due: none

feat: say parent assets, not ancestor assets, in the editor
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

docs: say parent assets, not ancestor assets, in the changelog entry
  documentation/changelog.rst
Due: none

chore: upgrade all dependencies (#2348)
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Show inherited flex-context fields in the flex-context editor (#2346)
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

test: multi-session same-sensor schedules accumulate (sum)
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: cover overlapping multi-session same-sensor accumulation
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

style: black-format multi-session same-sensor tests
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Keep explicit zero directional capacity as a hard bound
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: cover consumption-capacity 0 schedule path for #2323
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: non-zero directional capacity still softens under breach prices
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: cross-ref #2329 EVSE discharge in zero-capacity regression
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Drop field-level deprecation headers; keep legacy job fields purely additive
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/deprecations.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Point v4 field-removal note at the actual planning discussion
  documentation/api/introduction.rst
Due: none

Fix OpenAPI docs for GET /sensors/<id>/stats sort parameter
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Accept legacy request field names alongside new canonical ones
  documentation/api/change_log.rst
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/common/schemas/users.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix: don't strip MultiDict semantics when no legacy field is present
  flexmeasures/data/schemas/utils.py
Due: flake8, black, generate-openapi-specs

api/accounts: filter accessible organisations by role
  flexmeasures/api/common/schemas/users.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/templates/accounts/accounts.html
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

tests/accounts: cover role filter boundaries
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black, generate-openapi-specs

docs/accounts: document role filtering
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

refactor: fix typo
  flexmeasures/api/v3_0/accounts.py
Due: flake8, black, generate-openapi-specs

fix: total count for accounts before filtering
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
Due: flake8, black, generate-openapi-specs

Fix OpenAPI docs for GET /sensors/<id>/stats sort parameter (#2351)
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Filter organisations by account role (#2353)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/users.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/accounts.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

docs: clarify past regressor source filter example
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix(forecasting): resolve regressor source collisions deterministically
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs
