Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs/changelog: carry this work on the automations entry that already covers it
  documentation/changelog.rst
Due: none

docs/api: leave the automations endpoint to the release that introduces it
  documentation/api/change_log.rst
Due: none

data/schemas/automations: say what the source field is, not what it implies
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/schemas: let the source field be plainly optional, and leave DataSourceIdField alone
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/sources.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix: PandasReporter keeps one belief per event when dropping levels
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/test_pandas_reporter.py
Due: flake8, black

Changelog entry for the PandasReporter droplevels fix
  documentation/changelog.rst
Due: none

Fix: PandasReporter with droplevels keeps one belief per event (#2595)
  documentation/changelog.rst
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/tests/test_pandas_reporter.py
Due: flake8, black

Fix: account creation in UI now makes auditlog entry (#2580)
  documentation/changelog.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_audit_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/accounts.py
  flexmeasures/data/services/users.py
  flexmeasures/data/tests/test_user_services.py
Due: flake8, black, generate-openapi-specs

fix changelog: remove items from merge that should not be there, fix a PR ID that was wrong (2444 -> 2464)
  documentation/changelog.rst
Due: none

Answer unexpected errors with a proper 500, instead of a broken status line
  flexmeasures/conftest.py
  flexmeasures/ui/tests/test_error_handling.py
  flexmeasures/utils/error_utils.py
Due: flake8, black

Recognise forbidden belief replacements by SQLSTATE, whatever the driver
  flexmeasures/api/common/utils/api_utils.py
Due: flake8, black, generate-openapi-specs

Connect through psycopg2 when the database URI names no driver
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Give pg_dump and pg_restore a URI they can read
  flexmeasures/cli/db_ops.py
  flexmeasures/cli/tests/test_utils.py
Due: flake8, black

Prepare for SQLAlchemy 2.1
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/conftest.py
Due: flake8, black, generate-openapi-specs

Prepare for Flask-Security-Too 5.9
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Upgrade dependencies, including SQLAlchemy 2.1 and timely-beliefs 4.4
  pyproject.toml
  uv.lock
Due: none

Add changelog entries for PR #2596
  documentation/changelog.rst
Due: none

docs: improve cbc install docs
  documentation/changelog.rst
  documentation/dev/setup-and-guidelines.rst
  documentation/host/deployment.rst
Due: none

Print quantities in doctests, whose repr changed in pint 0.26
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/units.py
Due: flake8, black, generate-openapi-specs

Address review: say when db-ops has no PostgreSQL URI, and end comment lines on punctuation
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/cli/db_ops.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/conftest.py
  flexmeasures/utils/config_defaults.py
  pyproject.toml
Due: flake8, black, generate-openapi-specs

Run pg_dump and pg_restore without a shell
  flexmeasures/cli/db_ops.py
Due: flake8, black

Keep the database password out of db-ops error messages
  flexmeasures/cli/db_ops.py
Due: flake8, black

Exit with an error when db-ops dump or restore fails
  flexmeasures/cli/db_ops.py
Due: flake8, black

Say when the error router answers in JSON
  flexmeasures/utils/error_utils.py
Due: flake8, black

Drop an in-code note that belongs in the commit history
  flexmeasures/api/v3_0/accounts.py
Due: flake8, black, generate-openapi-specs

Read Flask-Security durations in weeks or ISO 8601, on any Flask-Security version
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Say that only a matched API route is answered in JSON
  flexmeasures/utils/error_utils.py
Due: flake8, black

End the moved 404 logging comments on punctuation
  flexmeasures/utils/error_utils.py
Due: flake8, black

Show the job counts the listing already carries, and where Redis could not be reached
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

List the copied automations with the rest of the automations work
  documentation/changelog.rst
Due: none

Show effective rate limits in tooltip on account page (#2524)
  documentation/changelog.rst
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/views/accounts.py
Due: flake8, black

Give up on a dispatch that keeps failing, instead of retrying it every minute
  documentation/features/automations.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

Let a retry of an automation run pick up where the run's own record says it got to
  flexmeasures/cli/jobs.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

Say what a run's record means, where it said more than it knew
  documentation/api/change_log.rst
  documentation/features/automations.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

Refuse a retry that plans fewer jobs, and record a job's failure once
  documentation/changelog.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

Provision template assets in one process at a time
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/utils/app_utils.py
Due: flake8, black

Add changelog entry for PR #2600
  documentation/changelog.rst
Due: none

Break the durable runs' docstrings and comments after punctuation
  flexmeasures/data/services/automations.py
Due: flake8, black

Feat/2393 durable automation runs (#2457)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/f3d8e2c9a741_add_durable_automation_runs.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Simulate the other process entirely in its own thread
  flexmeasures/data/tests/test_template_assets.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
