Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

test: cover public root asset name uniqueness
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black, generate-openapi-specs

fix(api): require asset read access for sensors
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix(api): honor all asset sensor filter terms
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix(api): keep ID prefix filters indexable
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_freshdb.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/data/queries/utils.py
Due: flake8, black, generate-openapi-specs

docs(api): document ID prefix search behavior
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: allow root assets to have non-unique names (#2226)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black, generate-openapi-specs

fix(ui): deprecated api endpoints lack clear deprecation he
  flexmeasures/api/v3_0/deprecated.py
Due: flake8, black, generate-openapi-specs

feat: CLI option to add/edit an account attribute
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/data/models/audit_log.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

Fix: power capacity does not need to be mandatory (#2222)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: add type annotation
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: keep track of inflexible device sensors per commodity, too
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

refactor: place all group args at the end
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

dev: add todos for checking prices
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: compute per-commodity aggregate power flows for aggregate-consumption and aggregate-production sensors
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: no deprecated options for new CLI command
  flexmeasures/cli/data_edit.py
Due: flake8, black

feat: check new attribute on db object
  flexmeasures/cli/tests/test_data_edit.py
Due: flake8, black

refactor: check attribute is stored
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/cli/tests/utils.py
Due: flake8, black

refactor: raise in case of unsupported entity type
  flexmeasures/data/models/audit_log.py
Due: flake8, black

refactor: make entity_type redundant
  flexmeasures/cli/data_edit.py
  flexmeasures/data/models/audit_log.py
Due: flake8, black

delete: no need to deprecate argument for the new method
  flexmeasures/data/models/audit_log.py
Due: flake8, black

feat: CLI option to add/edit an account attribute (#2242)
  documentation/changelog.rst
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/cli/tests/utils.py
  flexmeasures/data/models/audit_log.py
Due: flake8, black

fix(api): remove duplicate asset filter fields
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix(api): explain no-match ID prefix filter
  flexmeasures/data/queries/utils.py
Due: flake8, black

refactor(api): clarify ID prefix digit naming
  flexmeasures/data/queries/utils.py
Due: flake8, black

Feat: filter sensors and assets by ID (#2231)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_freshdb.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/data/queries/utils.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: add multi feed stock tutorial
  documentation/index.rst
  documentation/tut/multi-feed-storage.rst
Due: none

remove extra chart explanation
  documentation/tut/multi-feed-storage.rst
Due: none

delete: ensure_soc_min_max is obsolete; the StorageScheduler runs fine without hard constraints on the SoC
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

chore: update openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

Fix: soc min does not need to be mandatory (#2221)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

only use one key config setting, add CLI command to set secrets, improve plugin docs section
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  documentation/dev/connection-secrets.rst
  documentation/plugin/storing-platform-secrets.rst
  flexmeasures/app.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/secrets_utils.py
  flexmeasures/utils/tests/test_secrets_utils.py
Due: flake8, black

fix: update flexmeasures version in openapi-specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

more poignant documentation
  documentation/configuration.rst
  documentation/dev/connection-secrets.rst
  documentation/plugin/storing-platform-secrets.rst
Due: none

feat: add multi commodity tutorial
  documentation/index.rst
  documentation/tut/multi-commodity.rst
Due: none

show which secrets are stored (no values) in UI
  documentation/views/asset-data.rst
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_json_attributes_editor.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

add CLI command to delete secrets
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/dev/connection-secrets.rst
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_delete.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/utils/secrets_utils.py
  flexmeasures/utils/tests/test_secrets_utils.py
Due: flake8, black

merge db migrations
  flexmeasures/data/migrations/versions/55d8936a55f9_merge_two_revision_heads.py
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
Due: flake8, black

small robustness improvement in migration
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
Due: flake8, black

also show expiration time in UI tables
  documentation/changelog.rst
  documentation/dev/connection-secrets.rst
  documentation/views/asset-data.rst
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_json_attributes_editor.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/secrets_utils.py
  flexmeasures/utils/tests/test_secrets_utils.py
Due: flake8, black
