Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Report an automation's times in its own timezone, and restructure its changelog
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: drop a duplicated v1.0.0 entry, and stop calling the cursor a UTC timestamp
  documentation/changelog.rst
  documentation/features/automations.rst
Due: none

Address review: hand the create endpoint its whole request, and drop unreachable 400s
  docker-compose.yml
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Name the automation API's fields in kebab-case
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/tests/test_automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Name the generator class after what it is, not after one of its kinds
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Name the data generator class and the source it resolves to apart
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

CRUD for automations in the API and UI (#2294)
  docker-compose.yml
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/dev/docker-compose.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_next_run.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

docs: write down how to sync a branch under review, and a stacked one
  .github/instructions/feature-branch-sync.instructions.md
  CLAUDE.md
Due: none

ui/automations: say how far off the next run is, and put the clock time on hover
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

ui/automations: read Created At on the automation's own clock
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

ui/automations: call the per-automation details button Info
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black

api/v3_0: report the configuration of an automation's data source
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

ui/automations: show the data source's configuration in the Info panel
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

Let a forecast target name the sources it trains on
  documentation/features/forecasting.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

api/v3_0: list the automations of an asset's child assets, too
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

ui/automations: show what runs below this asset, too
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

docs: changelog entry for the forecast target source filter
  documentation/changelog.rst
Due: none

ui/automations: keep the listing current without a manual reload
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

Log one line when the CLI rejects an option value
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/utils.py
Due: flake8, black

tests: cover the automation listing's scope and its data source config
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
Due: flake8, black, generate-openapi-specs

tests: cover how the automations page tells the time, and whose asset a row is
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black

docs: describe what the automations page now shows
  documentation/features/automations.rst
Due: none

changelog: record the automations page improvements
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

tests: follow the automations page's new markup on the asset page
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Add changelog entry for the CLI option-error log line
  documentation/changelog.rst
Due: none

ui/automations: lay the Info panel out as a panel, and stop calling the cursor UTC
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

tests: expect the Info panel's corrected cursor label
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Name the automation endpoints' last two fields in kebab-case too
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Name the durable run fields in kebab-case too
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Make the JavaScript test harness report rather than time out
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_harness.py
  flexmeasures/ui/tests/js/test_staleprobe.py
Due: flake8, black

Give the scheduler its flex config as written, and hold the guard to it
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Spell the Redis connection error the same way on every endpoint
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

fix: make organisation audit changes and affected users explicit (#2522)
  documentation/changelog.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_audit_fresh_db.py
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/api/v3_0/tests/test_api_v3_0_users_fresh_db.py
  flexmeasures/api/v3_0/users.py
Due: flake8, black, generate-openapi-specs

Drop a probe file that was never meant to be committed
  flexmeasures/ui/tests/js/test_staleprobe.py
Due: flake8, black

Hold new field names to kebab-case, and list the ones that predate it
  .github/instructions/marshmallow-schemas.instructions.md
  documentation/changelog.rst
  flexmeasures/data/schemas/tests/test_field_naming.py
Due: flake8, black, generate-openapi-specs

Address Copilot: give a page back even when the run never loads it
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_harness.py
Due: flake8, black

Address Copilot: actually report what a timed-out page had collected
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_harness.py
Due: flake8, black

Address Copilot: take the budgets from the harness too
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_harness.py
Due: flake8, black

Address Copilot: name the test after what it asserts
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_harness.py
Due: flake8, black

Hold new field names to kebab-case, and list the ones that predate it (#2547)
  .github/instructions/marshmallow-schemas.instructions.md
  documentation/changelog.rst
  flexmeasures/data/schemas/tests/test_field_naming.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
