Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: model inflexible devices as assets; drop unreleased flex-context group field
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: fill in PR number in changelog
  documentation/changelog.rst
Due: none

fix: single-object example for the flex-model inflexible fields
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: whitelist keys allowed alongside an inflexible flex-model declaration
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

docs+test: punctuation line breaks in new docstrings; cover source-filtered flex-model inflexible
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

fix: reject inflexible fields in a single-sensor flex-model
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
Due: flake8, black

docs: clarify that group is optional on a flex-model inflexible device, and it may set a commodity
  documentation/features/scheduling.rst
Due: none

test: cover a non-electricity commodity on a flex-model inflexible device
  flexmeasures/data/models/planning/tests/test_device_inventory.py
Due: flake8, black

Model inflexible devices as assets; drop the unreleased flex-context group field (#2374)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: allow scoping a commitment to a group (alongside the sensor list)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: pin a scoped commitment's commodity to its scoped devices; tests + comment tidy
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: a sensor-scoped commitment also binds inflexible devices; document net signed flow
  documentation/changelog.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

style: reflow scoped-commitment docstrings and comments to break only after punctuation
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

chore: reinforce the docstring/comment line-break convention for agents
  .github/instructions/docstrings.instructions.md
  CLAUDE.md
Due: none

docs: explain the 'band' term in the scoped-commitment test; reword changelog
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Commitments can be scoped to specific sensors, binding their aggregate flow (#2295)
  documentation/changelog.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: reinforce the docstring/comment line-break convention for agents (#2375)
  .github/instructions/docstrings.instructions.md
  CLAUDE.md
Due: none

docs: make data ingestion tutorial executable
  documentation/changelog.rst
  documentation/dev/scripting.rst
  documentation/getting-started.rst
  documentation/host/installation.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/posting_data.rst
  documentation/tut/scripts/Readme.md
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
  documentation/tut/scripts/run-data-ingestion.py
Due: flake8, black

deps: install Excel reader at runtime
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

ci: exercise data ingestion tutorial
  .dockerignore
  .github/workflows/docker-build.yml
  .github/workflows/docker-qa.yml
Due: none

Exempt play servers from both rate limits
  documentation/changelog.rst
  documentation/host/modes.rst
  documentation/host/plans.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

Rate limiting for the API, and for scheduling and forecasting triggers in particular (#2306)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  documentation/host/modes.rst
  documentation/host/multi-tenancy.rst
  documentation/host/plans.rst
  documentation/index.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/cli/utils.py
  flexmeasures/data/migrations/versions/3bc1e29ca1f4_merge.py
  flexmeasures/data/migrations/versions/6a767f36151c_add_plan_table_and_account_plan_id.py
  flexmeasures/data/models/user.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/validation_utils.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

docs: refine ingestion tutorial guidance
  documentation/index.rst
  documentation/tut/posting_data.rst
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
  documentation/tut/scripts/run-data-ingestion.py
  documentation/tut/toy-example-group-constraints.rst
Due: flake8, black

docs: identify user in password prompt
  documentation/tut/posting_data.rst
  documentation/tut/scripts/run-data-ingestion.py
Due: flake8, black

Pin and reorder the timed_belief primary key
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_timed_belief_schema.py
Due: flake8, black

Point the changelog entry at the right PR number
  documentation/changelog.rst
Due: none

fix: bind a regular commitment to its commodity's aggregate, not each device
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

docs: append PR reference to the multi-commodity changelog entry
  documentation/changelog.rst
Due: none

Drop the redundant single-column indexes on timed_belief
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/tests/test_timed_belief_schema.py
  pyproject.toml
  uv.lock
Due: flake8, black

test: update commitment tests for aggregate (unscoped) semantics
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

Bind a regular commitment to its commodity's aggregate, not each device (fixes #2379) (#2380)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

Address review: do the index swap online, fix schema scoping, reflow comments
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_timed_belief_schema.py
  pyproject.toml
Due: flake8, black

Address review round 2: quote index identifiers via quote_ident
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
Due: flake8, black

Address review round 3: make the changelog entry one sentence
  documentation/changelog.rst
Due: none

Forward device_scheduler arguments to the highspy backend by name
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
Due: flake8, black

refactor: share the scheduler's solver-agnostic input handling
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
Due: flake8, black

perf: build device_group_lookup from column arrays
  flexmeasures/data/models/planning/scheduling_problem.py
Due: flake8, black

Do not bind a device-scoped commitment at EMS level as well
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

Address review round 4: match indexes structurally, and shrink the lock diff
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
  uv.lock
Due: flake8, black

Fix EMS-level flow commitment constraints (#2355)
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black
