Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

move all work to the jobs, including resampling. Just a thin acceptance layer is left in the API endpoints
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/queues.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/common/responses.py
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/common/utils/args_parsing.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/services/data_ingestion.py
  flexmeasures/data/tests/test_data_ingestion.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

also log that data has been saved successfully, the logs are not clear otherwise
  flexmeasures/data/utils.py
Due: flake8, black

style: black
  flexmeasures/data/queries/utils.py
Due: flake8, black

fix: update function signatures
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/tests/test_queries.py
Due: flake8, black

docs: remove comments about fixes
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Fix auth issues: child asset creation, account page access (#2163)
  .github/agents/test-specialist.md
  AGENTS.md
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

fix: missing import for type annotation
  flexmeasures/data/queries/utils.py
Due: flake8, black

fix: prefer source_account_ids over account_id
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/tests/test_reporting.py
Due: flake8, black, generate-openapi-specs

refactor: clarify variable name
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

Improve poling and Toasting
  flexmeasures/data/utils.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/includes/toasts.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Use full sensor data range in delete dialog
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

smaller self-review changes
  documentation/changelog.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/utils.py
Due: flake8, black, generate-openapi-specs

make constants out of our various success messages
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/data/services/data_ingestion.py
  flexmeasures/data/tests/test_data_ingestion.py
  flexmeasures/data/utils.py
Due: flake8, black, generate-openapi-specs

feat: add account_id filter for sources in search_beliefs (#2065)
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/test-specialist.md
  documentation/changelog.rst
  documentation/features/reporting.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/conftest.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/account.py
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/tests/test_queries.py
Due: flake8, black, generate-openapi-specs

Fix: All use of raw json when updating flex_configs (#2162)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/data/schemas/attributes.py
Due: flake8, black, generate-openapi-specs

feat: just check if any such data sources exist on the sensor, no need to fetch them
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/data/models/time_series.py
Due: flake8, black, generate-openapi-specs

feat: replace DataSource.sensors ORM relationship with property
  flexmeasures/data/models/data_sources.py
Due: flake8, black

feat: add test to make sure data_source.sensors and sensor.data_sources must never become slow
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

docs: double changelog entry
  documentation/changelog.rst
Due: none

feat: actually test with a sizable timed_belief table
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

dev: Support commodity-specific prices and site capacities in storage scheduler
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

dev: Add commodity-specific flex-context schema
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

dev: Add dynamic commodity prices and split flex-context settings to capacity scheduling test
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Feat/validate source type filter (#2151)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black, generate-openapi-specs

feat: make stats faster (single aggregation pass, no subquery, no rejoin, simpler execution plan, less memory pressure)
  flexmeasures/data/services/sensors.py
Due: flake8, black

refactor: create small util functions
  flexmeasures/data/services/sensors.py
Due: flake8, black

refactor: rephrase condition
  flexmeasures/data/services/sensors.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

refactor: move to DeleteSensorDataSchema
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: update field description
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: validation on start and until
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

feat: add test coverage
  flexmeasures/api/v3_0/tests/test_sensors_delete_data_fresh_db.py
Due: flake8, black, generate-openapi-specs

add
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: deleting a single datapoint for instantaneous sensors
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

docs: suggest revised command to run a worker assigned to our 3 standard queues
  documentation/changelog.rst
Due: none

feat: let the docker compose worker also handle ingestion
  docker-compose.yml
Due: none

Feat/speed up stats (#2173)
  documentation/changelog.rst
  flexmeasures/data/services/sensors.py
Due: flake8, black

docs: mitigating circumstances (only the recently introduced account attributes were exposed)
  documentation/changelog.rst
Due: none

docs: reassign several fixes from v0.33.0 to v0.32.3
  documentation/changelog.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
