Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

auth: preserve legacy ACL grants for custom roles
  flexmeasures/auth/policy.py
Due: flake8, black

auth: name ACL alternative principals explicitly
  flexmeasures/auth/policy.py
Due: flake8, black

data/services: return and log what a forecast save stored
  flexmeasures/data/services/forecasting.py
Due: flake8, black

cli: say how many forecast beliefs were saved
  flexmeasures/cli/data_add.py
Due: flake8, black

tests: pin forecast saves without the clock or the model
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/tests/test_forecasting_persistence_fresh_db.py
Due: flake8, black

changelog: split the forecast entry, and add the CLI line
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

data/services: judge a report's outputs before returning them, also on a dry run
  flexmeasures/data/services/reporting.py
Due: flake8, black

cli: say what flexmeasures add report saved, for each output
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/reporting.py
Due: flake8, black

cli/tests: pin what a report run says it saved, and the dry-run guard
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

cli/tests: break comment lines only after punctuation
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

data/services: name left-out forecast beliefs only when there are some
  flexmeasures/data/services/forecasting.py
Due: flake8, black

data/tests: pin what a forecast save logs about beliefs left out
  flexmeasures/data/tests/test_forecasting_persistence_fresh_db.py
Due: flake8, black

api/v3_0: test account reader data upload denial
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

data/tests: remove checks for unshipped role names
  flexmeasures/data/tests/test_user_services.py
Due: flake8, black

Save forecasts like any other data, dropping beliefs that repeat the one before (#2688)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_persistence_fresh_db.py
Due: flake8, black

data/services: one module to check and save what a data generator returns
  flexmeasures/data/services/generator_results.py
Due: flake8, black

data/tests: pin the shared check and save of a data generator's results
  flexmeasures/data/tests/test_generator_results_fresh_db.py
Due: flake8, black

data/services: check and save reports through the shared step
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/reporting.py
Due: flake8, black

data: check and save plugin automation results through the shared step
  flexmeasures/data/automations.py
Due: flake8, black

data/tests: pin the refusal of an undeclared plugin output
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black

data/services: check and save schedules through the shared step
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

cli: save what a forecaster registered by a plugin returns
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

cli/tests: pin saving what a plugin's forecaster returns
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

changelog: one entry set for the shared check and save
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

docs: FlexMeasures saves what a plugin's forecaster returns
  documentation/plugin/customisation.rst
Due: none

Count every missing row towards the forecaster's missing threshold
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_missing_values.py
Due: flake8, black

data/services: let the refusal survive pickling, as a job's meta does
  flexmeasures/data/services/generator_results.py
Due: flake8, black

data/tests: pin a refused schedule job keeping its meta
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_generator_results_fresh_db.py
Due: flake8, black

cli: report a forecaster's failed save as itself
  flexmeasures/cli/data_add.py
Due: flake8, black

cli/tests: pin a forecaster's failed save surfacing as itself
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

data/services: one result contract for the check and the save
  flexmeasures/data/services/generator_results.py
Due: flake8, black

data/services: read an automation's id from a job's trigger in one place
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black

cli: say what add report computed before saving any of it
  flexmeasures/cli/data_add.py
Due: flake8, black

cli/tests: pin add report announcing its outputs when the save fails
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

changelog: a plugin forecaster saves its own results when it queues jobs
  documentation/changelog.rst
Due: none

fix: count every missing row towards the forecaster's missing threshold, and fill forecast input gaps in pandas (#2640)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_missing_values.py
Due: flake8, black

Count an instantaneous regressor's reading as realized from the instant it describes
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Changelog: instantaneous regressors' readings count as realized
  documentation/changelog.rst
Due: none

Forecast an instantaneous sensor at a resolution given in the parameters
  documentation/features/forecasting.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Changelog: forecasting an instantaneous sensor
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none
