Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Changelog: name this pull request on the entry that introduces the automations page
  documentation/changelog.rst
Due: none

Carry a detached source's organisation when looking it up again
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

Make set_attribute create attributes that do not exist yet
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

ui: keep the flex-config and graph dialogues working when a sensor is gone
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/static/js/flex-context-utils.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

ui/tests: cover a configuration that refers to a sensor which is gone
  flexmeasures/ui/tests/js/test_components.py
  flexmeasures/ui/tests/js/test_flex_context_utils.py
  flexmeasures/ui/tests/js/test_ui_utils_helpers.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

data/services: skip a flex-context field whose sensor is gone
  flexmeasures/data/services/sensors.py
Due: flake8, black

api/common/schemas/tests: cover a status page with a flex-context sensor that is gone
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

docs: changelog entry for dialogues robust against deleted sensors
  documentation/changelog.rst
Due: none

Changelog: name this pull request on the entry that introduces plugin automations
  documentation/changelog.rst
Due: none

Refuse a stored forecaster whose parameters still qualify its target
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Feat: copy automation button (#2591)
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/tests/js/test_automation_copy.py
Due: flake8, black

Couple a data generator's data source to the organisation it runs for (#2634)
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/data/automations.py
  flexmeasures/data/migrations/versions/c5e1a7b94d20_couple_data_sources_to_organisations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
  flexmeasures/data/tests/test_source_organisation_migration_fresh_db.py
Due: flake8, black

Keep the data source that recorded most recently, and let the host name another
  flexmeasures/data/migrations/versions/7c4e1a9d2b58_refuse_duplicate_data_sources.py
Due: flake8, black

ui: address review on the dialogues' handling of a resource that is gone
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/static/js/flex-context-utils.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

ui/tests/js: cover commitment-scoped sensors and the account of an asset that is gone
  flexmeasures/ui/tests/js/test_flex_context_utils.py
  flexmeasures/ui/tests/js/test_ui_utils_helpers.py
Due: flake8, black

Let get_schedule read the schedule from the job, on request
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_from_job_fresh_db.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Keep the computed schedule values on the scheduling job
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Add a helper that reads schedule values from a finished job
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Add changelog entries for reading schedules from the job
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Link the changelog entry to the pull request
  documentation/changelog.rst
Due: none

Predict the same survivor the migration keeps, and say so in the changelog
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
  flexmeasures/data/migrations/versions/7c4e1a9d2b58_refuse_duplicate_data_sources.py
  flexmeasures/data/services/data_sources.py
Due: flake8, black

Address review: say what the option names, what the command does, and when it goes
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
  flexmeasures/data/models/data_sources.py
Due: flake8, black

data/models/forecasting: name both ways out of the refusal
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

data/models/reporting: clean a report's input against the bounds it carries
  documentation/changelog.rst
  documentation/features/reporting.rst
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/profit.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/schemas/io.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: refuse a key a sensor reference does not take
  documentation/changelog.rst
  documentation/concepts/flexibility-configuration.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

docs/changelog: link the reporter input cleaning to its pull request
  documentation/changelog.rst
Due: none

docs/changelog: link the refusal of unknown reference keys to its pull request
  documentation/changelog.rst
Due: none

Name every job of a sequential schedule, rather than one name for the chain
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Dispatch a schedule run again, queueing only the jobs it still owes
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Changelog and docs: a schedule run is retried as a forecast run is
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
Due: none

Changelog: point at this pull request's own number
  documentation/changelog.rst
Due: none

docs/api: say in the API change log that a reference refuses a key it does not take
  documentation/api/change_log.rst
Due: none

docs: say what a reference takes, not only what it refuses
  documentation/concepts/flexibility-configuration.rst
Due: none

Answer unknown /api URLs with a JSON 404
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/utils/error_utils.py
  flexmeasures/utils/tests/test_error_utils.py
Due: flake8, black

Fill in PR number in changelog
  documentation/changelog.rst
Due: none

Fix HTML fallback handler name in error routing test
  flexmeasures/utils/error_utils.py
  flexmeasures/utils/tests/test_error_utils.py
Due: flake8, black

docs/changelog: fold the reporter into the one entry for input cleaning
  documentation/changelog.rst
Due: none

Clean a report's input against the bounds it carries (#2655)
  documentation/changelog.rst
  documentation/features/reporting.rst
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/pandas_reporter.py
  flexmeasures/data/models/reporting/profit.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/schemas/io.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: read a source filter written in the singular, and refuse a key no reference has
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/flexibility-configuration.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: leave a null filter alone rather than reading it as one value
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
