Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

add soc constraints for boiler
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

add some assert statments
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: drop a dictionary from flexmodel that has no sensor
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: return inflexible device sensors data along with schedules
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: override the default json.JSONEncoder used by rq-dashboard (requires https://github.com/Parallels/rq-dashboard/pull/521)
  flexmeasures/utils/config_defaults.py
Due: flake8, black

feat: make something much more robust, using recursive function
  flexmeasures/utils/config_defaults.py
Due: flake8, black

fix: improve formatting of ISO durations (for instance, P0DT0H15M0S becomes PT15M)
  flexmeasures/utils/config_defaults.py
Due: flake8, black

refactor: move util method
  flexmeasures/utils/coding_utils.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black

feat: also allow batteries-included schedulers to succeed without storing any time series data for the requested sensor
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

style: black
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

docs: changelog entries
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

refactor: use args_and_json location loader
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

feat: make error messages dev-friendly
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

small fixes in links of tutorial (scripts)
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/toy-example-reporter.rst
Due: none

minimum documentation improvement currently possible
  documentation/api/notation.rst
  documentation/concepts/data-model.rst
Due: none

Fix/scheduling/sign (#1348)
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/toy-example-reporter.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/models/planning/battery.py
  flexmeasures/data/models/planning/charging_station.py
  flexmeasures/data/models/planning/process.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

refactor: move to schema and ValidationErrors
  flexmeasures/api/common/schemas/sensors.py
  flexmeasures/api/common/utils/args_parsing.py
  flexmeasures/api/common/utils/validators.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/units.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

style: flake8
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

changelog & deps updates for v0.31.0
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

docs: move changelog entries
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

dev: pin setuptools to install before installing flexmeasures for testing
  requirements/app.in
Due: none

Start v0.32.0
  .dockerignore
Due: none

prepare changelog for v0.32.0
  documentation/changelog.rst
Due: none

fix: support a single flex model which is not in a list
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: unpack all available returns
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

fix: unpack all available returns for all cases
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

fix: fix issue where unsuppoerted flexocntext fields are sent to API, causing validation error
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

feat: up to date asset data for graph modals
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

fix: Fix bug where you cant remove sensors from a grpah with multiple sensors
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

chore: amek all asset ref inputs equal size
  flexmeasures/ui/static/js/components.js
Due: none

fix: match matrix variable name
  .github/workflows/lint-and-test.yml
Due: none

style: lowercase secrets is correct GitHub expression syntax
  .github/workflows/lint-and-test.yml
Due: none

Update flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

fix: fixed error when trying to remove polts thats not a array of sensors
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

fix: Fixed bug where the options to select a felxConfig field disables the first option, in turn the first option coudlnt be selected
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

refactor: imporve fuction to improve readability and also fix edgecase bug
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

fix: Fixed bug where sensors filter sectoin doesnt change after a selected card has been remvoed, still shows 'Add to X graph'
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

fix: setup-test-env.yml uses same composite action as lint-and-test.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/setup-test-env.yml
Due: none

refactor: streamline options formatting
  .github/workflows/lint-and-test.yml
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
