Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

data/services: default scheduling result to unresolved/resolved shape
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/scheduling_result.py
Due: flake8, black

docs: address PR #2072 review comments
  .github/agents/architecture-domain-specialist.md
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
Due: none

tests: fix stale comment about ProcessScheduler's result shape
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

docs: move schedule inspection section above constraint results
  documentation/features/scheduling.rst
Due: none

fix: stop pruning dependencies from externally-installed plugins when updating the docs
  pyproject.toml
Due: none

style: fix spacing after image
  documentation/features/scheduling.rst
Due: none

docs: actually cross-reference the docs section
  flexmeasures/data/services/scheduling_result.py
Due: flake8, black

Backport #2259: Fix Charge Point sessions chart loading, plus zoom-sync, epoch-bar, and alignment improvements (#2259)
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

Backport PR #2257: chore: filter out more 404s for Sentry (#2257)
  documentation/changelog.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Backport PR #2226: fix: allow root assets to have non-unique names (#2226)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Backport PR #2228: refactor the auth for user role editing (#2228)
  documentation/changelog.rst
  flexmeasures/api/v3_0/users.py
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_principal_matching.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/views/users/views.py
Due: flake8, black, generate-openapi-specs

Backport PR #2237: Fix flex-model datakey and description (#2237)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Backport PR #2260: Release workflows (#2260)
  .github/agents/tooling-ci-specialist.md
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-qa.yml
  .github/workflows/pypi-publish.yml
  ci/generate-dummy-price.sh
  ci/list-merged-prs-since-tag.sh
  documentation/changelog.rst
  documentation/dev/release_process.rst
  documentation/index.rst
  pyproject.toml
Due: none

fix(ci): scope QA workflow's uv cache glob, install uv before docker compose up
  .github/workflows/docker-qa.yml
Due: none

fix(ci): scope QA workflow's uv cache glob, install uv before docker compose up (#2262)
  .github/workflows/docker-qa.yml
Due: none

Backport PR #2262: fix(ci): scope QA workflow's uv cache glob, install uv before docker compose up (#2262)
  .github/workflows/docker-qa.yml
Due: none

fix(ci): fetch full git history in QA workflow so server reports real version
  .github/workflows/docker-qa.yml
Due: none

fix(ci): fetch full git history in QA workflow so server reports real version (#2263)
  .github/workflows/docker-qa.yml
Due: none

Backport PR #2263: fix(ci): fetch full git history in QA workflow so server reports real version (#2263)
  .github/workflows/docker-qa.yml
Due: none

Improve fast (ECharts) chart parity with Vega-Lite
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

Remove the Charge Point sessions line-style legend
  flexmeasures/ui/static/js/fast-chart.js
Due: none

Match fast (ECharts) chart interpolation to Vega-Lite
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/static/js/fast-chart.js
Due: flake8, black

Snap fast (ECharts) chart tooltip to the nearest data point
  flexmeasures/ui/static/js/fast-chart.js
Due: none

fix: preserve explicit zero breach prices
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

docs: restore main whitespace after merge
  documentation/dev/connection-secrets.rst
  documentation/features/scheduling.rst
  documentation/host/deployment.rst
  documentation/plugin/introduction.rst
Due: none

fix(ci): checkout repo in pypi-smoke-test job so .python-version resolves
  .github/workflows/pypi-publish.yml
Due: none

fix(ci): checkout repo in pypi-smoke-test job so .python-version resolves (#2265)
  .github/workflows/pypi-publish.yml
Due: none

Change flex-EMS architecture image from PNG to SVG
  README.md
Due: none

fix: revert accidental regressions in base.html and openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/base.html
Due: none

feat: support sensor reference defaults
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

test: cover sensor reference defaults
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

feat: accept dynamic canonical soc bounds
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

test: cover dynamic canonical soc bounds
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

docs: update soc bounds schema metadata
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: update soc bounds api examples
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

docs: explain canonical dynamic soc bounds
  documentation/api/introduction.rst
  documentation/features/scheduling.rst
Due: none

docs: regenerate openapi specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

feat: rework materialized view integration around tb ownership and a recorded refresh time
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/data.rst
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/db_ops.py
  flexmeasures/cli/tests/test_db_ops.py
  flexmeasures/data/config.py
  flexmeasures/data/migrations/versions/75a82be1c1d6_merge.py
  flexmeasures/data/migrations/versions/timed_beliefs_materialized_views.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/schemas/tests/test_input_schema.py
  flexmeasures/data/services/materialized_views.py
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

style: black
  flexmeasures/cli/tests/test_db_ops.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
