Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: add changelog entry
  documentation/changelog.rst
Due: none

docs: update changelog for soc projection
  documentation/changelog.rst
Due: none

docs: clarify soc projection terminology
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

refactor: rename soc normalization to projection
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: explain soc projection assertions
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Update flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs: explain soc constraint projection policy
  documentation/concepts/data-model.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix: support missing soc bounds in projection
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

refactor: move off-tick soc detection to scheduling schema
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/scheduling/utils.py
Due: flake8, black, generate-openapi-specs

refactor: make soc projection policy explicit
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs/tutorial: import toy prices as EUR per MWh
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/toy-example-setup.rst
Due: none

ci: import toy prices as EUR per MWh
  .github/workflows/build.yml
  .github/workflows/generate-dummy-price.sh
Due: none

docs/tests: keep toy site capacity in kVA
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

docs/tests: keep toy battery capacity in kVA
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

tests: explain toy schedule power bounds
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

feat: start claude settings with custom organisation announcement and preventing secrets from being read
  .claude/settings.json
Due: none

use the 202 status consistently in triggering endpoints (forecasting, scheduling) and provide follow-up URLs in the response
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: start claude settings with custom organisation announcement and preventing secrets from being read (#2225)
  .claude/settings.json
Due: none

fix: allow root assets to have non-unique names
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black, generate-openapi-specs

let get_schedule endpoint use status 202 as well, if jobs are not finished (just like get_forecast) - for now only use this (over the old 400 code) if API_SUNSET is being used
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor the auth for user role editing, clearer and explicitly about the roles we protect
  flexmeasures/auth/policy.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/views/users/views.py
Due: flake8, black

docs: keep production capacity metadata focused
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix: default missing directional capacity to zero
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover one-sided directional capacities
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: clarify one-sided directional capacities
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

chore; added comments inside utils
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

chore: revert formatting
  flexmeasures/ui/static/js/ui-utils.js
Due: none

feat: implement user permission check for account creation
  flexmeasures/auth/policy.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black

feat: enhance consultancy account validation in AccountPatchSchema
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

feat: enhance validation for consultancy_account_id in AccountCreateSchema and AccountPatchSchema
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

feat: implement default consultancy_account_id handling in AccountCreateSchema
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

fix: fall back to deprecated price fields
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat/api: add ID to the filterable fields in sensors and assets API endpoints
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: typo
  flexmeasures/data/tests/conftest.py
Due: flake8, black

feat: store commitment costs on job meta
  flexmeasures/data/services/scheduling.py
Due: flake8, black

refactor: clarify which job is which
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

fix: update test expectation: the battery could save more?
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

dev: add todo
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

fix: price window should match scheduling window
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

fix: comment out unreasoned check
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black
