Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix(forecast): avoid truncated daily lag steps
  flexmeasures/data/models/forecasting/pipelines/train.py
Due: flake8, black

test(forecast): cover seasonal lag safeguards
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: remove None values from data generator config
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

chore: regenerate OpenAPI specs after AnnotationRegressorSchema changes
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix: copy cache bypassing field from sensor schedule trigger to asset schedule trigger
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor: use kebab-case field name
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: added support for string only field types
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

feat: clarify consultancy account functionality and user roles in security documentation
  documentation/concepts/security_auth.rst
Due: none

feat: support snake_case field names, so you can do stuff like `await client.get_sensor_data(..., source_type="scheduler")` in the flexmeasures-client
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: allow setting a power sensor in the flex_model of an asset when patching
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

fix: pop the old field
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

docs: add changelog entry
  documentation/changelog.rst
Due: none

Update flexmeasures/auth/policy.py
  flexmeasures/auth/policy.py
Due: flake8, black

refactor: the condition in the source_name_and_id transformation is always true
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: different colors for different sources
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/utils.py
Due: flake8, black

chore: revert few changes
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/__init__.py
Due: flake8, black

Feat/efficiencyfield support sensor (#2142)
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/templates/assets/asset_properties.html
Due: flake8, black, generate-openapi-specs

feat: adding TTL to ingestion jobs
  flexmeasures/api/common/utils/api_utils.py
Due: flake8, black, generate-openapi-specs

feat: preserve source type metadata
  flexmeasures/data/models/data_sources.py
Due: flake8, black

test: cover source type metadata
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

feat: keep source metadata in chart data
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/ui/static/js/chart-data-utils.js
Due: flake8, black

feat: distinguish source legend labels
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/utils.py
Due: flake8, black

test: cover source legend labels
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

docs: add source legend changelog entry
  documentation/changelog.rst
Due: none

fix: keep source model unversioned
  flexmeasures/data/models/data_sources.py
Due: flake8, black

fix: show source version in tooltips
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
Due: flake8, black

test: cover separate source version
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

fix: fixed failing test using wrong user
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black

docs: add comment explaining the TTL choice for ingestion
  flexmeasures/api/common/utils/api_utils.py
Due: flake8, black, generate-openapi-specs

docs: explain source legend transform
  flexmeasures/data/models/charts/utils.py
Due: flake8, black

fix: minimize source legend details
  flexmeasures/data/models/charts/utils.py
Due: flake8, black

test: cover minimal legend details
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

fix: put back filters for the sake of UX (speed)
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

Fix: visually distinguish data sources beyond source name (#2185)
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/utils.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/ui/static/js/chart-data-utils.js
Due: flake8, black

Move sensor data ingestion to job queue (#2101)
  docker-compose.yml
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/installation.rst
  documentation/host/queues.rst
  documentation/tut/forecasting_scheduling.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/common/responses.py
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/common/utils/args_parsing.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/app.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/services/data_ingestion.py
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_data_ingestion.py
  flexmeasures/data/utils.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/includes/toasts.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/utils/auth_utils.py
  flexmeasures/ui/views/assets/__init__.py
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

fix the links with sed between endpoint listing and endpoint details (#1753)
  .readthedocs.yaml
  documentation/changelog.rst
Due: none

Update flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

docs: changelog entries
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Fix/force new job when scheduling an asset (tree) (#2182)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
