Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Skip the check when the commit names a tree the hook cannot resolve
  .claude/hooks/pre-commit-check.sh
Due: none

Tokenise the command instead of matching it
  .claude/hooks/pre-commit-check.sh
  .claude/hooks/pre_commit_target.py
Due: flake8, black

docs: reflow the parser's docstrings to break after punctuation
  .claude/hooks/pre_commit_target.py
Due: flake8, black

Follow the shell when paths compose
  .claude/hooks/pre_commit_target.py
Due: flake8, black

docs: break one more docstring line after punctuation
  .claude/hooks/pre_commit_target.py
Due: flake8, black

style(deps): keep the two flake8 entries together
  pyproject.toml
Due: none

Run the pre-commit hook against the tree being committed, and only for commits (#2477)
  .claude/hooks/pre-commit-check.sh
  .claude/hooks/pre_commit_target.py
Due: flake8, black

Pin contributor `uv` version to CI and document deliberate `uv` upgrades (#2451)
  .github/actions/setup-test-env/action.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-qa.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/pypi-publish.yml
  .readthedocs.yaml
  Dockerfile
  documentation/changelog.rst
  documentation/dev/automated-deploy-via-GHActions.rst
  documentation/dev/dependency-management.rst
  documentation/dev/setup-and-guidelines.rst
  pyproject.toml
  uv.lock
Due: none

Add missing PR number to changelog entry
  documentation/changelog.rst
Due: none

feat: hint at comma-separated format when a FLEXMEASURES_PLUGINS entr… (#2473)
  documentation/changelog.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

refactor(reporting): commit the data source without flushing first
  flexmeasures/data/services/reporting.py
Due: flake8, black

refactor(forecasting): commit the data source without flushing first
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

Run reports via CLI and API (#2298)
  docker-compose.yml
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/configuration.rst
  documentation/features/reporting.rst
  documentation/host/installation.rst
  documentation/host/queues.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/app.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/profit.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/reporting/aggregation.py
  flexmeasures/data/schemas/reporting/profit.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/services/data_generators.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_reporting_service.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/job_utils.py
  flexmeasures/utils/tests/test_job_utils.py
Due: flake8, black, generate-openapi-specs

update supported version
  SECURITY.md
Due: none

forecasting: fit and predict the horizon sub-models concurrently
  flexmeasures/data/models/forecasting/custom_models/base_model.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

tests: cover concurrent horizon fitting
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: changelog entry for concurrent horizon fitting
  documentation/changelog.rst
Due: none

cli: run a job once, on its own queue, in `jobs run-job`
  flexmeasures/cli/jobs.py
Due: flake8, black

cli/tests: cover `jobs run-job` performing a job once, on its own queue
  flexmeasures/cli/tests/test_jobs.py
Due: flake8, black

docs: changelog entry for the `jobs run-job` fix
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

forecasting: say so when there is no horizon to forecast for
  flexmeasures/data/models/forecasting/custom_models/base_model.py
Due: flake8, black

tests: make the synthetic forecasting series timezone-aware
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

cli: end the `get_exception_handler` docstring line with a period
  flexmeasures/cli/jobs.py
Due: flake8, black

Run a job once, on its own queue, in flexmeasures jobs run-job (#2480)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_jobs.py
Due: flake8, black

Drop obsolete tables missed by the earlier cleanup, and fix the migration that missed them (#2475)
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/8f4a1d0c2e77_drop_obsolete_tables_missed_by_earlier_cleanup.py
  flexmeasures/data/migrations/versions/ad98460751d9_remove_obsolete_tables.py
Due: flake8, black

forecasting: let the sub-model thread count follow the concurrency
  flexmeasures/data/models/forecasting/custom_models/base_model.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

tests: cover opting out of the horizon concurrency
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

data/models/forecasting: query each sensor once per data load
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

data/tests: cover query reuse in the forecasting data loader
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: add changelog entry for forecasting query reuse
  documentation/changelog.rst
Due: none

tests: do not assume more than one core when covering the thread count
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: break the models_params docstring after punctuation
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

data/models/forecasting: reflow new docstrings and comments
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

data/models/forecasting: key belief searches order-insensitively
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

data/tests: cover query reuse across differently ordered source lists
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

forecasting: go back no further than either training bound asks for
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

tests: cover which training bound decides the window
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

docs: describe the training window the CLI actually derives
  flexmeasures/cli/data_add.py
Due: flake8, black

docs: changelog entry for the training window bounds
  documentation/changelog.rst
Due: none

forecasting: keep a defaulted train-period defaulted when a config is stored
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
