Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs/reporting: document aggregating a flex-context portfolio
  documentation/features/reporting.rst
Due: none

docs/changelog: add entry for aggregating a flex-context portfolio
  documentation/changelog.rst
Due: none

perf: import pyomo, LightGBM and Sentry helpers only when used. Drop unused UnknownSolver re-export. (#2565)
  documentation/changelog.rst
  flexmeasures/data/__init__.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

tests/accounts: cover creation audit context
  flexmeasures/api/v3_0/tests/test_accounts_audit_fresh_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/tests/test_user_services.py
Due: flake8, black, generate-openapi-specs

data/services: centralize audited account creation
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/accounts.py
  flexmeasures/data/services/users.py
Due: flake8, black, generate-openapi-specs

docs/changelog: note account creation audit records
  documentation/changelog.rst
Due: none

add PR Nr
  documentation/changelog.rst
Due: none

Leave the fast-track retry out of this PR (#1718)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/common/schemas/tests/test_sensor_status_fresh_db.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

ui/static: report a view preference the server refused
  flexmeasures/ui/static/js/ui-utils.js
Due: none

api/v3_0: accept "Automations" as a default asset view
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

api/v3_0/tests: cover storing a default asset view
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

ui/tests: cover opening the asset view set as default
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs: changelog entry for the Automations default view
  documentation/changelog.rst
Due: none

ui/tests/js: cover what a refused view preference does
  flexmeasures/ui/tests/js/test_ui_utils.py
Due: flake8, black

docs: link the changelog entry to PR #2582
  documentation/changelog.rst
Due: none

api/v3_0/sources: search the data sources listing, and narrow it to one type
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/sources.py
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

api/v3_0/assets: let an automation name the data source it computes under
  documentation/api/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/sources.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

ui/assets: pick a data source for a new automation, and see what it stores
  documentation/changelog.rst
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_source_picker.py
Due: flake8, black

docs: give the default view its own entry under Automations
  documentation/changelog.rst
Due: none

ui/assets: copy an automation into the creation form
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/tests/js/test_automation_copy.py
Due: flake8, black

docs: keep only the cross-reference for the default view
  documentation/changelog.rst
Due: none

api/accounts: retain UI client creation context
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/ui/templates/accounts/account_create.html
Due: flake8, black, generate-openapi-specs

tests/accounts: cover UI client creation context
  flexmeasures/api/v3_0/tests/test_accounts_audit_fresh_db.py
Due: flake8, black, generate-openapi-specs

Fix: default view for automations page (#2582)
  documentation/changelog.rst
  flexmeasures/api/ui/session.py
  flexmeasures/api/ui/tests/test_session.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/tests/js/test_ui_utils_helpers.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Update documentation/changelog.rst
  documentation/changelog.rst
Due: none

Fix assets paging without a sort order skipping assets
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/queries/generic_assets.py
Due: flake8, black, generate-openapi-specs

docs/changelog: point the data source picker entries at PR #2584
  documentation/changelog.rst
Due: none

Fix what the asset status page reports about its sensors (#2474)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_status_fresh_db.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

Update documentation/views/sensors.rst
  documentation/views/sensors.rst
Due: none

Update flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

api/accounts: defer UI provenance context
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/ui/templates/accounts/account_create.html
Due: flake8, black, generate-openapi-specs

tests/accounts: keep client consultancy audit coverage
  flexmeasures/api/v3_0/tests/test_accounts_audit_fresh_db.py
Due: flake8, black, generate-openapi-specs

docs: add changelog entry for the clean-db schema permission fix
  documentation/changelog.rst
Due: none

docs: keep this PR's changelog entries to their PR number
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

docs/changelog: fold the copy button into the automations UI entry
  documentation/changelog.rst
Due: none

Report the stored timezone in the add automation success message
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

Add PR #2593 to the automations changelog entry
  documentation/changelog.rst
Due: none

Report the stored timezone in the add automation success message (#2593)
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

Fix: validate automation config keys (#2563)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
