Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

utils/sentry: report the Alembic schema mismatch once a calendar day
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/data/__init__.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/sentry_utils.py
Due: flake8, black

tests/utils: cover the daily Sentry deduplication
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

docs: fix the soc-usage examples, which are rejected by the schema (#2403)
  documentation/api/notation.rst
  documentation/tut/multi-feed-storage.rst
Due: none

feat: support a `default` fallback on sensor references
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
Due: flake8, black, generate-openapi-specs

docs: scope the sensor-reference `default` to variable-quantity fields
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/scripts: make clean_database.sh work on macOS as well
  flexmeasures/data/scripts/clean_database.sh
Due: none

docs: note macOS support for clean-db in the changelog
  documentation/changelog.rst
Due: none

Address review: merge changelog entries, note breach prices, reflow comments
  documentation/api/introduction.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

revert the fallback-scheduler content from this branch
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: describe what this PR actually changes about SoC relaxation
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Take device capacities out of relax-constraints entirely
  documentation/api/introduction.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Declare limits as a direct dependency
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Point the changelog entry at the actual PR number
  documentation/changelog.rst
Due: none

Warn about the device capacity change up front in the v1 changelog
  documentation/changelog.rst
Due: none

Keep device capacities hard unless relaxation is asked for (#2398)
  documentation/api/introduction.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

pyproject: let poe clean-db reach the script with its arguments and prompts
  pyproject.toml
Due: none

docs: correct the documented clean-db invocation syntax
  documentation/changelog.rst
  documentation/dev/setup-and-guidelines.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/data/scripts/clean_database.sh
Due: none

docs: point the clean-db changelog entries at the actual PR
  documentation/changelog.rst
Due: none

Pin the windowed-zero contract, and write the zero rule down
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Move the zero-capacity rule to a footnote, and reflow
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/scheduling: cascade a subjob failure to its dependents
  flexmeasures/data/models/planning/exceptions.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black

tests/scheduling: cover the failure cascade in sequential chains
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black, generate-openapi-specs

docs/changelog: note the terminal state for failed sequential schedules
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Reflow the remaining docstrings in this PR after punctuation
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Keep explicit zero directional capacity hard under relax-constraints (#2345)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs/api: explain how to retry after a failed scheduling job
  documentation/api/introduction.rst
Due: none

Address review: sign binaries are unconditional, and other accuracy fixes
  documentation/concepts/device_scheduler.rst
Due: none

data/scheduling: do not let the wrap-up job outrun a pending fallback job
  flexmeasures/data/services/scheduling.py
Due: flake8, black

preserving terminal access for sudo and the script’s interactive prompts
  pyproject.toml
Due: none

tests/scheduling: cover a fallback for the last device in a chain
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

data/scheduling: keep a failure reportable when the session is unusable
  flexmeasures/data/services/scheduling.py
Due: flake8, black

tests/scheduling: assert the wrap-up job waits for a pending fallback
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

docs/changelog: reference PR #2409 in the changelog entry
  documentation/changelog.rst
Due: none

Reject commitments that no constraint would bind
  documentation/changelog.rst
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

Cover the committed quantity in Mc, and tighten it
  documentation/changelog.rst
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_big_m.py
Due: flake8, black

data/scripts: quote database and role names in clean_database.sh
  flexmeasures/data/scripts/clean_database.sh
Due: none

docs: note the clean-db quoting fix in the changelog
  documentation/changelog.rst
Due: none

Reference PR #2410 in the changelog entry
  documentation/changelog.rst
Due: none

Reference PR #2411 in the changelog entry
  documentation/changelog.rst
Due: none

Let an explicit relax flag take precedence over the umbrella relax-constraints, for site capacities too
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
