Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix(cli): always enable RQ embedded scheduler in run-worker
  documentation/changelog.rst
  flexmeasures/cli/jobs.py
Due: flake8, black

docs: move RQ run-worker scheduler note to v0.33.0 Infrastructure / Support
  documentation/changelog.rst
Due: none

fix(cli): default-on RQ scheduler with --without-scheduler opt-out
  flexmeasures/cli/jobs.py
Due: flake8, black

style: save buttons
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/sensors/sensor_new.html
Due: none

docs: remove duplicate pr 2058 changelog entry, keep it under infra/support
  documentation/changelog.rst
Due: none

docs(fix): move changelog entry from Bugfixes to New features section.
  documentation/changelog.rst
Due: none

docs: remove duplicate changelog entry
  documentation/changelog.rst
Due: none

style: nav buttons
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/assets/assets.html
Due: none

fix: get rid of dashed lines below various html elements (regression from #1062)
  flexmeasures/ui/static/css/flexmeasures.css
Due: none

fix: use last-of-type to exclude script
  flexmeasures/ui/static/css/flexmeasures.css
Due: none

fix: add back user page action button styling
  flexmeasures/ui/templates/admin/logged_in_user.html
Due: none

style: less capitalization
  flexmeasures/ui/templates/admin/logged_in_user.html
Due: none

fix: user page button alignment
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/admin/logged_in_user.html
Due: none

feat: Allow custom error messages in invalid_sender function.
  flexmeasures/api/common/responses.py
Due: flake8, black, generate-openapi-specs

fix: render user audit log button if current user can view user, rather than view itself
  flexmeasures/ui/views/users/views.py
Due: flake8, black

style: (other) user page
  flexmeasures/ui/templates/users/user.html
Due: none

feat: render account audit log button, too, if current user has permission to read the organisation account of the user
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/views/users/views.py
Due: flake8, black

fix: button alignment (disable gutters)
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/assets/assets.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

feat: surface custom forbidden API messages
  flexmeasures/auth/error_handling.py
Due: flake8, black

feat: label multi-context auth failures
  flexmeasures/auth/decorators.py
Due: flake8, black

style: use center column for asset audit log
  flexmeasures/ui/templates/assets/asset_audit_log.html
Due: none

feat: preserve regressor field access context
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

test: assert unreadable regressor details
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
Due: flake8, black, generate-openapi-specs

style: align center column for users page
  flexmeasures/ui/templates/users/users.html
Due: none

docs: fix changelog merge conflict
  documentation/changelog.rst
Due: none

feat: clarify how we arrive at expected values in tests
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

refactor: fixture and tests share exact values
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Feat/sensor data source filtering (#2083)
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

mark schedule-triggering endpoint on sensors as deprecated
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

add missing sensor ID field to flex-model schema in asset's schedule-triggering endpoint
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

style: black (run pre-commit hooks)
  flexmeasures/cli/jobs.py
Due: flake8, black

chore: remove duplicate changelog entry
  documentation/changelog.rst
Due: none

fix: update job queue command to include ingestion
  documentation/host/installation.rst
Due: none

feat: be robust against error handler not accepting the message argument
  flexmeasures/auth/error_handling.py
Due: flake8, black

feat: log sensor ID and culprit field
  flexmeasures/auth/error_handling.py
Due: flake8, black

style: capitalize ID
  flexmeasures/auth/decorators.py
Due: flake8, black

refactor: space :)
  flexmeasures/auth/decorators.py
Due: flake8, black

test: split forecasting tests by db scope
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

feat: add asset crud UI tests
  flexmeasures/ui/tests/conftest.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black
