Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Add flexmeasures edit reset-rate-limit, to reset an account's rate limits
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/cli/data_edit.py
Due: flake8, black, generate-openapi-specs

Test resetting an account's rate limits
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

Move job_result_ttl beside get_job_timeout
  flexmeasures/data/automations.py
  flexmeasures/utils/job_utils.py
Due: flake8, black

Docs: resetting an account's rate limits
  documentation/cli/commands.rst
  documentation/host/plans.rst
Due: none

State the result-TTL rule rather than listing the queues it holds for
  flexmeasures/utils/job_utils.py
Due: flake8, black

Changelog: drop the contrast with a count that never shipped
  documentation/changelog.rst
Due: none

Changelog: resetting an organisation's rate limits
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Fix: plugin job ttl and saved rows (#2644)
  documentation/changelog.rst
  flexmeasures/data/automations.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
  flexmeasures/data/utils.py
  flexmeasures/utils/job_utils.py
Due: flake8, black

Keep a forecaster's transient source with its organisation
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Say when a cycle saved no forecast at all
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_persistence_fresh_db.py
Due: flake8, black

Docs: refusal warnings need LOGGING_LEVEL at WARNING or lower, which production servers are not by default
  documentation/host/plans.rst
Due: none

Pluralize the exempt message of reset-rate-limit, like its success message
  flexmeasures/cli/data_edit.py
Due: flake8, black

Let the reset-rate-limit tests that look up a user set that user up themselves, so they also pass when run on their own
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

Test that reset-rate-limit aborts when rate limiting is turned off
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

Docs: tell a plugin author what they need, not what the refactor did
  documentation/plugin/customisation.rst
Due: none

Refactor: Move forecast cycle persistence into the forecasting service (#2645)
  documentation/changelog.rst
  documentation/plugin/customisation.rst
  flexmeasures/cli/tests/test_data_add_db.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_persistence_fresh_db.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Count the beliefs a report saved, not the ones it computed
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/reporting.py
Due: flake8, black

Leave committing a report to its caller
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/reporting.py
Due: flake8, black

Stop announcing a report save that has already happened
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Docs: reflow how the two limits count, leave the trigger limit's key to #2679, and say that the UI spends the default budget, too
  documentation/host/plans.rst
Due: none

Shorten the docstring on what the default limit is counted against
  flexmeasures/api/common/rate_limiting.py
Due: flake8, black, generate-openapi-specs

remove redundant check of retired roles
  flexmeasures/data/services/users.py
Due: flake8, black

update comment about asset deletion rights
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

auth: restore account annotation boundary
  flexmeasures/data/models/user.py
Due: flake8, black

api/v3_0: test member denial for account annotations
  flexmeasures/api/v3_0/tests/test_annotations.py
Due: flake8, black, generate-openapi-specs

data/services: drop a belief only when it repeats the belief right before it
  flexmeasures/data/services/time_series.py
Due: flake8, black

data/tests: pin dropping unchanged beliefs for several belief times per event
  flexmeasures/data/tests/test_time_series_services_fresh_db.py
Due: flake8, black

changelog: a belief that changes back is no longer dropped
  documentation/changelog.rst
Due: none

data/services: treat NaN as repeating NaN, and keep unsaved sources apart
  flexmeasures/data/services/time_series.py
Due: flake8, black

auth: clarify sensor ACL scopes
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
Due: flake8, black

data/services: number each frame's rows and sources once
  flexmeasures/data/services/time_series.py
Due: flake8, black

data/services: save a row that occurs twice in one save once
  flexmeasures/data/services/time_series.py
Due: flake8, black

data/tests: pin saving a row that occurs twice in one save once
  flexmeasures/data/tests/test_time_series_services_fresh_db.py
Due: flake8, black

data/services: look up stored beliefs from the saving sources only
  flexmeasures/data/services/time_series.py
Due: flake8, black

data: drop what is left of the per-belief groupby
  flexmeasures/data/services/time_series.py
  flexmeasures/data/utils.py
Due: flake8, black

Drop a belief only when it repeats the belief right before it (#2687)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
  flexmeasures/data/tests/test_time_series_services_fresh_db.py
  flexmeasures/data/utils.py
Due: flake8, black

data/services: drop forecasts that repeat the belief right before them
  flexmeasures/data/services/forecasting.py
Due: flake8, black

cli/tests: pin re-running and confirming forecasts
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

changelog: re-running a forecast no longer fails, nor stores it again
  documentation/changelog.rst
Due: none

auth: preserve legacy ACL grants for custom roles
  documentation/changelog.rst
  documentation/dev/auth.rst
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_named_permissions.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
