Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: add sensor data source type filter
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: document sensor data source type filter
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

feat: cover sensor data source type filter
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

fix: simplify asset copy button behavior by removing some logic
  flexmeasures/ui/static/js/ui-utils.js
Due: none

Revert "fix: simplify asset copy button behavior by removing some logic"
  flexmeasures/ui/static/js/ui-utils.js
Due: none

Add "Copy this asset" button to the asset properties page (#2121)
  .github/agents/coordinator.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/test-specialist.md
  .github/agents/ui-specialist.md
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint-and-test.yml
  AGENTS.md
  documentation/changelog.rst
  documentation/concepts/security_auth.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/templates/assets/asset_audit_log.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/assets/assets.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/sensors/sensor_new.html
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/templates/users/users.html
  flexmeasures/ui/tests/conftest.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/tests/test_user_crud.py
  flexmeasures/ui/tests/test_views.py
  flexmeasures/ui/utils/breadcrumb_utils.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/users/logged_in_user.py
  flexmeasures/ui/views/users/views.py
Due: flake8, black, generate-openapi-specs

fix: default stats window is for the selected period
  flexmeasures/ui/templates/sensors/index.html
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

feat: show info when selecting stats for the whole history
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/sensors/index.html
Due: none

fix: default stats window is for the selected period (#2129)
  documentation/changelog.rst
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/sensors/index.html
Due: none

feat: implement serialization and deserialization for ingestion data, update job enqueue logic
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/data/services/data_ingestion.py
  flexmeasures/data/tests/test_data_ingestion.py
Due: flake8, black, generate-openapi-specs

docs: add changelog for regressor auth fix
  documentation/changelog.rst
Due: none

docs: add source_type changelog entry
  documentation/changelog.rst
Due: none

feat: reject blank source_type filter
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

tests: cover blank source_type requests
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: rewrite test to not rely on multi-commodity
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: rewrite test to prove that only when both HPs share a single commitment does the optimizer treat their stocks as a combined resource
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Update flexmeasures/auth/error_handling.py
  flexmeasures/auth/error_handling.py
Due: flake8, black

fix: do not coerce device_group into a time series
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

fix(forecasting): apply issue-time aware regressor selection
  flexmeasures/data/models/forecasting/model_spec_factory.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/data/tests/test_model_spec_factory_regressor_policy.py
Due: flake8, black

docs(changelog): add entry for issue-time regressor filtering fix
  documentation/changelog.rst
Due: none

docs: pretty_print is not specifically for FlowCommitments
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

docs: add (back) inline dev notes
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

feat: add check for exact electricity costs expected
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: strengthen asserts
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: sum over electricity costs; and move to StockCommitment to model preference for full soc sooner
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: replace vague assert with explicit asserts
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

docs: lose confusing comment
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: backwards compatibility in case no device is specified;
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

fix: when device is present but device_group is absent, fall back to the pre-existing behaviour — each device is its own group
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

dev: update expectations of how costs are shared between EV and battery
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

feat: Enhance replay functionality with auto-panning and viewport adjustments
  flexmeasures/ui/templates/includes/graphs.html
Due: none

Update flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/includes/graphs.html
Due: none

chore: add changelog entry
  documentation/changelog.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
