Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

insert PR id
  documentation/changelog.rst
Due: none

Fix device misalignment when flex-model entries are filtered from multi-device schedules
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Fill in changelog PR number
  documentation/changelog.rst
Due: none

docs: refresh toy setup price references
  documentation/tut/toy-example-setup.rst
Due: none

docs: refresh toy setup CLI examples
  documentation/tut/toy-example-setup.rst
Due: none

docs: refresh toy tutorial API examples
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
Due: none

docs: refresh toy tutorial UI examples
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
  documentation/tut/toy-example-process.rst
Due: none

docs: align toy tutorial outputs
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial5-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/tut/toy-example-setup.rst
Due: none

test: lock multi-device flex-model alignment (currently broken)
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: add a typed device inventory for schedulers
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
Due: flake8, black

Block image files from being committed (#2315)
  .pre-commit-config.yaml
  documentation/changelog.rst
Due: none

fix(ci): never claim :latest on a manual docker-publish run (#2316)
  .github/workflows/docker-publish.yml
  documentation/changelog.rst
  documentation/dev/release_process.rst
Due: none

feat: support source filters in sensor references for flex-model and flex-context (#2209)
  .github/instructions/testing.instructions.md
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/validation_utils.py
Due: flake8, black, generate-openapi-specs

Add soft constraint analysis (unresolved/resolved SoC constraints) to scheduling job results (#2072)
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/test-specialist.md
  .github/instructions/docstrings.instructions.md
  .github/instructions/feature-branch-sync.instructions.md
  AGENTS.md
  documentation/api/change_log.rst
  documentation/api/v3_0.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/scheduling_result.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
Due: flake8, black, generate-openapi-specs

Chore: check on startup if the db schema is on alembic head (#2309)
  flexmeasures/data/__init__.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

fix(ci): never claim :latest on a manual docker-publish run (#2316)
  .github/workflows/docker-publish.yml
  documentation/dev/release_process.rst
Due: none

Prepare v0.34.0rc1 pre-release on the 0.33 line
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

test: give the alignment regression tests their own parent site
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

fix: track devices via the inventory in the StorageScheduler
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: update toy-example-setup
  documentation/tut/toy-example-setup.rst
Due: none

docs: restore toy account setup output
  documentation/tut/toy-example-setup.rst
Due: none

fix: drop two stray tests from the #2209 conflict resolution
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

fix: when zoom out only the tree zooms out but not the whole canvas
  flexmeasures/ui/templates/_macros.html
Due: none

docs: align toy setup CLI output
  documentation/tut/toy-example-setup.rst
Due: none

Make the fast (ECharts) chart the default, Vega-Lite the fallback
  documentation/changelog.rst
  flexmeasures/ui/templates/includes/graphs.html
Due: none

job status emdpoint also gets 202 status (and 422 for failures); use camel-case - even in existing job status endpoitn fields (using the new field-deprecation logic)
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

config: preserve forecasting timeout default
  flexmeasures/utils/config_defaults.py
Due: flake8, black

feat: report unknown timeout queues
  flexmeasures/utils/job_utils.py
Due: flake8, black

docs: update changelog entry
  documentation/changelog.rst
Due: none

docs: describe job timeout queue defaults
  documentation/configuration.rst
Due: none

test: cover timeout defaults
  flexmeasures/utils/tests/test_job_utils.py
Due: flake8, black

docs: clarify annotation regressor notes
  documentation/changelog.rst
  documentation/features/forecasting.rst
Due: none

refactor(data): share annotation query filters
  flexmeasures/data/queries/annotations.py
Due: flake8, black

fix: validate annotation regressor source IDs
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: restore training cycle log
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

test(cli): avoid duplicate annotation forecast writes
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

fix: preserve annotation regressors in execution
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

refactor: one source of truth for the commodity device enumeration
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: a state of charge given as a value or time series forms its own stock
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
Due: flake8, black

fix: tolerate unflushed assets when collecting the flex config
  flexmeasures/conftest.py
  flexmeasures/data/models/generic_assets.py
Due: flake8, black
