Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

data/schemas/sensors: break a comment after punctuation, as the convention asks
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: limit this to refusing a key no reference has
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/flexibility-configuration.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

Docs: show the automations page in screenshots (#2628)
  documentation/changelog.rst
  documentation/features/automations.rst
  documentation/views/asset-data.rst
Due: none

Let a script say which organisation its data source belongs to
  documentation/changelog.rst
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/utils.py
Due: flake8, black

data/schemas/sensors: let a schema extending the reference accept what it declares
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

docs/api: say that a reference takes more than its filters, and name source-account among them
  documentation/api/notation.rst
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

Refuse a key no sensor reference has, and say where each spelling belongs (#2656)
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/flexibility-configuration.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

Pin the ordering the refusal depends on
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: order an asset's sensors by id
  documentation/changelog.rst
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

docs/changelog: link PR #2637 in the sensor order entry
  documentation/changelog.rst
Due: none

docs: remove asset sensor warning
  documentation/changelog.rst
Due: none

Skip missed automation runs older than a given bound
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
Due: flake8, black

Let run-automations bound how old a caught-up run may be
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

data/models/forecasting: describe the sensor being forecast with "auto" alone
  documentation/changelog.rst
  documentation/features/forecasting.rst
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

data/services/automation_copies: copy a forecaster that qualifies the sensor it forecasts
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

Say where a forecaster's config changes meaning, and warn of source churn on upgrade
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

data/schemas/forecasting: check an "auto" entry's qualifiers when its config is accepted
  flexmeasures/data/schemas/forecasting/references.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

Break the docstrings of the review follow-ups after punctuation
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

data/services/automations: pin a retried forecast run's start
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/automations.py
Due: flake8, black

data/tests: cover a forecast run resumed hours after its first attempt
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

docs/automations: a resumed run keeps the window its first attempt started on
  documentation/features/automations.rst
Due: none

Document bounding automation catch-up
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
Due: none

Docs: show the data source search and Copy in the automations screenshots
  documentation/features/automations.rst
Due: none

Docs: show the data source search and Copy in the automations screenshots (#2662)
  documentation/features/automations.rst
Due: none

ui: account name larger, in heading
  flexmeasures/ui/templates/accounts/account.html
Due: none

ui/accounts: match audit date display to other logs
  flexmeasures/ui/templates/accounts/account_audit_log.html
Due: none

ui/tests: cover account audit date source
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black

docs: note consistent organisation audit dates
  documentation/changelog.rst
Due: none

ui/accounts: keep audit dates visible when formatting fails
  flexmeasures/ui/templates/accounts/account_audit_log.html
Due: none

ui/tests: require visible account audit dates
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black

changelog entry: PR number
  documentation/changelog.rst
Due: none

data/services/automation_copies: check the source filters an "auto" entry carries
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

data/services/automations: refuse a qualified sensor to forecast when an automation is created
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

docs/changelog: drop the sensor-order notes and link this PR
  documentation/changelog.rst
Due: none

test: undo the rows a test adds to a shared module database, also when it fails
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/cli/tests/test_data_add_db.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/conftest.py
Due: flake8, black, generate-openapi-specs

test: keep db and fresh_db working for plugins that import only those
  flexmeasures/conftest.py
Due: flake8, black

docs/changelog: drop the duplicated sensor-order entry and its pointer to the removed warning
  documentation/changelog.rst
Due: none

fix: order every unordered collection of related objects by id
  documentation/changelog.rst
  flexmeasures/data/models/annotations.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
  flexmeasures/data/tests/test_relationship_order.py
Due: flake8, black

data/models/forecasting: make target_qualifiers public, as two modules read it
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Changelog: say that an automation is no longer created with a qualified sensor to forecast
  documentation/changelog.rst
Due: none
