Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

uploading/posting beliefs works without Redis (again) (#2207)
  documentation/changelog.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Fail clearly on insufficient forecasting history by translating Darts fit errors (#2192)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

feat: Update asset type handling and add AssetTypeIdField for better deserialization
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

Select regressor beliefs per `(event_start, regressor)` in forecasting covariate assembly (#2155)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

chore: code formatting
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Handle standardized `sensors_to_show` plots in `flexmeasures show asset` (#2189)
  documentation/changelog.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_show.py
Due: flake8, black

feat: coupling groups for CHP
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Enhance asset management by cleaning up stale references in graphs and improving error handling for asset fetching
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

feat: test factory model
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

docs: punctuation
  flexmeasures/data/models/planning/tests/test_utils.py
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

chore: update openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

docs: clarify effect of setting consumption_is_positive
  documentation/concepts/data-model.rst
Due: none

fix: improve test quality
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

fix: enqueue forecasting jobs with explicit payloads
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

test: assert forecasting job payload is session safe
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

test: detect mapped job payload objects
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: avoid forwarding compute kwargs to forecast jobs
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

style: format forecast job wrapper
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

Update changelog with new asset reference handling
  documentation/changelog.rst
Due: none

docs: add changelog for forecast job fix
  documentation/changelog.rst
Due: none

fix: keep forecasting pipeline objects session-local
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

fix: enqueue train-predict jobs with explicit payloads
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

test: assert forecast job payloads are session safe
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: use past tense to discriminate between what the endpoint does and what the scheduler did
  documentation/api/notation.rst
Due: none

feat: allow setting a consumption/production sensor in the flex-model of an asset (#2190)
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

docs: update tutorial scripts so that docker container name is correct even if repo folder is not named 'flexmeasures'. Also make parametrisable
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/scripts/run-tutorial5-in-docker.sh
Due: none

catch 404 errors without exc_info as well
  .github/agents/test-specialist.md
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/error_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

docs: improve units section in API notation docs with Pint reference, examples, and unit_utils link (#2211)
  documentation/api/notation.rst
Due: none

changelog entry
  documentation/changelog.rst
Due: none

fix: Fix asset deletion test by using a dedicated reference holder for stale asset references
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Catch 404 errors in Sentry interation without exc_info as well (#2212)
  .github/agents/test-specialist.md
  documentation/changelog.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/error_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

fix: @validates("storage_efficiency") uses self.consumption/self.production which are field descriptors, not data values — causing an AttributeError
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

fix: pass validation if device flex-model contains a power sensor (see previous commit)
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

feat: raise explicit error rather than passing silently when the resolution of the storage-efficiency cannot be inferred
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: update tests
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

test: Update asset deletion test to clean stale references using fresh database context
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

refactor: combine tests for checking StorageFlexModelSchema and DBStorageFlexModelSchema
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs
