Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Build the EMS-level flow commitment rows in the direct HiGHS backend
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
Due: flake8, black

Address review round 5: resolve the schema once, and act only on it
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
  pyproject.toml
Due: flake8, black

Summarise which sources recorded for which sensors
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/f1c8a3d75e29_add_sensor_data_source_table.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_sensor_data_source.py
Due: flake8, black

Point the changelog entry at the right PR number
  documentation/changelog.rst
Due: none

review: name the solver-results shim after Pyomo's own class
  flexmeasures/data/models/planning/highspy_optimization.py
Due: flake8, black

Address review round 6: use the right schema form in each place
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
Due: flake8, black

Do not claim a fixed index count in the changelog
  documentation/changelog.rst
Due: none

style: reflow docstrings and comments to break only after punctuation
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Add a Pyomo-free scheduling backend (direct highspy model construction) (#2364)
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/deployment.rst
  documentation/host/installation.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Address review: break docstrings and comments only after punctuation
  flexmeasures/data/migrations/versions/f1c8a3d75e29_add_sensor_data_source_table.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_sensor_data_source.py
Due: flake8, black

Address review: install the trigger from the metadata, and fix stale docstrings
  flexmeasures/data/models/time_series.py
Due: flake8, black

Require new tests to be proven capable of failing
  .github/instructions/testing.instructions.md
  CLAUDE.md
Due: none

Run the scheduler constraint tests under both backends
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

style: reflow coupling docstrings to break only after punctuation
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

review: tighten the instruction
  .github/instructions/testing.instructions.md
  CLAUDE.md
Due: none

review: show the exempt modules pass under the other backend too
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

Require new tests to be proven capable of failing (#2384)
  .github/instructions/testing.instructions.md
  CLAUDE.md
Due: none

review: reflow this PR's docstrings and comments
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

review: use timezone-aware datetimes in the coupling schema tests
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

review: drop the comment pointing at the PR description
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

Add an advisory agent hook for mid-phrase line breaks
  .claude/hooks/reflow-check.sh
  .claude/hooks/reflow_check.py
  .claude/settings.json
Due: flake8, black

Run the scheduler constraint tests under both backends (#2385)
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

Add an advisory agent hook for mid-phrase line breaks (#2386)
  .claude/hooks/reflow-check.sh
  .claude/hooks/reflow_check.py
  .claude/settings.json
Due: flake8, black

Address review: explain the trigger plainly, and test what the docstring claims
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_sensor_data_source.py
Due: flake8, black

Combined Heat and Power (CHP) (#2218)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

Accept arbitrary commodities in a stored flex-model
  documentation/tut/multi-commodity.rst
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

docs: use inflexible-consumption in the internal-node guidance
  documentation/tut/multi-commodity.rst
Due: none

review: drop a stray file, clarify the tutorial, quieten the internal-node log
  .git-exclude
  documentation/tut/multi-commodity.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

review: reflow this PR's docstrings and comments
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

docs: give inflexible devices in the flex-model their own section
  documentation/features/scheduling.rst
  documentation/tut/multi-commodity.rst
Due: none

Add an advisory agent hook reviewing the files a push adds
  .claude/hooks/push-file-review.sh
  .claude/hooks/push_file_review.py
  .claude/settings.json
Due: flake8, black

docs: changelog reference for dependency upgrade PR
  documentation/changelog.rst
Due: none

Add an advisory agent hook reviewing the files a push adds (#2387)
  .claude/hooks/push-file-review.sh
  .claude/hooks/push_file_review.py
  .claude/settings.json
Due: flake8, black

docs: hint at larger sites rather than implying we walked through one
  documentation/tut/multi-commodity.rst
Due: none

Balance internal commodity nodes (heat/steam networks) via first-class balance groups (#2289)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/tut/multi-commodity.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Warn on startup when TRUSTED_HOSTS is unset
  documentation/configuration.rst
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

docs: changelog reference for the TRUSTED_HOSTS startup warning
  documentation/changelog.rst
Due: none

Address review: end the inline comment with punctuation
  flexmeasures/utils/config_defaults.py
Due: flake8, black
