Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Name the data source when it stores no generator of the right kind
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Say which window fields each automation type takes on their own
  documentation/features/automations.rst
  flexmeasures/data/services/automations.py
Due: flake8, black

Name the automation endpoints' last two fields in kebab-case too (#2545)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

ui/automations: let a new forecast automation be configured as it is created
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

tests: cover the configuration fields on the New automation form
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Support plugin-defined automations
  documentation/features/automations.rst
  documentation/plugin/customisation.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_plugin_automations_api_fresh_db.py
  flexmeasures/app.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_plugin_automations.py
  flexmeasures/data/automations.py
  flexmeasures/data/migrations/versions/b63a02d5e184_automation_execution_user.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/plugins/mock_ingestion/__init__.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/plugin_utils.py
Due: flake8, black, generate-openapi-specs

data/models/forecasting: extract reusable bound parsing and application
  flexmeasures/data/models/forecasting/utils.py
Due: flake8, black

Add changelog entry for plugin automations
  documentation/changelog.rst
Due: none

data/models/forecasting: hand the model each regressor once, not once per regressor
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

data/schemas/forecasting: clean a forecaster's inputs against per-sensor bounds
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/forecasting/references.py
Due: flake8, black, generate-openapi-specs

data/tests: cover input bounds and the one-component-per-regressor fix
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Log a Click error from every CLI group, not just from `add report`
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/db_ops.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
Due: flake8, black

data/schemas/tests: cover cleaning bounds on forecaster references
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

docs: describe cleaning a forecaster's inputs
  documentation/features/forecasting.rst
Due: none

Use kebab-case in mock automation schema
  flexmeasures/api/v3_0/tests/test_plugin_automations_api_fresh_db.py
  flexmeasures/data/tests/plugins/mock_ingestion/__init__.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black, generate-openapi-specs

docs/changelog: note input cleaning bounds and the duplicated-regressor fix
  documentation/changelog.rst
Due: none

changelog: link the automations page improvements to PR #2554
  documentation/changelog.rst
Due: none

Log one line when the CLI rejects an option value (#2544)
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/db_ops.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
Due: flake8, black

utils/unit_utils: read a quantity string without catching every exception
  flexmeasures/utils/unit_utils.py
Due: flake8, black

utils/unit_utils: stop reassigning a str parameter to str | None
  flexmeasures/utils/unit_utils.py
Due: flake8, black

data/schemas: let any sensor reference carry cleaning bounds
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/forecasting/references.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/tests: follow the cleaning bounds onto the shared sensor reference
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

data/schemas/forecasting: say that references take bounds, and flag ensure-positive
  flexmeasures/data/models/forecasting/custom_models/base_model.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: note that the bounds live on any sensor reference
  documentation/features/forecasting.rst
Due: none

List the automations and jobs of only those assets below which the user may read
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

Move the UI's session endpoints out of the official API, into kebab-case
  flexmeasures/api/dev/__init__.py
  flexmeasures/api/dev/session.py
  flexmeasures/api/dev/tests/test_session.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/tests/test_field_naming.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Document the move, the kebab-case parameter and the permission check, and trim the changelog entry
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
Due: none

Take an automation's window on the command line, and document offset chains
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

Show --duration in add automation's help, as every automation type takes it
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/utils.py
Due: flake8, black

List only an asset's own automations and jobs, unless asked for the assets below
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Include the assets below again by default, as #2447 asked
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/dev/session.py
  flexmeasures/api/dev/tests/test_session.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Name the field a stored end-offset is missing, rather than raising a KeyError
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
Due: flake8, black

Resolve a schedule automation's generator for the run it belongs to
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Keep a report from reaching back past what it already covered
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
Due: flake8, black

Carry the sub-second part of a calendar duration
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
Due: flake8, black

Say how an automation times its runs where the API and the UI describe its parameters
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Say which durations follow the calendar, and which belief time was renamed
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/data/services/automations.py
Due: flake8, black

utils/bound_utils: share bound parsing and validation between schemas and generators
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/utils/bound_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: refuse bounds a sensor reference cannot apply when it is loaded
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/utils/bound_utils.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: refuse bounds on flex-model and flex-context references until scheduling applies them
  documentation/features/forecasting.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/bound_utils.py
Due: flake8, black, generate-openapi-specs
