Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: resolve merge conflicts on _build_soc_schedule, copied from Ahmad
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: remove redundant code block
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

dev: use "state-of-charge" key instead of "sensor" key for stock models
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: skip StockCommitment for device models that outsource their stock model to a separately modeled device
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: old flex models that describe a device that serves both as a feeder and stock are both categorized as device models and stock models
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: model stock devices using the state-of-charge field instead of the sensor field
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: identify asset to merge with db flex-model
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

fix: validation
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: flex-model setup in test
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

add a screenshot for annotations to the new concept page in the docs
  documentation/concepts/annotations.rst
Due: none

fix some links in OpenAPI endpoint descriptions
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black

correct the caption
  documentation/concepts/annotations.rst
Due: none

Add POST endpoints for creating annotations on accounts, assets, and sensors (#1968)
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  AGENTS.md
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/concepts/annotations.rst
  documentation/concepts/data-model.rst
  documentation/index.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/annotations.py
  flexmeasures/data/schemas/account.py
  flexmeasures/data/schemas/annotations.py
  flexmeasures/data/tests/test_annotations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black, generate-openapi-specs

Increase event string length to 500 characters in audit logs and update related logic
  flexmeasures/data/migrations/versions/3f4a6f9d2b11_increase_audit_event_length_to_500.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

chore: fix: update getAsset calls to prevent context retrieval issues
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

feat: add vertical hover ruler to chart layers for improved data visualization
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

chore: added changelog entry
  documentation/changelog.rst
Due: none

feat: highlight data point with tooltip
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

feat: enhance temporary sensor layers with hover ruler and resolution support
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

style: black
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

chore: update changelog
  documentation/changelog.rst
Due: none

Refactor: enhance _graph_label function to improve label generation for graphs
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

refactor: Enhance _graph_label function to include asset and flex-context references in audit log messages
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

fix: Fixed failing tests
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

fix: handle missing state-of-charge sensors
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

docs: refresh generated OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix: use device sensor for soc percent fallback
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: align state-of-charge validator typing
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

docs: clarify stale state-of-charge behavior
  documentation/tut/forecasting_scheduling.rst
Due: none

docs: add changelog for dynamic soc-at-start
  documentation/changelog.rst
Due: none

Enhance JSON field change formatting for audit logs (#2055)
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/3f4a6f9d2b11_increase_audit_event_length_to_500.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
  pyproject.toml
  uv.lock
Due: flake8, black

forecasting: drop legacy rolling job helpers
  flexmeasures/data/services/forecasting.py
  flexmeasures/utils/time_utils.py
Due: flake8, black

tests: stop using retired forecasting job factory
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black, generate-openapi-specs

tests: replace rolling forecasting job coverage
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/data/tests/test_forecasting_jobs_fresh_db.py
Due: flake8, black

tooling: align forecasting helper with pipeline
  flexmeasures/cli/testing.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black

feat: add source account query criterion
  flexmeasures/data/queries/utils.py
Due: flake8, black

feat: thread source account filters through time series search
  flexmeasures/data/models/time_series.py
Due: flake8, black

feat: accept source account filters in sensor data schema
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

fix: document sensor data query schema correctly
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

test: cover source account filtering in sensor data GET
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs
