Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: do not crash in case of a None soc field
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

revert: also keep making sure we convert belief horizons to belief times
  flexmeasures/data/services/time_series.py
Due: flake8, black

refactor: nope, actually redundant, because we already did this exact conversion earlier
  flexmeasures/data/services/time_series.py
Due: flake8, black

refactor: reuse existing variable defining canonical order of index levels
  flexmeasures/data/services/time_series.py
Due: flake8, black

feat: add regression test
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

cli/monitor: consolidate alert recipients
  documentation/changelog.rst
  documentation/host/error-monitoring.rst
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
Due: flake8, black

Feat/monitoring more fine grained (#2158)
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/error-monitoring.rst
  flexmeasures/api/common/schemas/users.py
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

refactor: simplify test, incl. by not mixing timezone offsets
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

refactor: rename variable to match variable name in test_trigger_schedule_floors_flex_model_datetimes
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

refactor: use search method over writing custom query
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
Due: flake8, black, generate-openapi-specs

feat: test resampling from 5 to 15 minutes
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
Due: flake8, black, generate-openapi-specs

chore: modify chnagelog
  documentation/changelog.rst
Due: none

chore: add changelog entry
  documentation/changelog.rst
Due: none

refactor: use fresh_db fixture in fresh_db test module
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

feat: double check that the flex_context was empty before the patch
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

chore: update minimum requirement on pyproject.toml, too
  pyproject.toml
  uv.lock
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

Fix: correct flex-config data format for Asset API updates and enhance JSON deserialization handling
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/data/schemas/attributes.py
Due: flake8, black, generate-openapi-specs

Revert "Merge branch 'fix/asset-patch-accept-json-object-flex-context' of github.com:FlexMeasures/flexmeasures into fix/asset-patch-accept-json-object-flex-context"
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

Revert "chore: modify chagelog"
  documentation/changelog.rst
Due: none

Fix: include belief time in fixed-value records for chart data (#2147)
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

feat: enhance date formatting and humanize duration in user and account templates
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/users/users.html
Due: none

chore: modify changelog
  documentation/changelog.rst
Due: none

Standardize resolution formatting across API endpoints for consistent response payloads (#2152)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/users/user_audit_log.html
  flexmeasures/ui/templates/users/users.html
Due: flake8, black, generate-openapi-specs

feat: implement job status polling for background data processing
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

fix: reporter crashing on `KeyError: 'Level source not found'` (#2159)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

docs: remove duplicate changelog entries
  documentation/changelog.rst
Due: none

Fix/build device soc values (#2160)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Backport PR #2159: fix: reporter crashing on `KeyError: 'Level source not found'` (#2159)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

Backport PR #2160: Fix/build device soc values (#2160)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs: changelog date for v0.32.2
  documentation/changelog.rst
Due: none

Backport: docs: changelog date for v0.32.2
  documentation/changelog.rst
Due: none

Backport PR #2147: Fix: include belief time in fixed-value records for chart data (#2147)
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

docs: reassign PR #2147 from v0.33.0 to v0.32.2
  documentation/changelog.rst
Due: none

fix: make `running_as_cli` also pick up on running CLI commands using `flask` instead of `flexmeasures`
  flexmeasures/cli/__init__.py
Due: flake8, black

Fix auth check when running CLI command with `flask` (#2169)
  documentation/changelog.rst
  flexmeasures/cli/__init__.py
Due: flake8, black

feat: enhance job status polling with in-progress notifications
  flexmeasures/ui/static/js/ui-utils.js
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
