Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

tests: cover the status page tabs and the tab preference endpoint
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs: add changelog entry for the status page tabs
  documentation/changelog.rst
Due: none

ui/status: stop the tab tables opting into the global pagination helper
  flexmeasures/ui/templates/sensors/status.html
Due: none

tests: assert the status tables stay out of the global pagination helper
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

ui/status: keep the jobs table out of the nav-on-click helper too
  flexmeasures/ui/templates/sensors/status.html
Due: none

tests: check both tab landings leave the status tables unbuilt
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs: point the status page changelog entry at its PR
  documentation/changelog.rst
Due: none

Address review of the scheduler data generator
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/migrations/versions/3e91c47b0a58_merge_schedule_automations_with_main.py
  flexmeasures/data/migrations/versions/5a9c0e3b7d21_allow_schedule_automations_without_generator.py
  flexmeasures/data/migrations/versions/a71d6f2c9b04_name_automation_types_after_the_task.py
  flexmeasures/data/migrations/versions/b8f4d2617ac9_require_a_generator_on_every_automation.py
  flexmeasures/data/migrations/versions/c63896a97a8e_merge_the_automation_timezone_and_.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/schemas/scheduler_config.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/config.py
  flexmeasures/data/schemas/scheduling/groups.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/scheduling/utils.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black, generate-openapi-specs

docs/changelog: say what a second schedule source means for reading a sensor
  documentation/changelog.rst
Due: none

Keep a scheduler's data source identity stable
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/schemas/scheduling/config.py
  flexmeasures/data/schemas/tests/test_scheduler_config.py
Due: flake8, black, generate-openapi-specs

Count an event once in a KPI, when several sources report it
  documentation/views/asset-data.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

docs/changelog: record the KPI fix
  documentation/changelog.rst
Due: none

Send the request's configuration to the device jobs, not a data source id
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

Trigger a single automation run on demand, via CLI, API and UI (#2460)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

Apply batched suggestions from code review
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

feat: hint at comma-separated format when a FLEXMEASURES_PLUGINS entry fails to import
  documentation/changelog.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

tests: clear Redis after the test that only queues jobs
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

tests: cover the version priority a KPI applies, and say where ties stop
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/time_series.py
Due: flake8, black, generate-openapi-specs

docs: reflow the tie-order docstring to break after punctuation
  flexmeasures/data/models/time_series.py
Due: flake8, black

docs: reflow two lines that broke mid-phrase
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

tests: fetch each queued job once
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

Fix what the asset status page reports about its sensors (#1718)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

Report on sensors recorded by any source type on the status page (#1718)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

Keep one changelog entry for the status page fixes (#1718)
  documentation/changelog.rst
Due: none

Point the changelog entry at the actual PR (#1718)
  documentation/changelog.rst
Due: none

Fix docstring formatting for sensor status serialization
  flexmeasures/data/services/sensors.py
Due: flake8, black

Fix comment punctuation in test_sensor_data_schema.py
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

Drop obsolete tables missed by the earlier cleanup
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/8f4a1d0c2e77_drop_obsolete_tables_missed_by_earlier_cleanup.py
Due: flake8, black

Reference the PR in the changelog entry
  documentation/changelog.rst
Due: none

Make the emptiness check reliable on tables that hold data
  flexmeasures/data/migrations/versions/8f4a1d0c2e77_drop_obsolete_tables_missed_by_earlier_cleanup.py
Due: flake8, black

Condense the changelog entry to a single sentence
  documentation/changelog.rst
Due: none

Read the confirmation prompt back as prose
  flexmeasures/data/migrations/versions/8f4a1d0c2e77_drop_obsolete_tables_missed_by_earlier_cleanup.py
Due: flake8, black

Keep the fresh_db status tests in their own module (#1718)
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/common/schemas/tests/test_sensor_status_fresh_db.py
Due: flake8, black, generate-openapi-specs

Fix the same emptiness check in ad98460751d9
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/ad98460751d9_remove_obsolete_tables.py
Due: flake8, black

Run the pre-commit hook against the tree being committed, and only for commits
  .claude/hooks/pre-commit-check.sh
Due: none

Drop children before parents in ad98460751d9
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/ad98460751d9_remove_obsolete_tables.py
Due: flake8, black

Harden the commit hook's command and path parsing
  .claude/hooks/pre-commit-check.sh
Due: none

Read a quoted path whole when it names the tree to check
  .claude/hooks/pre-commit-check.sh
Due: none

Reflow comment in pre-commit-check.sh
  .claude/hooks/pre-commit-check.sh
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
