Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: reject non-electricity semantics in the single-dict flex-context
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: raise ValidationError for malformed flex-context input
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

refactor: drop dead 'types' comment blocks in UI_FLEX_CONTEXT_SCHEMA
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

test: add schema-level regression tests for hardening fixes
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

test: add scheduler-level regression tests for gas-only and per-commodity inflexible sensors
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

docs: changelog entry for multi-commodity hardening fixes
  documentation/changelog.rst
Due: none

fix: count only device models, not stock entries, when enumerating devices in _prepare
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: declare commodity field on FlexContextSchema
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: tolerate commodities list combined with top-level flex-context fields
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

refactor: use units_are_convertible for scheduler-side currency check; fix stale comment
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

test: strengthen per-commodity inflexible sensor test; cover electricity-only aggregate indices
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: keep deprecated price sensors working and fix breach-price error attribution
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: skip commodity device groups without devices in _prepare
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

test: pin relax-constraints False in tests asserting hard-capacity semantics
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: exclude the commodity field from the UI flex-context schema guard
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black

test: fix sign convention of inflexible gas load beliefs
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Add commodity field to CommitmentSchema
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

Add smarter defaults for commodity contexts
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Fix spurious cross-currency error for price-free commodity contexts
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Warn when a commitment's commodity matches no devices
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Note commodity-context defaults behaviour change in changelog
  documentation/changelog.rst
Due: none

docs: reorder and consolidate changelog entries per self-review
  documentation/changelog.rst
Due: none

docs: restore intentional 'types' notes on UI_FLEX_CONTEXT_SCHEMA aggregate fields
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

Point CommitmentSchema.commodity docs to the commodities list
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: preserve serialized forecast job payloads
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

test: cover serialized forecast job payloads
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: clarify forecast job payload serialization
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

docs: document forecast job payload helpers
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

docs: remove duplicate changelog entry
  documentation/changelog.rst
Due: none

feat: add forecast post-processing helpers
  flexmeasures/data/models/forecasting/utils.py
Due: flake8, black

feat: expose post-processing config
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

feat: pass post-processing config
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

feat: apply post-processing before saving
  flexmeasures/data/models/forecasting/pipelines/predict.py
Due: flake8, black

test: cover forecast post-processing
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

test: cover post-processing config schema
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

docs: update forecasting config schema
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: document output post-processing
  documentation/features/forecasting.rst
Due: none

docs: add forecast post-processing changelog entry
  documentation/changelog.rst
Due: none

Add soft constraint analysis (unresolved/resolved SoC constraints) to scheduling job results (#2072)
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/test-specialist.md
  .github/instructions/docstrings.instructions.md
  .github/instructions/feature-branch-sync.instructions.md
  AGENTS.md
  documentation/api/change_log.rst
  documentation/api/v3_0.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/scheduling_result.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
Due: flake8, black, generate-openapi-specs

test: cover unitless forecast snapping
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
