Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: move composite actions to dedicated folder
  .github/actions/setup-test-env.yml
Due: none

fix: ensure cache path exists
  .github/workflows/lint-and-test.yml
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

Fix composite action location and missing checkout in CI workflows (#1999)
  .github/actions/setup-test-env/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint-and-test.yml
  flexmeasures/data/scripts/visualize_data_model.py
Due: flake8, black

revert: wrong version, and Brunei still exists
  flexmeasures/ui/static/openapi-specs.json
Due: none

style: use Bootstrap spinner
  flexmeasures/ui/templates/sensors/index.html
Due: none

Fix/copilot setup steps shares steps with lint and test (#1998)
  .github/actions/setup-test-env/action.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint-and-test.yml
  documentation/changelog.rst
  flexmeasures/data/scripts/visualize_data_model.py
Due: flake8, black

update and add new assertions with clear explanation
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

update the docstring
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: raise to fail job instead of just logging a worker warning
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

style: consistent hyphenation
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: add missing field docs
  documentation/features/scheduling.rst
Due: none

fix: update test to check job fails
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

fix: CLI options require serialized defaults
  flexmeasures/cli/utils.py
Due: flake8, black

fix: pass already deserialized config to forecaster
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/data_sources.py
Due: flake8, black

feat: add support for shared storage
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

remove the breakpoint
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: update the test case for two devices with shared stock
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: add assertions with clear reasons
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: add missing soc-at-start field docs
  documentation/features/scheduling.rst
Due: none

fix: add missing aggregate-power field docs
  documentation/features/scheduling.rst
Due: none

fix: missing aggregate-power field description in Swagger
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: add test to verify all flex-config fields are documented in scheduling.rst
  tests/__init__.py
  tests/documentation/__init__.py
  tests/documentation/test_schemas.py
Due: flake8, black

fix: just a few fields are intentionally excluded from the documentation
  tests/documentation/test_schemas.py
Due: flake8, black

fix: add missing commitments field docs
  documentation/features/scheduling.rst
Due: none

style: black
  tests/documentation/test_schemas.py
Due: flake8, black

chore: advance fix from v0.32.0 to v0.31.1
  documentation/changelog.rst
Due: none

Update documentation/views/asset-data.rst
  documentation/views/asset-data.rst
Due: none

Update flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

feat: cross-reference the section explaining commitments
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black, generate-openapi-specs

feat: still link Swagger to Sphinx, but use the search functionality (the Sphinx anchor mapping is not really working yet for Swagger)
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black

Docs/missing flex config fields (#2003)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
  tests/__init__.py
  tests/documentation/__init__.py
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

chore: initialize repo
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: udpate temp sensor naming sceme
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

chore: persisten root asset selection
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

refactor: move tiny-price-slope decleration out of the for loop
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Revert "refactor: move tiny-price-slope decleration out of the for loop"
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

refactor: move tiny-price-slope decleration out of the for loop
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: still link Swagger to Sphinx, but use the external RTD stable docs in case local docs are missing (not built)
  flexmeasures/ui/__init__.py
  flexmeasures/utils/doc_utils.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
