Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: clarify source filters for sensor data GET
  documentation/api/notation.rst
Due: none

docs: add changelog entry for sensor data source filtering
  documentation/changelog.rst
Due: none

chore: refresh generated OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

feat: couple circle outline to line width
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

docs: API changelog entry
  documentation/api/change_log.rst
Due: none

Feat/forecasting belief time (#1978)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/conftest.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: guard sensor_d against None in StorageScheduler._prepare
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

style: flake8
  flexmeasures/data/migrations/versions/b2e07f0dafa1_merge.py
Due: flake8, black

fix: click context issue for an apparently different local way of running the web server
  flexmeasures/data/schemas/utils.py
Due: flake8, black, generate-openapi-specs

fix: _resolve_soc_at_start_from_state_of_charge converts to MWh
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: override the soc-unit in all three cases to avoid confusion
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat add test coverage for correct soc-unit when soc-at-start is derived from state-of-charge sensor
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: interpretation of soc_max when computing soc in MWh from %
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: do not override soc-unit, because soc-min and soc-max may not be converted to MWh yet
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Fix drop_unchanged prior-belief selection regression.
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

fix: bring back margins
  flexmeasures/ui/static/css/flexmeasures.css
Due: none

fix: create stock group
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

use soc-sensor in case of missing power sensor and also correct stock groups
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: create stock model for a model which has itself stock
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

update the assert statements
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

remove stock-id field
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: clarify why we add a creation audit log record in a test
  flexmeasures/cli/tests/test_data_delete.py
Due: flake8, black

fix: stack multiple regressors by component
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

test: add regression coverage for multiple regressors
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: add changelog entry
  documentation/changelog.rst
Due: none

docs: fix pr number in changelog entry
  documentation/changelog.rst
Due: none

feat: rename sensor data account filter parameter
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: align sensor data docs with account filter parameter
  documentation/api/notation.rst
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

test: update sensor data account filter request
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: regenerate OpenAPI specs for account filter parameter
  flexmeasures/ui/static/openapi-specs.json
Due: none

feat: use kwargs in source criteria call
  flexmeasures/data/models/time_series.py
Due: flake8, black

feat: add metadata to sensor data query schema
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: share sensor data query filters in a mixin
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: add source account ids to search schemas
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/__init__.py
Due: flake8, black, generate-openapi-specs

refactor: rename temp_sensor_resolution to minimum_non_zero_resolution for clarity
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

Sensor page: Stop side-panels using vertical space when closed (#2033)
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

docs: add Available Agents section to AGENTS.md so specialist subagents are discoverable (#2090)
  AGENTS.md
Due: none

fix: improve sensor reference handling and format validation in asset graph
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs
