Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: shrink docker image by excluding dev deps and pruning sktime's stray docs/examples
  Dockerfile
  documentation/changelog.rst
Due: none

ci: test ingestion with clients from v0.7.0
  .github/workflows/docker-qa.yml
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
  documentation/tut/scripts/run-data-ingestion.py
Due: flake8, black

tests: cover legacy ingestion method adaptation
  tests/documentation/test_data_ingestion_tutorial.py
Due: flake8, black

ci: make v0.8 HEMS scheduling verifiable
  .github/workflows/docker-qa.yml
Due: none

ci: avoid ripgrep dependency in HEMS QA
  .github/workflows/docker-qa.yml
Due: none

update changelog entry
  documentation/changelog.rst
Due: none

docs: fill in the PR number in the changelog entry
  documentation/changelog.rst
Due: none

docker: strip symbol tables from the compiled extensions
  Dockerfile
Due: none

docs: widen the Docker image entry to cover the stripping
  documentation/changelog.rst
Due: none

fix: shrink docker image by excluding dev deps and pruning sktime's s… (#2438)
  Dockerfile
  documentation/changelog.rst
Due: none

deps: depend on plain timely-beliefs, not its forecast extra
  pyproject.toml
  uv.lock
Due: none

docs: widen the Docker image entry to cover the dropped forecast extra
  documentation/changelog.rst
Due: none

docker: fail the build when strip is missing, instead of silently skipping
  Dockerfile
Due: none

docker: break the strip comment only after punctuation
  Dockerfile
Due: none

Strip symbol tables from the compiled extensions in the Docker image (#2439)
  Dockerfile
  documentation/changelog.rst
Due: none

docs: fix dedent of the file-upload tutorial snippet
  documentation/tut/posting_data.rst
Due: none

fix: keep reading the pre-1.0 legacy-responses setting name
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/utils.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

ci: treat clients up to 0.9.3 as needing legacy job responses
  .github/workflows/docker-qa.yml
Due: none

ci: stop HEMS forecasting failures from passing QA
  .github/workflows/docker-qa.yml
Due: none

Revert "fix: keep reading the pre-1.0 legacy-responses setting name"
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/utils.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

add info on ingestion status uodates in api change log
  documentation/api/change_log.rst
Due: none

ci: translate absolute legacy HEMS config paths
  .github/workflows/docker-qa.yml
Due: none

update version in OpenApi to 1.0.0
  flexmeasures/ui/static/openapi-specs.json
Due: none

chore: backward-compatibility on ingestion and forecasting API and ci: make QA workflow work with older clients
  .github/workflows/docker-qa.yml
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/tut/posting_data.rst
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
  documentation/tut/scripts/run-data-ingestion.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/api/v3_0/utils.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/utils/config_defaults.py
  tests/documentation/test_data_ingestion_tutorial.py
Due: flake8, black, generate-openapi-specs

Drop the timely-beliefs forecast extra (sktime) from the dependencies (#2440)
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

add blog post link for v1.0.0 to changelog
  documentation/changelog.rst
Due: none

fix(plugin_utils): prioritize installed package import over relative cwd path in plugin loader
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

chore:remove outdated code from flexmeasures.js (#2402)
  flexmeasures/ui/static/js/flexmeasures.js
Due: none

Address review: stop duplicating the trigger's SQL, import it instead
  flexmeasures/data/migrations/versions/f1c8a3d75e29_add_sensor_data_source_table.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_sensor_data_source.py
Due: flake8, black

Reformat the two migrations for black 26.3.1
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
Due: flake8, black

feat(planning): export commodity_costs in StorageScheduler outputs and persist in job meta (#2416)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Make the downgrades as careful about indexes as the upgrades already are, and say what was touched
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
Due: flake8, black

Warn in the changelog about which indexes the upgrade drops and the downgrade adds
  documentation/changelog.rst
Due: none

Fix a broken PR link in the v0.28.0 changelog entry
  documentation/changelog.rst
Due: none

Stop handling an index that is not part of FlexMeasures' schema
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
Due: flake8, black

Report indexes the reordered primary key has made redundant
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
Due: flake8, black

data/models: name an automation's cursor after what it points at
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/migrations/versions/9f2b6e1d4a73_add_automation_timezone_and_cursor.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

tests: follow the automation cursor rename
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs/changelog: give the automation API changes their own version section
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

docs: explain the automation cursor, and say "run" instead of "occurrence"
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
Due: none
