Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: rename beliefs_before to prior on chart endpoints, fix review comments
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/tut/building_uis.rst
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/queries/annotations.py
  flexmeasures/data/tests/test_annotations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: fix multi-line docstring summary in belief-time annotation test
  flexmeasures/data/tests/test_annotations.py
Due: flake8, black

feat: hyphenate chart endpoint query params, add start/end/duration, hide beliefs_after from docs
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/tut/building_uis.rst
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/common/schemas/tests/test_generic_schemas.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: address round-2 Copilot findings (count_annotations bug, docstrings, exclude overwrite)
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/tests/test_annotations.py
Due: flake8, black, generate-openapi-specs

docs: clarify start/end/duration are independently optional (round-3 Copilot nit)
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: ground nominal durations, fix session-var persistence, address round-4 nits
  documentation/changelog.rst
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/common/schemas/tests/test_generic_schemas.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/tests/test_annotations.py
Due: flake8, black, generate-openapi-specs

docs: update changelog entry with pr number
  documentation/changelog.rst
Due: none

fix: keep session vars as strings, make filter_by_belief_time public (round-5 findings)
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
  flexmeasures/data/queries/annotations.py
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black, generate-openapi-specs

fix: let annotation searches filter by belief time (#2367)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/tut/building_uis.rst
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/common/schemas/tests/test_generic_schemas.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
  flexmeasures/data/queries/annotations.py
  flexmeasures/data/tests/test_annotations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black, generate-openapi-specs

feat: let inflexible devices join a group (flex-context group field)
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/groups.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix chart interpolation flipping to linear for rows mixing real sensors with flex-config constants
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

fix: let forecast-only future regressors reach the training window
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: parse dict-typed CLI options like --model-params as JSON
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
Due: flake8, black

docs: changelog entries for the forecasting fixes
  documentation/changelog.rst
Due: none

docs: advocate the asset form of the group field
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/groups.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Replace flex-context field inflexible-device-sensors with inflexible-consumption and inflexible-production (#2358)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/features/scheduling.rst
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/migrations/versions/3c2f9e5a1d47_split_inflexible_device_sensors_by_sign.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/groups.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/conftest.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_generic_assets.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

Asset tree: compact grid layout, plus zoom via scroll/pinch/buttons with responsive labels (#2365)
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
Due: none

docs: add pr number to changelog
  documentation/changelog.rst
Due: none

data/schemas: restrict automations to five-field cron
  flexmeasures/data/schemas/automations.py
Due: flake8, black, generate-openapi-specs

data/schemas/tests: cover automation cron field count
  flexmeasures/data/schemas/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

cli/jobs: retain automation guard after queueing failure
  flexmeasures/cli/jobs.py
Due: flake8, black

cli/tests: cover partial automation queue failure
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

cli: normalize YAML forecasting option files
  flexmeasures/cli/data_add.py
Due: flake8, black

cli/tests: cover automation YAML option files
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

data/services: redact inaccessible automation provenance
  flexmeasures/data/services/sensors.py
Due: flake8, black

api/v3_0/tests: cover automation provenance authorization
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

ui/assets: distinguish automation load failures
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

ui/tests: cover automation load error state
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

utils/docs: preserve standalone asterisks in RST conversion
  flexmeasures/utils/doc_utils.py
Due: flake8, black

utils/tests: cover RST cron wildcard conversion
  flexmeasures/utils/tests/test_doc_utils.py
Due: flake8, black

docs/forecasting: clarify automation execution contract
  documentation/features/forecasting.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

changelog: record automation API and runner contract
  documentation/api/change_log.rst
  documentation/cli/change_log.rst
Due: none

api/docs: show job creation provenance
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

test: keep forecast CLI stub compatible with job provenance
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

Address review: document 429, show plans, edit plan by ID
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Merge the two Alembic heads the main merge left behind
  flexmeasures/data/migrations/versions/3bc1e29ca1f4_merge.py
Due: flake8, black

Address review: fix migration head, float4-safe sum, dedupe consistency, tests
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/9f2c1d7b3a44_shrink_timed_belief_values_to_float4.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_belief_value_precision.py
Due: flake8, black

Derive the dedupe rounding precision from the column, not a constant
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_belief_value_precision.py
Due: flake8, black

Correct the disk-saving claim with a measurement on production data
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/9f2c1d7b3a44_shrink_timed_belief_values_to_float4.py
  flexmeasures/data/models/time_series.py
Due: flake8, black

Address review: move plan docs to their own page, hide unenforced quotas
  documentation/cli/commands.rst
  documentation/configuration.rst
  documentation/host/multi-tenancy.rst
  documentation/host/plans.rst
  documentation/index.rst
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_show.py
Due: flake8, black
