Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: Enhance asset copy tab with infinite scroll and loading indicators
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

fix: preserve non-event soc constraints
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: handle dst transitions by converting datetime objects to UTC
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

fix: normalize off-tick soc on schedule grid
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover off-tick soc bounds
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: tolerate upload conversion precision
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
Due: flake8, black, generate-openapi-specs

test: compare quantities by value
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

fix: remove redundant error handling for account creation
  flexmeasures/api/v3_0/accounts.py
Due: flake8, black, generate-openapi-specs

test: avoid exact quantity string comparison
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

add changelog entry
  documentation/changelog.rst
Due: none

Fix: DST transition handling by supporting both datetime and pandas Timestamp objects (#2197)
  documentation/changelog.rst
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

Create .github/instructions folder with cross-cutting topic instruction files (#2198)
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/data-time-semantics-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/performance-scalability-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  .github/agents/ui-specialist.md
  .github/instructions/README.md
  .github/instructions/atomic-commits.instructions.md
  .github/instructions/changelog.instructions.md
  .github/instructions/docstrings.instructions.md
  .github/instructions/error-handling.instructions.md
  .github/instructions/marshmallow-schemas.instructions.md
  .github/instructions/pre-commit-hooks.instructions.md
  .github/instructions/testing.instructions.md
  .github/instructions/timezone-awareness.instructions.md
  .github/instructions/ui-terminology.instructions.md
  AGENTS.md
  documentation/changelog.rst
Due: none

Update flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

feat: Add asset type filtering to asset API and update UI parameters
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/templates/assets/asset_new.html
Due: flake8, black, generate-openapi-specs

chore: add changelog entry
  documentation/changelog.rst
Due: none

ref: make card title clickable
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

feat: Set external_id to None in copy_asset to prevent unique constraint conflicts
  flexmeasures/api/common/utils/api_utils.py
Due: flake8, black, generate-openapi-specs

chore: code linting
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

feat: Remove unused parentAssetId variable and related logic from asset creation script
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

docs: assign PR number and move changelog entry to infra section
  documentation/changelog.rst
Due: none

fix: skip flooring for instantaneous sensors
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

test: fetch upload sensors by name
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/api/v3_0/tests/utils.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Harden RQ Dashboard job views against non-JSON-serializable job data (#2200)
  documentation/changelog.rst
  flexmeasures/ui/tests/test_tasks_views.py
  flexmeasures/utils/config_defaults.py
  pyproject.toml
  uv.lock
Due: flake8, black

fix: guard sensor_d against None in StorageScheduler._prepare
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: guard sensor_d against None in StorageScheduler._prepare (#2085)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: resample from the resolution of the storage-efficiency sensor to the scheduling resolution
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs: extend field description accordingly
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix: remove obsolete validator
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

feat: do not allow storage-efficiency to be set without a known resolution
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

docs: fill in PR number
  documentation/changelog.rst
Due: none

docs: API changelog entry
  documentation/api/change_log.rst
Due: none

docs: simplify main changelog entry
  documentation/changelog.rst
Due: none

feat: add more explicit checks in test
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

feat: create a shared schema for flex-context and commodity-context
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

update the test case to have inflexible-devices-sensors for each commodity-flex-context
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

refactor: loop over flex-context fields and choose all fields except 'gas-price' for electricity as commodity
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: add inflexible-device-sensors to the gas commodity model
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: use net energy costs instead of individual device costs
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: comment out the buggy lines
  flexmeasures/data/models/planning/storage.py
Due: flake8, black
