Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

ui: say which automations an asset copy left out
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

tests: cover copying an asset's automations
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/ui/tests/js/test_ui_utils.py
Due: flake8, black, generate-openapi-specs

docs: note that copying an asset brings its automations along
  documentation/views/asset-data.rst
Due: none

docs/api: log the copy endpoint's automation behaviour
  documentation/api/change_log.rst
Due: none

fix: drop the Oxford comma from every joined word list
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/data/services/asset_grouping.py
Due: flake8, black, generate-openapi-specs

changelog: copying an asset copies its automations
  documentation/changelog.rst
Due: none

Add `flexmeasures show automations` to list and inspect automations
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

docs/changelog: record `flexmeasures show automations`
  documentation/changelog.rst
Due: none

docs/changelog: note the fixed asset type group names
  documentation/changelog.rst
Due: none

automations: show the next run in local time
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

tests: cover next automation runs across DST
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/tests/test_automation_next_run.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs: explain upcoming automation run times
  documentation/features/automations.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

ui/automations: align the row actions
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

tests: verify automation action layout in a browser
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black

ui/automations: line the row actions up across rows
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black

docs: rewrap a next-run docstring on a punctuation break
  flexmeasures/data/services/automations.py
Due: flake8, black

changelog: record the automation schedule and action UX
  documentation/changelog.rst
Due: none

Display only top-level assets per default (#2523)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/assets.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/tests/utils.py
Due: flake8, black, generate-openapi-specs

ui: escape the automation names reported after an asset copy
  flexmeasures/ui/static/js/ui-utils.js
Due: none

tests: cover escaping of reported automation names
  flexmeasures/ui/tests/js/test_ui_utils.py
Due: flake8, black

docs: break docstrings after punctuation, and finish a sentence
  documentation/views/asset-data.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

Make train-period the one way to limit how much history a forecaster trains on (#2482)
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

feat: add plot descriptions to sensors_to_show
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

fix: simplify plot metadata construction to satisfy lint
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

ui/automations: collect the row actions into one menu
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black

changelog: describe the automation actions menu
  documentation/changelog.rst
Due: none

data/services: keep recognising forecast automations across the type rename
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

Address review: eager-load assets, name the automation, and pin down the cells
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

Hold an automation's schedule to the sensors it was checked against
  documentation/changelog.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

changelog: point at the PR number
  documentation/changelog.rst
Due: none

Address review: schema decorators, asset timezone, naming and wording
  docker-compose.yml
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

ui/automations: reflow the two stylesheet comments
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

Address Copilot round 2: API docs that no longer matched the code
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Address Copilot round 3: report unknown sensors instead of failing
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

Address Copilot round 4: say what resetting the cursor actually does
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: leave disable_existing_loggers unchanged in logging config
  flexmeasures/utils/config_utils.py
Due: flake8, black

docs(app): document do_configure_logging in create docstring
  flexmeasures/app.py
Due: flake8, black

Address Copilot round 5: reflow two docstrings, and cover the delete prompt
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/tests/js/test_automation_actions.py
Due: flake8, black, generate-openapi-specs

Address Copilot round 6: drop the duplicated scheduler data source warning
  documentation/changelog.rst
Due: none

Pin the automation creation schema's timezone contract in a test
  flexmeasures/data/schemas/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
