Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: update test expectation; apparently the battery could save more?
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

dev: add todo
  flexmeasures/data/tests/conftest.py
Due: flake8, black

chore: flake8
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

dev: exclude commodities field from flex-context schema referencing a dedicated issue
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black

fix: only save commitment costs on job if we have a job to save it on
  flexmeasures/data/services/scheduling.py
Due: flake8, black

fix: inflexible devices are electricity devices by default
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

delete: no more need for backwards-compatibility of the temporary gas-price field (only used during development)
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

chore: black
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: optional dict key
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

allow to search by ID prefix as well, more aligning with how search works for the other fields
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat: Cleanup stale assets in graphs and configs (#2210)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

complete changelog entry
  documentation/changelog.rst
Due: none

fix: define account-scoped root asset index
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

fix: migrate account-scoped root asset index
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
Due: flake8, black

fix: validate root asset names by account
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

test: cover root asset model uniqueness
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

test: cover root asset API uniqueness
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

test: avoid duplicate planning root asset name
  flexmeasures/data/models/planning/tests/conftest.py
Due: flake8, black

Update flexmeasures/data/schemas/account.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

add changelog entry
  documentation/changelog.rst
Due: none

refactor: remove duplciated code, changed status codes adn updated tests
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

refactor: add transformation and validation for account_roles in AccountCreateSchema
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

reformulate with False as default
  documentation/changelog.rst
  flexmeasures/api/v3_0/users.py
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_principal_matching.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

remove extra changelog entry
  documentation/changelog.rst
Due: none

Update documentation/changelog.rst
  documentation/changelog.rst
Due: none

update the Readme
  README.md
Due: none

fix: reuse toy root assets by account
  flexmeasures/cli/data_add.py
Due: flake8, black

test: cover repeated toy account setup
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

update the Readme (#2232)
  README.md
Due: none

fix: keep ems-constraints and fix the test cases
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

fix: load the library
  flexmeasures/ui/templates/_macros.html
Due: none

fix: asset object should not overlap
  flexmeasures/ui/templates/_macros.html
Due: none

Update flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: use ECharts to make the asset charts faster and more interactive
  flexmeasures/ui/static/js/chart-perf.js
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/utils/chart_defaults.py
Due: flake8, black

feat: use ECharts to make the asset charts faster and more interactive
  flexmeasures/utils/config_defaults.py
Due: flake8, black

add changelog
  documentation/changelog.rst
Due: none

fix: update the comment and raise value error if ems_constraints_group is not passed
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: keep ems-constraints and fix the test cases (#2233)
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black
