Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs(reporting): describe one-off report jobs
  documentation/configuration.rst
  documentation/features/reporting.rst
  documentation/host/queues.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs(changelog): announce one-off report jobs
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

fix(reporting): reject incomplete reporter dataflows
  flexmeasures/data/schemas/reporting/aggregation.py
  flexmeasures/data/schemas/reporting/profit.py
  flexmeasures/data/services/reporting.py
Due: flake8, black, generate-openapi-specs

test(reporting): cover incomplete queued reports
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/tests/test_reporting_service.py
Due: flake8, black, generate-openapi-specs

style(tests): format error message for clarity in data source validation
  flexmeasures/data/tests/test_reporting_service.py
Due: flake8, black

fix(reporting): honor configured job timeouts
  flexmeasures/data/services/reporting.py
Due: flake8, black

fix(data/services): identify failed jobs by queue
  flexmeasures/data/services/sensors.py
Due: flake8, black

fix(deployment): process reporting jobs by default
  docker-compose.yml
Due: none

docs(api): define accepted report job responses
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs(host): complete reporting worker setup
  documentation/configuration.rst
  documentation/host/installation.rst
  documentation/host/queues.rst
Due: none

test(reporting): cover timeout and status contracts
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black, generate-openapi-specs

fix: keep legacy 200/400 codes for older clients in schedule-related endpoints
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

docs: fix broken changelog links
  documentation/changelog.rst
Due: none

combine into one setting, do not fail if settings format is not a dict
  documentation/configuration.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

fix: StorageScheduler falls back to 0 correctly if no starting SoC can be found
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Address starting SoC review feedback
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs: note the 202 response when polling an unfinished schedule
  documentation/changelog.rst
Due: none

fix(api): do not let an empty client-version attribute shadow its parent
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

fix: keep legacy 200/400 codes for older clients in schedule-related endpoints (#2429)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

fix: StorageScheduler falls back to 0 correctly if no starting SoC can be found (#2431)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: qa-workflow robust against older client versions and branches
  .github/workflows/docker-qa.yml
  documentation/changelog.rst
Due: none

fix heredoc indentation
  .github/workflows/docker-qa.yml
Due: none

fail explicitly if failure is logged in HEMS tutorial, save client version as ENV variable (for HEMS script to pick up) and in the new backward-compatibility config setting
  .github/workflows/docker-qa.yml
Due: none

CLI function to add toy account allows to add client-version attribute, which the ingestion tutorial uses; add a config setting to assume a client version which the HEMS script uses
  .github/workflows/docker-qa.yml
  documentation/configuration.rst
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

ui/graphs: stop the KPI fetch from corrupting the chart's date range
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: fetch chart data through a single module
  flexmeasures/ui/static/js/chart-data-source.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

legacy responses also means we should ingest data synchronously, which we do by not having an ingestion queue
  .github/workflows/docker-qa.yml
Due: none

ui/graphs: fetch only the newly selected days, not the whole window
  flexmeasures/ui/static/js/chart-data-cache.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

data/tests: pin down that a chart data window can be fetched in parts
  flexmeasures/data/tests/test_chart_data_window_splitting.py
Due: flake8, black

docs: changelog entries for the chart data reuse and the KPI date fix
  documentation/changelog.rst
Due: none

write a CLI wrapper (into the docker container) for legacy clients who do not understand the FLEXMEASURES_CLI_CMD setting yet
  .github/workflows/docker-qa.yml
Due: none

ui/graphs: keep the widest span loaded, so zooming back out is free
  flexmeasures/ui/static/js/chart-data-cache.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

docs: fill in the PR number in the changelog entries
  documentation/changelog.rst
Due: none

ui/graphs: rename chart-data-source.js to chart-data-fetch.js
  flexmeasures/ui/static/js/chart-data-cache.js
  flexmeasures/ui/static/js/chart-data-fetch.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: reuse only what a direct fetch would have returned
  flexmeasures/ui/static/js/chart-data-cache.js
Due: none

data/tests: pin down the window semantics the chart cache relies on
  flexmeasures/data/tests/test_chart_data_window_splitting.py
Due: flake8, black

ui/graphs: seed the cache with the initially loaded window
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: treat touching windows as one contiguous span
  flexmeasures/ui/static/js/chart-data-cache.js
Due: none

ui/graphs: stop getAssetKPIs from mutating the window it is given
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: break the JavaScript comments only after punctuation
  flexmeasures/ui/static/js/chart-data-cache.js
  flexmeasures/ui/static/js/chart-data-fetch.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
