Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Revert "feat: still link Swagger to Sphinx, but use the external RTD stable docs in case local docs are missing (not built)"
  flexmeasures/ui/__init__.py
  flexmeasures/utils/doc_utils.py
Due: flake8, black

feat: redirect to RTD in case of missing local docs (not built)
  flexmeasures/ui/error_handlers.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

Feat: redirect to RTD if local docs missing (#2006)
  documentation/changelog.rst
  flexmeasures/ui/error_handlers.py
Due: flake8, black

dev: fix import issue for Python 3.10
  flexmeasures/cli/utils.py
Due: flake8, black

feat: add test to cover CLI command execution with minimal options
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Revert "dev: fix import issue for Python 3.10"
  flexmeasures/cli/utils.py
Due: flake8, black

Revert "fix: pass already deserialized config to forecaster"
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/data_sources.py
Due: flake8, black

Revert "fix: CLI options require serialized defaults"
  flexmeasures/cli/utils.py
Due: flake8, black

fix: prefer tested and working forecasting CLI over CLI help type annotations
  flexmeasures/cli/data_add.py
  flexmeasures/cli/utils.py
Due: flake8, black

style: itemize symbol
  documentation/changelog.rst
Due: none

docs: add release date for v0.31.1
  documentation/changelog.rst
Due: none

docs: add API changelog entry
  documentation/cli/change_log.rst
Due: none

docs: elaborate API changelog entry
  documentation/cli/change_log.rst
Due: none

Fix: forecasting CLI for v0.31 (#2007)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/utils.py
Due: flake8, black

Backport PR #2003: Docs/missing flex config fields (#2003)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
  tests/__init__.py
  tests/documentation/__init__.py
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

Backport PR #2006: Feat: redirect to RTD if local docs missing (#2006)
  documentation/changelog.rst
  flexmeasures/ui/error_handlers.py
Due: flake8, black

Backport PR #2007: Fix: forecasting CLI for v0.31 (#2007)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/utils.py
Due: flake8, black

fix: add data_key attr
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

add missing commodity description and it's field in ui flexmodel schema
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix: add missing gas-price field in UI Flexcontext schema
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: add if_exists=True to fix migrations
  flexmeasures/data/migrations/versions/b8f3cda5e023_correct_order_in_index_for_single_most_.py
Due: flake8, black

fix: add if_exists=True to fix migrations (#2009)
  flexmeasures/data/migrations/versions/b8f3cda5e023_correct_order_in_index_for_single_most_.py
Due: flake8, black

fix: enhance job ID return structure in TrainPredictPipeline
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

fix: update forecasting job return structure in SensorAPI
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

fix: update job fetching logic in test_train_predict_pipeline
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

chore: remove commented-out breakpoint in test_forecasting.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

fix: as_job is no longer in parameters
  flexmeasures/cli/data_add.py
Due: flake8, black

fix: update job count retrieval in add_forecast function
  flexmeasures/cli/data_add.py
Due: flake8, black

fix: add connection queue to fetch job
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

chore: work in progress
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
  test_sensor_knowledge_horizon.py
Due: flake8, black, generate-openapi-specs

chore: implement new data format in toy data for testing
  flexmeasures/cli/data_add.py
Due: flake8, black

style: black
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

feat: check if wrap-up job actually finished rather than failed
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

refactor: move checking the status of the wrap-up job to where it matters
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

feat: add test case for 2 cycles, yielding 2 jobs and a wrap-up job
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

dev: comment out failing assert, which needs to be investgated and updated
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: use job ID itself in case the returned job is the one existing cycle job
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
