Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Update flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/js/ui-utils.js
Due: none

chore: add changelog entry
  documentation/changelog.rst
Due: none

fix: adjust parent asset label and clean up select options in asset properties
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

Check read permissions for regressor sensors when triggering forecasts (#2096)
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/auth/decorators.py
  flexmeasures/auth/error_handling.py
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

chore: modofy changelog entry
  documentation/changelog.rst
Due: none

fix attributes being overwritten in asset form: remove field from form; hang field descriptions higher in the hierarchy
  flexmeasures/ui/views/__init__.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/forms.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
Due: flake8, black

add changelog entry
  documentation/changelog.rst
Due: none

fix commodity-level commitments by grouping devices and aligning device series with scheduler index
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

remove attributes field in new assset form template
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

move changelog entry to v0.32.1
  documentation/changelog.rst
Due: none

give both tables the same cloatThead ... class
  flexmeasures/ui/templates/accounts/account.html
Due: none

Fix/ajax dialogue regression (#2124)
  documentation/changelog.rst
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

Fix account PATCH endpoint rejecting valid requests on accounts with a consultancy set, and show attributes on the account page (#2140)
  documentation/changelog.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/ui/templates/accounts/account.html
Due: flake8, black, generate-openapi-specs

docs: clarify forecasting failure handling
  flexmeasures/data/services/forecasting.py
Due: flake8, black

refactor: drop obsolete forecasting meta normalization
  flexmeasures/data/services/forecasting.py
Due: flake8, black

refactor: stop short-circuiting forecasting exception handlers
  flexmeasures/data/services/forecasting.py
Due: flake8, black

chore: generate openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix attributes being overwritten in asset form (#2138)
  documentation/changelog.rst
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/views/__init__.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/forms.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
Due: flake8, black

refactor: improve cross-session comparison logic by using source_id for detached ORM instances
  flexmeasures/data/services/time_series.py
Due: flake8, black

refactor: update efficiency field and types in scheduling schemas
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
Due: flake8, black, generate-openapi-specs

test: add tests for efficiency sensors in DBFlexModelSchema
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

refactor: update EfficiencyField to inherit from QuantityField and adjust related schema fields
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat/clean up old rolling forecasting code (#2082)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/cli/testing.py
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/models/forecasting/model_spec_factory.py
  flexmeasures/data/models/forecasting/model_specs/__init__.py
  flexmeasures/data/models/forecasting/model_specs/linear_regression.py
  flexmeasures/data/models/forecasting/model_specs/naive.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/data/tests/test_forecasting_jobs_fresh_db.py
  flexmeasures/data/tests/test_job_cache.py
  flexmeasures/utils/time_utils.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

docs: update job status endpoint description
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

test: enhance DB storage flex-model schema tests for sensor references
  documentation/changelog.rst
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

chore: udpated docstring
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

update the test cases for net commodity consumption and production
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: attach resource context to sequential wrap-up jobs
  flexmeasures/data/services/scheduling.py
Due: flake8, black

test: cover wrap-up job resource metadata
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

feat: expose failed job tracebacks
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

test: cover failed job responses
  flexmeasures/api/v3_0/tests/test_jobs_api.py
Due: flake8, black, generate-openapi-specs

feat(auth): inspect unauthorized handler message support
  flexmeasures/auth/error_handling.py
Due: flake8, black

feat(forecasting): only preserve trigger config
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

feat(auth): redact unreadable sensor details
  flexmeasures/auth/decorators.py
Due: flake8, black

test(api): stop expecting leaked schedule sensor details
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
