Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs/changelog: restore the v3.0-32 underline to full length
  documentation/api/change_log.rst
Due: none

fix(ci): pin uv everywhere it runs, not just where the lock is written
  .github/workflows/lint-and-test.yml
  .readthedocs.yaml
  Dockerfile
  documentation/changelog.rst
  documentation/dev/dependency-management.rst
  documentation/dev/setup-and-guidelines.rst
  pyproject.toml
Due: none

docs(deploy): note that servers need the pinned uv version too
  documentation/dev/automated-deploy-via-GHActions.rst
Due: none

chore(deps): move the uv pin to 0.12.7 and complete the pin list
  .github/actions/setup-test-env/action.yml
  .github/workflows/docker-build.yml
  .github/workflows/docker-qa.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/pypi-publish.yml
  .readthedocs.yaml
  Dockerfile
  documentation/changelog.rst
  documentation/dev/dependency-management.rst
  documentation/dev/setup-and-guidelines.rst
  pyproject.toml
Due: none

ui/graphs: hand the KPI window fix to its own PR
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

chore(deps): regenerate uv.lock with the pinned uv
  uv.lock
Due: none

ci: take pre-commit from the locked dev group
  .github/workflows/lint-and-test.yml
  pyproject.toml
  uv.lock
Due: none

ui/graphs: stop reusing records indefinitely
  documentation/changelog.rst
  flexmeasures/ui/static/js/chart-data-cache.js
Due: none

Load only the newly selected days when a chart's time range changes (#2433)
  .github/instructions/docstrings.instructions.md
  documentation/changelog.rst
  flexmeasures/data/tests/test_chart_data_window_splitting.py
  flexmeasures/ui/static/js/chart-data-cache.js
  flexmeasures/ui/static/js/chart-data-fetch.js
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black

Test the UI's JavaScript, without adding a Node.js toolchain (#2435)
  documentation/changelog.rst
  flexmeasures/ui/static/js/data-utils.js
  flexmeasures/ui/static/js/daterange-utils.js
  flexmeasures/ui/tests/js/README.md
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_data_utils.py
  flexmeasures/ui/tests/js/test_daterange_utils.py
  pyproject.toml
  uv.lock
Due: flake8, black

api/v3_0: total the beliefs the chart draws in a KPI
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/utils.py
Due: flake8, black, generate-openapi-specs

tests: assert what the KPI reports, not how the page is written
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

api/v3_0: drop the import the KPI change left behind
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

data/services: address review findings on the automations service
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/data/services/automations.py
Due: flake8, black

data/models: index the automation asset foreign key
  flexmeasures/data/migrations/versions/7a1c4b9e2f60_index_automation_asset_id.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
Due: flake8, black

api/v3_0: work out an automation's sensors once when they cannot be resolved
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

cli: warn which automations a sensor deletion would break
  flexmeasures/cli/data_delete.py
Due: flake8, black

tests: cover the sensor deletion warning, and stop depending on caplog
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
Due: flake8, black

docs/changelog: record the sensor deletion warning
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

docs: give automations their own page
  documentation/features/automations.rst
  documentation/features/forecasting.rst
  documentation/index.rst
Due: none

data/migrations: index the automation asset FK without adding a revision
  flexmeasures/data/migrations/versions/7a1c4b9e2f60_index_automation_asset_id.py
  flexmeasures/data/migrations/versions/9f2b6e1d4a73_add_automation_timezone_and_cursor.py
Due: flake8, black

api/v3_0: count each event under the day it starts in
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

api/common: drop the duplicate asset_is_in_subtree import
  flexmeasures/api/common/utils/api_utils.py
Due: flake8, black, generate-openapi-specs

cli/tests: freeze the clock in test_run_automations
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

cli/tests: freeze the clock in test_run_automations (#2456)
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

Stop the asset page's KPIs counting a day the chart does not show (#2434)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/utils.py
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

Pin and reorder the timed_belief primary key (#2378)
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/17b5919d4ce6_merge_timed_belief_pk_with_main.py
  flexmeasures/data/migrations/versions/b7e5a2c40f18_drop_redundant_timed_belief_indexes.py
  flexmeasures/data/migrations/versions/d4a7c1e93b52_reorder_timed_belief_primary_key.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_timed_belief_schema.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
  uv.lock
Due: flake8, black

Summarise which sources recorded for which sensors (#2382)
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/84f268f5153c_merge_sensor_data_source_with_main.py
  flexmeasures/data/migrations/versions/f1c8a3d75e29_add_sensor_data_source_table.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_sensor_data_source.py
Due: flake8, black

Update flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

Update flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/data_sources.py
Due: flake8, black

fix(data): import Sensor for type annotation
  flexmeasures/data/models/data_sources.py
Due: flake8, black

docs(api): announce report trigger in v3.0-33
  documentation/api/change_log.rst
Due: none

docs(cli): announce report jobs in v1.1.0
  documentation/cli/change_log.rst
Due: none

docs: link report jobs changelog entry to PR
  documentation/changelog.rst
Due: none

test(api): clarify sibling asset ownership
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
Due: flake8, black, generate-openapi-specs

test(api): document report trigger message helper
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
Due: flake8, black, generate-openapi-specs

test(api): explain resampled report values
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

api/v3_0: rename report job result variable
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
