Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

upgrade the warning to error status to increase visibility, add the revision identifiers as well, adapt warning if db connectivity is the problem
  flexmeasures/data/__init__.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

more robust check if we are running db upgrade
  flexmeasures/data/__init__.py
Due: flake8, black

do without the util function database_schema_is_migrated_to_head()
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

Chore: check on startup if the db schema is on alembic head (#2309)
  documentation/changelog.rst
  flexmeasures/app.py
  flexmeasures/data/__init__.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

feat: value the state of charge at the end of the scheduling horizon
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: fill in PR number in changelog
  documentation/changelog.rst
Due: none

feat: validate flex-model price units against the flex-context currency
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

feat: hold commitment prices to the flex-context's shared currency
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

refactor: select price fields for currency validation by type
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Guard the shared checkout: block branch-switching git commands outside a worktree (#2307)
  .claude/hooks/worktree-guard.sh
  .claude/settings.json
  AGENTS.md
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix setting of y-axis options in dialogue
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Address review: count only accepted triggers, default to per-account budgets, surface plans in UI and CLI
  documentation/changelog.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/utils.py
  flexmeasures/data/migrations/versions/6a767f36151c_add_plan_table_and_account_plan_id.py
  flexmeasures/data/models/user.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/validation_utils.py
Due: flake8, black, generate-openapi-specs

feat: show asset annotations in asset charts
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

docs: fill in PR link in changelog
  documentation/changelog.rst
Due: none

feat: show annotation text below the hovered subchart, keep data tooltips
  .github/screenshots/pr2312/data-tooltip-inside-band.png
  .github/screenshots/pr2312/hover-bottom-subchart.png
  .github/screenshots/pr2312/instant-annotation.png
  .github/screenshots/pr2312/old-hover-tooltip.png
  .github/screenshots/pr2312/old-instant.png
  .github/screenshots/pr2312/old-resting.png
  .github/screenshots/pr2312/pinned-text-below-subchart.png
  .github/screenshots/pr2312/resting.png
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/charts/defaults.py
Due: flake8, black, generate-openapi-specs

fix: guard against missing 'name' key when scanning scheduler result dicts
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Add a strict-domain y-axis option that clamps and warns on out-of-range data
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

Show the strict-range clamp warning immediately, and forbid a degenerate strict range
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

fix: guard against missing 'name' key when scanning scheduler result dicts (#2313)
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Re-layout the asset tree when the Structure tab becomes visible, add changelog entry
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
Due: none

Fix broken column sorting on the assets listing page
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/ui/static/js/flexmeasures.js
Due: flake8, black, generate-openapi-specs

Show the hovered line's sensor in the fast-chart tooltip
  flexmeasures/ui/static/js/fast-chart.js
Due: none

remove the chart performance widget and it's code
  flexmeasures/ui/static/js/chart-perf.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

Fix sorting when combined with the assets search filter
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/queries/generic_assets.py
Due: flake8, black, generate-openapi-specs

Give the floor (Fixed range) y-axis the same expansion margin as Fit-to-data
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

Revert unrelated commits accidentally included on this branch
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

Improve chart viz for event values not around zero (#2244)
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Address Copilot review: tighten changelog entry with PR link
  documentation/changelog.rst
Due: none

Fix broken column sorting on the assets listing page (#2314)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/ui/static/js/flexmeasures.js
Due: flake8, black, generate-openapi-specs

chore: keep screenshots out of the repo
  .github/screenshots/pr2312/data-tooltip-inside-band.png
  .github/screenshots/pr2312/hover-bottom-subchart.png
  .github/screenshots/pr2312/instant-annotation.png
  .github/screenshots/pr2312/old-hover-tooltip.png
  .github/screenshots/pr2312/old-instant.png
  .github/screenshots/pr2312/old-resting.png
  .github/screenshots/pr2312/pinned-text-below-subchart.png
  .github/screenshots/pr2312/resting.png
Due: none

chore: block image files from being committed via pre-commit hook
  .pre-commit-config.yaml
  documentation/changelog.rst
Due: none

docs: fill in PR number for image-blocking pre-commit hook changelog entry
  documentation/changelog.rst
Due: none

fix(ci): never claim :latest on a manual docker-publish run
  .github/workflows/docker-publish.yml
  documentation/dev/release_process.rst
Due: none

docs: changelog entry for the docker-publish :latest guard (#2316)
  documentation/changelog.rst
Due: none

feat: add custom job timeouts, also configurable per queue
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/app.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/job_utils.py
  flexmeasures/utils/tests/test_job_utils.py
Due: flake8, black

Add soft constraint analysis (unresolved/resolved SoC constraints) to scheduling job results (#2072)
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/test-specialist.md
  .github/instructions/docstrings.instructions.md
  .github/instructions/feature-branch-sync.instructions.md
  AGENTS.md
  documentation/api/change_log.rst
  documentation/api/v3_0.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/scheduling_result.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
Due: flake8, black, generate-openapi-specs

Chore: check on startup if the db schema is on alembic head (#2309)
  flexmeasures/data/__init__.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

Prepare v0.34.0rc1 pre-release on the 0.33 line
  .github/workflows/docker-publish.yml
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none
