Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Keep the two target-based tests exercising hard targets
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Relax soc-targets along with the other SoC constraints (#2390)
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat: Sentry rate limiting (#2366)
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/error-monitoring.rst
  flexmeasures/data/__init__.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/sentry_utils.py
  flexmeasures/utils/tests/test_app_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

test: multi-session same-sensor schedules accumulate (sum)
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

style: black-format multi-session same-sensor tests
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: cover overlapping multi-session same-sensor accumulation
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: use charge point with connectors instead of building/shared sensor
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

tests/scheduling: adapt the cascade tests to the retired storage fallback
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black, generate-openapi-specs

docs: collapse the clean-db changelog entries into one
  documentation/changelog.rst
Due: none

Warn about a zero fallback on a directional capacity
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

cli: keep mypy happy about click 8 attributes
  flexmeasures/cli/data_add.py
Due: flake8, black

cli: keep the automation help focused on the automation
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/utils.py
Due: flake8, black

Make clean-db work on macOS, and let poe actually pass it arguments and prompts (#2408)
  documentation/changelog.rst
  documentation/dev/setup-and-guidelines.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/data/scripts/clean_database.sh
  pyproject.toml
Due: none

data/models: count a source-filtered regressor as an input sensor
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/data_sources.py
Due: flake8, black

feat: support a `default` fallback on sensor references (#2405)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
Due: flake8, black, generate-openapi-specs

Persist commitment costs on scheduling job meta
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Address review: break docstring lines only after punctuation
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

data/tests: assert the persisted commitment costs in the existing battery test
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Persist commitment costs on scheduling job meta (#2418)
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

utils/tests: cover how a plugin entry is resolved
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

utils/plugin_utils: prefer an installed plugin package over a same-named folder
  flexmeasures/utils/plugin_utils.py
Due: flake8, black

docs: describe how a plugin entry is resolved
  documentation/changelog.rst
  documentation/configuration.rst
Due: none

docs: fill in the PR number in the changelog entry
  documentation/changelog.rst
Due: none

style: format ingestion tutorial script
  documentation/tut/scripts/run-data-ingestion.py
Due: flake8, black

deps: resync openpyxl lock metadata
  uv.lock
Due: none

docs: show ingestion tutorial progress
  documentation/tut/scripts/run-data-ingestion.py
Due: flake8, black

ci: align ingestion tutorial with toy sensor unit
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
Due: none

Docs: improve ingestion tutorial (#2376)
  .dockerignore
  .github/workflows/docker-build.yml
  .github/workflows/docker-qa.yml
  documentation/changelog.rst
  documentation/dev/scripting.rst
  documentation/getting-started.rst
  documentation/host/installation.rst
  documentation/index.rst
  documentation/tut/forecasting_scheduling.rst
  documentation/tut/posting_data.rst
  documentation/tut/scripts/Readme.md
  documentation/tut/scripts/run-data-ingestion-in-docker.sh
  documentation/tut/scripts/run-data-ingestion.py
  documentation/tut/toy-example-group-constraints.rst
  pyproject.toml
  uv.lock
Due: flake8, black

docs: refine scheduling overview
  documentation/features/scheduling.rst
Due: none

docs: simplify belief query example
  documentation/concepts/time-series-and-beliefs.rst
Due: none

docs: explain beliefs and scheduling concepts
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/concepts/flexibility-configuration.rst
  documentation/concepts/time-series-and-beliefs.rst
  documentation/conf.py
  documentation/features/scheduling.rst
  documentation/index.rst
Due: flake8, black

docs: show complete schedule API response
  documentation/features/scheduling.rst
Due: none

docs: explain asset scheduling scope
  documentation/features/scheduling.rst
Due: none

docs: align belief query cutoffs
  documentation/concepts/time-series-and-beliefs.rst
Due: none

docs: fix belief cutoff rendering
  documentation/concepts/time-series-and-beliefs.rst
Due: none

docs: enlarge belief query timeline
  documentation/concepts/time-series-and-beliefs.rst
Due: none

docs: redesign belief query timeline
  documentation/concepts/time-series-and-beliefs.rst
Due: none

docs: clarify belief and schedule examples
  documentation/concepts/time-series-and-beliefs.rst
  documentation/features/scheduling.rst
Due: none

data/services: do not report no sensors when an automation's sensors are unknown
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

test: follow flex-config docs move
  tests/documentation/test_schemas.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
