Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

test(api): stop expecting leaked regressor details
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
Due: flake8, black, generate-openapi-specs

docs(changelog): note both auth-hole fixes
  documentation/changelog.rst
Due: none

test(api): restore unique forecasting asset type names
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
Due: flake8, black, generate-openapi-specs

docs(openapi): refresh generated specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs(changelog): combine auth-hole release note
  documentation/changelog.rst
Due: none

feat(auth): keep unauthorized handler fallback simple
  flexmeasures/auth/error_handling.py
Due: flake8, black

test(api): explain unreadable sensor error assertions
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

docs(changelog): describe regressor fix by belief time
  documentation/changelog.rst
Due: none

Fix: changelog entry for GET /api/v3_0/sources endpoint to reference correct PR #2126
  documentation/changelog.rst
Due: none

test(fix): remove warning because the cross-account dedup regression test attached account relationships before the datasource objects were session-managed
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: floor direct POST sensor data starts
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

fix: floor uploaded sensor data datetimes
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

fix: floor flex-model scheduling datetimes
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

forecasting: clarify regressor filtering tests
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

forecasting: document regressor horizon test intent
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Feat: check flex config permissions schedule (#2125)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/auth/decorators.py
  flexmeasures/auth/error_handling.py
  flexmeasures/auth/loaders.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Update API version to 0.32.0
  flexmeasures/ui/static/openapi-specs.json
Due: none

Fix: include belief time in fixed-value records for chart data
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

chore: removed misc code
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

fix: enhance timezone handling in data ingestion serialization and deserialization
  flexmeasures/data/services/data_ingestion.py
  flexmeasures/data/tests/test_data_ingestion.py
Due: flake8, black

feat: add warning for sensor resolution in storage efficiency info cards
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

Update flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/jobs.py
Due: flake8, black, generate-openapi-specs

feat(api): return 404 for unknown job ids
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat(api): enforce job read access and return 503 when queues are unavailable
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

test(api): cover job access control and queue outage responses
  flexmeasures/api/v3_0/tests/test_jobs_api.py
Due: flake8, black, generate-openapi-specs

feat(api): default sources listing to latest-only and use current_app logger
  flexmeasures/api/v3_0/sources.py
Due: flake8, black, generate-openapi-specs

test(api): cover latest-only default and explicit full-history opt-out
  flexmeasures/api/v3_0/tests/test_sources_api.py
Due: flake8, black, generate-openapi-specs

docs(api): refresh OpenAPI defaults for sources endpoint
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: generate openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

chore: update Pandas from v2.2.1 to v3.3
  uv.lock
Due: none

fix: pin numpy due to `sqlalchemy.exc.ProgrammingError: (psycopg2.errors.InvalidSchemaName) schema "np" does not exist`
  pyproject.toml
  uv.lock
Due: none

chore: update timely-beliefs to v3.5.5
  pyproject.toml
  uv.lock
Due: none

chore: upgrade deps; cbor2 and cryptography are the only major version upgrades
  uv.lock
Due: none

fix: np.NaN is deprecated
  flexmeasures/utils/calculations.py
Due: flake8, black

dev: implement suggested workaround to unpin numpy
  flexmeasures/__init__.py
  pyproject.toml
  uv.lock
Due: flake8, black

docs: update changelog entry
  documentation/changelog.rst
Due: none

Add GET /api/v3_0/sources endpoint for accessible data sources and types (#2126)
  documentation/changelog.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/sources.py
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: run `uv lock --upgrade` once for the entire PR so we get a clean diff
  uv.lock
Due: none

dev: revert all uv.lock changes
  uv.lock
Due: none

chore: precommit
  uv.lock
Due: none
