Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

style: flake8
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: vertical concatination of subplots
  flexmeasures/ui/static/js/fast-chart.js
Due: none

chore: upgrade openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix: move _try_to_convert_price_units to SharedSchema
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: some fields cannot use source filters; now instead of just having validators in place to forbid that, we actually stop having those fields in the schemas of those fields
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: mypy
  flexmeasures/utils/coding_utils.py
Due: flake8, black

delete: remove redundant tests
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

fix: minimize diff
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: wrong data-key due to wrong indentation
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: default flex-model and flex-context to empty list and empty dict, respectively, because it is possible that the entire flex-config is described in the db instead of the trigger message
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: changelog entry
  documentation/changelog.rst
Due: none

docs: prefer unique sensor IDs in examples
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: clarify cross-reference
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

feat: UI support for picking a sensor for aggregate-consumption sensor and/or aggregate-production
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: for some reason, for flex-context fields, the sensor-only property is defined in the html in 3 places
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

feat: test coverage for UI support of aggregate-consumption and aggregate-production
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black

docs: add deprecation instructions for aggregate-power
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: move down the aggregate-power field documentation
  documentation/features/scheduling.rst
Due: none

fix: ECharts
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

feat: support storing, retrieving and refreshing encrypted secrets at account or asset level
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/index.rst
  documentation/plugin/customisation.rst
  flexmeasures/data/migrations/versions/c7d8e9f0a1b2_add_secrets_to_accounts_and_assets.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/user.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/secrets_utils.py
  flexmeasures/utils/tests/test_secrets_utils.py
  flexmeasures/utils/tests/test_time_utils.py
  flexmeasures/utils/time_utils.py
Due: flake8, black

use different compatible units.
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

update comment
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

update the comment
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

chore: update openapi-specs.json again
  flexmeasures/ui/static/openapi-specs.json
Due: none

add changelog entry and missing documentation section
  documentation/changelog.rst
  documentation/dev/connection-secrets.rst
Due: none

chore: fill in PR number
  documentation/changelog.rst
Due: none

move plugin author docs on secrets to their own page, add my section on initialiation there
  documentation/dev/connection-secrets.rst
  documentation/index.rst
  documentation/plugin/customisation.rst
  documentation/plugin/introduction.rst
  documentation/plugin/storing-platform-secrets.rst
Due: none

Update flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Update flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: move power capacity changelog to features
  documentation/changelog.rst
Due: none

docs: update power capacity openapi description
  documentation/changelog.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix: preserve fallback for zero directional capacity
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

style: run pre-commit
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Update documentation/changelog.rst
  documentation/changelog.rst
Due: none

fix: enforce unique public root asset names
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
