Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: fields without a data_key just use the variable name as data_key
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black

feat: switch to consumption and production sensor reference fields in DBStorageFlexModelSchema
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

feat: add UI support for new fields
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: document new fields in scheduling.rst
  documentation/features/scheduling.rst
Due: none

feat: add new fields to StorageFlexModelSchema
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

chore: update openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: state-of-charge sensor needs instantaneous resolution
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix broken subsection link
  documentation/tut/forecasting_scheduling.rst
Due: none

style: black
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black, generate-openapi-specs

more clarity and small fix in documenting soc-minima and soc-maxima field
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

add changelog entry
  documentation/changelog.rst
Due: none

fix typo
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

fix(ui): set forecast train start for permitted users
  flexmeasures/ui/templates/sensors/index.html
Due: none

test(ui): cover forecast train start listener
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black

docs: add forecast button changelog entry
  documentation/changelog.rst
Due: none

Update flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

Fix sensor forecast button to send train-start from available history (#2187)
  documentation/changelog.rst
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black

Docs/fix various api doc issues (#2122)
  documentation/changelog.rst
  documentation/tut/forecasting_scheduling.rst
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: align sensor data resampling docs
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: add annotations
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

docs: add docs
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

chore: udpate docs
  documentation/concepts/security_auth.rst
Due: none

fix: removed double scroolbar in users and accounts tables
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/accounts/account.html
Due: none

feat: add button to create client accounts in account details
  flexmeasures/ui/templates/accounts/account.html
Due: none

feat(forecast): support multiple seasonal lag candidates
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/pipelines/train.py
Due: flake8, black

test(forecast): cover seasonal lag candidate filtering
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: add changelog entry
  documentation/changelog.rst
Due: none

fix(forecast): filter seasonal lags per horizon
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: link pr number in changelog
  documentation/changelog.rst
Due: none

refactor(forecast): remove obsolete lag fallback args
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

refactor(forecast): simplify lag candidate validation
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

fix(forecast): raise when no seasonal lag is eligible
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

refactor(forecast): clarify seasonal lag naming
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

fix: preserve submitted flex-model in schedule jobs
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

feat: keep storage soc event times in schema
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

feat: project off-tick soc constraints to grid
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover off-tick soc target projection
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: relax off-tick soc constraints by default
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover off-tick soc relaxation
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Add asset copy functionality with tabbed interface in asset creation form
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/views/assets/views.py
Due: flake8, black
