Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

simplify the loop to check roles - no collection just returning False if we encounter a disallowed entry
  flexmeasures/auth/policy.py
Due: flake8, black

move import
  flexmeasures/api/v3_0/users.py
Due: flake8, black, generate-openapi-specs

run a regression test case where the first new role is forbidden and the last new role is allowed
  flexmeasures/auth/tests/test_principal_matching.py
Due: flake8, black

fix: render charge point sessions chart and sync x-axis zoom
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: hide incomplete charge point session pairs (no epoch bars)
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: align charge point session lines per asset
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

Update flexmeasures/utils/app_utils.py
  flexmeasures/utils/app_utils.py
Due: flake8, black

docs: add comment about overriding (not overwriting) flex-model settings
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix flex-model datakey and description (#2237)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

remove whitelist and simplify what we catch, also add more explanation
  documentation/changelog.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

fix: compute per-commodity aggregate power flows for aggregate-consumption and aggregate-production sensors
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: test commodities referenced in only the flex-model or only the flex-context
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

Include per-commodity inflexible devices in aggregate schedules
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: AssetTriggerSchema accepts list-like flex-contexts
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: test logs should explain why response was unexpected
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

style: black
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black, generate-openapi-specs

docs: reassign changelog entry for PR #2237 from v1.0.0 to v0.33.1
  documentation/changelog.rst
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

Feature: flex-context per commodity as list (#2235)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/multi-commodity.rst
  documentation/tut/multi-feed-storage.rst
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/utils/coding_utils.py
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

Fix Charge Point sessions chart loading, plus zoom-sync, epoch-bar, and alignment improvements (#2259)
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

chore: filter out more 404s for Sentry (#2257)
  documentation/changelog.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

docs: merge changelog listings for v0.33.1
  documentation/changelog.rst
Due: none

docs: add release date for v0.33.1
  documentation/changelog.rst
Due: none

refactor: consistent nesting
  flexmeasures/auth/policy.py
Due: flake8, black

refactor: follow up on prevention advice with a new instruction file; merge&simplify two lessons learned
  .github/instructions/feature-branch-sync.instructions.md
  AGENTS.md
  flexmeasures/ui/static/openapi-specs.json
Due: none

refactor the auth for user role editing (#2228)
  documentation/changelog.rst
  flexmeasures/api/v3_0/users.py
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_principal_matching.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/views/users/views.py
Due: flake8, black, generate-openapi-specs

docs: merge and simplify SchedulingJobResult docstrings
  flexmeasures/data/services/scheduling_result.py
Due: flake8, black

style: format docstrings
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: add docstring instruction regarding line breaks
  .github/instructions/docstrings.instructions.md
Due: none

style: in docstrings, use :returns: instead of :return:
  .github/instructions/docstrings.instructions.md
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

use all_accessible param to look up assets, show 15 per page
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

docs: remove irrelevant sensor key from example
  documentation/features/scheduling.rst
Due: none

add a doc section on how to create a child asset
  documentation/views/asset-data.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

feat: claude agents reusing copilot instructions
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
Due: none

tests/planning: update unresolved/resolved test assertions to list format
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

api/v3_0/jobs: restore main's job-status endpoint, graft on scheduling_result
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/models/planning: restore main's storage scheduler, graft on unresolved targets
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

AGENTS.md: remove redundant self-referential lessons-learned entry
  AGENTS.md
Due: none

style: in docstrings, use :returns: instead of :return:
  flexmeasures/data/models/planning/storage.py
Due: flake8, black
