Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: add audit log entry for asset copying in copy_asset function
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix: correct the stock groups
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: correct stroke color and width conditions in circle layer rendering
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

dev: tech spike on JSON editor for sensor attributes
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

feat: db migration for account attributes
  flexmeasures/data/migrations/versions/a3b1c2d4e5f6_add_attributes_to_account.py
Due: flake8, black

dev: first implementation of JSON editor for sensors, assets and accounts
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/models/user.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/test_json_attributes_editor.py
Due: flake8, black, generate-openapi-specs

dev: fix opening JSON editor on asset page, and try theming
  documentation/configuration.rst
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/_macros.html
  flexmeasures/utils/config_defaults.py
Due: flake8, black

style: switch to spectre as the default theme
  flexmeasures/utils/config_defaults.py
Due: flake8, black

feat: do not disable buttons to Edit JSON
  flexmeasures/ui/templates/_macros.html
Due: none

feat: do not disable collapse buttons
  flexmeasures/ui/templates/_macros.html
Due: none

style: prefer toast over alert
  flexmeasures/ui/templates/_macros.html
Due: none

style: relabel button to edit custom attributes (we are already within a sidepanel specifically for editing)
  flexmeasures/ui/templates/_macros.html
Due: none

debug env file in docker build step
  .github/workflows/build.yml
Due: none

get rid of debugging
  .github/workflows/build.yml
Due: none

style: fix button radius
  flexmeasures/ui/static/css/flexmeasures.css
Due: none

Revert "ui/json-editor: add copy buttons for array items"
  flexmeasures/ui/templates/_macros.html
Due: none

add merge migration
  flexmeasures/data/migrations/versions/ea19499c79b5_merge.py
Due: flake8, black

run black
  flexmeasures/data/migrations/versions/ea19499c79b5_merge.py
Due: flake8, black

Add "Create forecast" button to sensor page (#1985)
  .github/agents/coordinator.md
  .github/agents/ui-specialist.md
  documentation/changelog.rst
  documentation/features/forecasting.rst
  documentation/views/sensors.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/migrations/versions/a5b26c3f8e91_recompute_attributes_hash_with_sort_keys.py
  flexmeasures/data/migrations/versions/ea19499c79b5_merge.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/test_sensor_views.py
  flexmeasures/ui/views/sensors.py
Due: flake8, black, generate-openapi-specs

fix: security update for cryptography to v46.0.7 minimum
  pyproject.toml
  uv.lock
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

feat: add option to include copy suffix when duplicating assets
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

debug: stock self discharging
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

style: black
  flexmeasures/data/migrations/versions/e26d02ed1621_merge.py
Due: flake8, black

refactor: remove unneccessary test function
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: shared soc-gain, soc-usage, soc-minima and soc-maxima
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: shared StockCommitment for preferring a full SoC
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

dev: todo
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

dev: add "test" test case
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: remove duplicate parameter declarations
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: browser console errors
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

style: same circle size for flex-config data
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: stop requiring any special Vega-Lite layer gymnastics
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black, generate-openapi-specs

fix: do not show negative source IDs
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

dev: temp
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

feat: just use the flex source (flex-model or flex-context) directly as the source name
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

feat: extend source description
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

fix: tooltip for nearest data point should always open
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: the tooltip for the nearest data point should always open
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black
