Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: allow setting a custom start
  flexmeasures/ui/templates/sensors/index.html
Due: none

delete: remove obsolete Jinja variables
  flexmeasures/ui/views/sensors.py
Due: flake8, black

fix: number of days is a field now
  flexmeasures/ui/templates/sensors/index.html
Due: none

feat: preset datetime to last event end over all sources
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/sensors/index.html
Due: none

docs: remove obsolete comment in message
  flexmeasures/ui/templates/sensors/index.html
Due: none

refactor: transfer initialization check into component for rendering graphs
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

docs: properly place the changelog entry of PR #1993
  documentation/changelog.rst
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

Add support for multi-device charging of shared storage
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black

update test case for multi feed stock
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Update flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

chore: name change
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

refactor: backward compatibility support and imporvement UI data representation
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

fix: Fix issue where subcharts are split up into single cahrts on the frontend
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

refacto: Refactored util for copying asset
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

update contact details on get-in-touch page: better slack link, add TSC meetings
  documentation/get-in-touch.rst
Due: none

fix: wrong timezone; the test relied on the preference to charge sooner and discharge later, rather than on the EPEX price transition, as the inline test documentation advertised
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: update changelog.rst
  documentation/changelog.rst
Due: none

fix: ignore B902 and E226 flake8 errors
  .flake8
Due: none

fix: fix UV warnings by using recommended UV_LINK_MODE=copy environment variable
  Dockerfile
Due: none

feat: add compatiblity Makefile with deprecation warnings
  Makefile
Due: none

fix: fix typo
  flexmeasures/data/scripts/visualize_data_model.py
Due: flake8, black

feat: process documentation feedback. Add more information about running the FlexMeasures command
  documentation/dev/setup-and-guidelines.rst
  documentation/host/data.rst
Due: none

feat: simplify and improve Makefile. Add UV check and warning.
  Makefile
Due: none

fix: fix using python-version-file with uv-setup instead of setup-python
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/release.yml
Due: none

fix: change non-existant uv-version to version. Use quotes for the uv version key
  .github/actions/setup-test-env/action.yml
  .github/workflows/lint-and-test.yml
  .github/workflows/release.yml
Due: none

fix: fix tests failing for repos without tags
  .github/actions/setup-test-env/action.yml
Due: none

feat: move preference to charge sooner and discharge later into a StockCommitment to prefer being full
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

tests: and new test case
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix: test case no longer relies on arbitrage opportunity coming from artificial price slope
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: check for optimal schedule
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: prefer a full storage earlier over later
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
