Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Say how to run two test suites at once, and what a killed one leaves behind
  .github/instructions/testing.instructions.md
Due: none

Harden the JavaScript test harness against a slow machine (#2546)
  .github/instructions/testing.instructions.md
  flexmeasures/ui/tests/js/conftest.py
  flexmeasures/ui/tests/js/test_harness.py
Due: flake8, black

Address Copilot: refuse the whole set before writing any of it
  documentation/changelog.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Address Copilot: do not tell people -X ours is safe against all of main
  .github/instructions/feature-branch-sync.instructions.md
  CLAUDE.md
Due: none

docs/changelog: name the pull request the v0.24.0 entry links to
  documentation/changelog.rst
Due: none

docs: address Copilot review on the stacked-PR sync guidance
  .github/instructions/feature-branch-sync.instructions.md
Due: none

docs: apply the line-break convention to CLAUDE.md and .github/agents
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/data-time-semantics-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/performance-scalability-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  .github/agents/ui-specialist.md
  CLAUDE.md
Due: none

Address review: changelog placement and line breaks
  documentation/changelog.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Write down how to sync a branch under review, and a stacked one (#2541)
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/data-time-semantics-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/performance-scalability-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  .github/agents/ui-specialist.md
  .github/instructions/feature-branch-sync.instructions.md
  CLAUDE.md
Due: none

Say which exceptions the sensor resolver wraps
  flexmeasures/data/services/automations.py
Due: flake8, black

Hold an automation's schedule to the sensors it was checked against (#2536)
  documentation/changelog.rst
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Spell the aggregator's new config fields in kebab-case
  documentation/features/reporting.rst
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/schemas/reporting/aggregation.py
Due: flake8, black, generate-openapi-specs

Take back what the restack onto main quietly undid
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black

Resolve a report automation's offsets in the automation's timezone
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Refuse a report automation that fixes its report's period
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Record report coverage only for report automations
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Hold an automation's report to the sensors it was checked against
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Rebuild the report automation docs on main's, and file the entries under v1.1.0
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  documentation/features/forecasting.rst
  documentation/features/reporting.rst
  flexmeasures/cli/data_add.py
Due: flake8, black

Break this branch's comments and docstrings only after punctuation
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Keep a job's trigger part of its identity in the job cache, as on main
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Label the Reports tab like the others, and word the timezone hint for any automation
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Learn whether a report job is an automation's from its trigger alone
  flexmeasures/data/services/reporting.py
Due: flake8, black

Call the automation's timezone its recurrence timezone
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Refuse a schedule automation that fixes its schedule's start
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Refuse a fixed belief time in schedule and report automations
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Move refusing fixed moments in schedule automations out to #2550
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Name a report's belief time "prior", as schedules and forecasts do
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/tests/test_reporting.py
Due: flake8, black, generate-openapi-specs

Refuse a fixed start, end or prior in any automation's parameters
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

Let every automation describe its window with offsets and a duration
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Document timing each automation run in one place
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
Due: none

Add changelog entries for #2551
  documentation/changelog.rst
Due: none

Refuse an automation window that is empty or inverted
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
Due: flake8, black

Reports as jobs and as automations (#2297)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/automations.rst
  documentation/features/reporting.rst
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

End this branch's one-line test comments with punctuation
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/tests/test_automation_window.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

Check a copied automation's output scope with the renamed check
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

Point a comment at the output scope check by its current name
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

Add `flexmeasures show automations` to list and inspect automations (#2533)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
