Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: update asset copy functionality to handle None values for account and parent asset IDs
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/templates/assets/asset_new.html
Due: flake8, black, generate-openapi-specs

fix: only raise in case of multiple EMS constraint DataFrames
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

chore: the wait for https://github.com/marshmallow-code/apispec/pull/999 is over
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

feat: allow any commodity, with electricity and gas serving as examples
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

delete: remove unreleased flex-context field for gas price
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix: add all relaxation fields to the list of fields to ignore when moving old flex-context fields into the electricity commodity context
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

delete: gas_price is no longer a field (remove reference to unreleased field)
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

chore; set search input to search template keyword by default
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

delete: just treat the whole old flex-context as the electricity flex-context
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

chore: update openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

feat: list the commodity field first rather than last
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: commodity is a field in both flex-model and flex-context
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: flex-model commodity can also be more than just electricity and gas
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: remove mention of gas-price field
  documentation/features/scheduling.rst
Due: none

docs: adjust scheduling section for multi-commodity
  documentation/features/scheduling.rst
Due: none

docs: adjust field descriptions for multi-commodity
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: list the commodity field first rather than last, also in flex-model
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: wrong data-key due to wrong indentation
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: explain the "commodities" field
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: no need for ill-formatted in-line code formatting
  documentation/features/scheduling.rst
Due: none

remove: devices do not have to be storages anymore
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: support passing flex-context as a list (one flex-context per commodity)
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: preserve field order in case schema is made OpenAPI compatible
  flexmeasures/api/common/schemas/utils.py
Due: flake8, black, generate-openapi-specs

fix: set default flex-context commodity to electricity
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

improve the EChart by adding missing features as we have in the existing charts
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

drop the changes that were made for speeding the vegalite
  flexmeasures/ui/utils/chart_defaults.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black

connect histgram horizentally and move x-axis to the top of the chart
  flexmeasures/ui/static/js/fast-chart.js
Due: none

stack the legends below the subplots if option is chosen
  flexmeasures/ui/static/js/fast-chart.js
Due: none

feat: reduce documented nesting when defining a flex-context per commodity
  documentation/features/scheduling.rst
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/coding_utils.py
Due: flake8, black, generate-openapi-specs

fix: use asset name with sensor name in the chart legends
  flexmeasures/ui/static/js/fast-chart.js
Due: none

fix: show source chart lines
  flexmeasures/ui/static/js/fast-chart.js
Due: none

dev: add todos
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
