Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix(scheduling): bind EMS-level flow commitments
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: address review — docstring+strip for parse_bool_env, read SENTRY_DSN (keep SENTRY_SDN fallback), strict bool for json compactness; add tests
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/app.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

fix: key boolean env coercion off DefaultConfig, broaden tests, clarify SENTRY_SDN is env-only
  documentation/configuration.rst
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Fix reading (boolean) settings from the environment, incl. SECURITY_TWO_FACTOR (#2341)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/app.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Address Copilot review: preserve MultiDict semantics, add regression tests, fix changelog wording
  documentation/api/change_log.rst
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/utils.py
Due: flake8, black, generate-openapi-specs

Address Copilot follow-up: test via schema.load(), not the private hook directly
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

fix(review): stop exposing internal commodities field to users
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

fix(ui): don't drop the commodities list when saving the flex-context
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

feat(ui): commitment editor UX improvements from review
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

fix(ui): clear stale commitments widget and stop About-box blink
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

test: expect namespaced commitment names in multi-commitment costs
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

tests: cover StorageScheduler-level operation-modes wiring
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat(ui): edit per-commodity flex-contexts through a commodity tab bar (#2284)
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

fix(ui): address Copilot review round 1
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

fix(ui): derive default commitment price currency from the flex-context
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

fix: address Copilot review round 3 (robustness)
  flexmeasures/data/models/planning/storage.py
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black

fix(ui): point sensor-search label at the actual search input
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

fix(local): cap HiGHS solve time via FLEXMEASURES_SOLVER_TIME_LIMIT
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

Move force_new_job_creation legacy alias out of the shared domain schema
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_trigger_schema_v3.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Address Copilot: fix stale legacy param names in OpenAPI descriptions
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor: replace custom: name prefix with commitment provenance tagging
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: warn once per colliding commitment name; drop PR refs from test comments
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Address Copilot: fix misleading page-default docs on GET /sensors
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: convert commitments saved within commodity contexts
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Accept legacy request field names alongside new canonical ones (fixes asset-level force_new_job_creation gap) (#2352)
  documentation/api/change_log.rst
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/common/schemas/users.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_trigger_schema_v3.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: require commitment baseline at field level; test empty-name rejection
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat(ui): edit flex-context commitments in the context modal (#2287)
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

fix(local): single-threaded HiGHS per scheduling job
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

fix(local): treat attribute-variant sources as distinct sources
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/utils.py
Due: flake8, black

fix: give scheduling/forecasting queues a real default job timeout
  flexmeasures/app.py
Due: flake8, black

Drop redundant backward-compat note from trigger response examples
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Drop field-level deprecation headers from #2224; track field removal in API v4 discussion (#2350)
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/deprecations.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor: address operation-modes review feedback
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs(openapi): render RST links as anchors; encode at-least-one-range rule
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black, generate-openapi-specs

refactor: harden band handling per second review round
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black, generate-openapi-specs

fix: exclude quotes from URLs matched by the RST link converter
  flexmeasures/utils/doc_utils.py
Due: flake8, black

Confine device power to operation-mode power bands (#2278)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/doc_utils.py
Due: flake8, black, generate-openapi-specs

refactor: derive currency-denominated fields from PriceField type
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: make the HiGHS MIP relative gap configurable
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

Refactor: select price fields for currency validation by type (PriceField) (#2311)
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
