Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

data/schemas/sensors: say that references carry cleaning bounds, and break a docstring after punctuation
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

data/models/forecasting: hand the model each regressor once, not once per regressor
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

data/tests: cover that filling hands the model one component per regressor
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs/changelog: note that each regressor now reaches the model once
  documentation/changelog.rst
Due: none

docs/changelog: leave the duplicated-regressor fix to #2560, which carries it on its own
  documentation/changelog.rst
Due: none

docs: describe cleaning scheduler inputs with bounds on a sensor reference
  documentation/concepts/flexibility-configuration.rst
  documentation/features/forecasting.rst
Due: none

data/models/planning: clean scheduler inputs against the bounds on their sensor references
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs/changelog: extend the input-bounds entry to schedulers
  documentation/changelog.rst
Due: none

data/schemas/sensors: only refuse bounds a scheduling reference actually sets, not an explicit null or empty snap
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

utils/unit_utils: let split_into_magnitude_and_unit swallow only quantity parse errors
  flexmeasures/utils/unit_utils.py
Due: flake8, black

data/schemas/forecasting: say that ensure-positive defaults to false, as it does
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/schemas/tests: cover that inflexible device references refuse bounds they cannot apply
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

Break the SensorReference docstring only after punctuation
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

Queue no report job for an empty window, and move a first report's cron period along with its end-offset
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: keep a forecaster reference with only unset bounds a plain sensor
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

utils: refuse a boolean as a bound, and say that bounding leaves NaN values alone
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/utils/bound_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

data/schemas/sensors: read an explicit null snap as unset, as null lower and upper bounds already are
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/models/planning/tests: name the readings helper for what it records, which is kWh when instantaneous
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
Due: flake8, black

Break the timing descriptions only after punctuation, and say what a report does without timing
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Stop a dry run reporting a data source ID that will not exist
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Say which data source a recorded forecast went to
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Time every automation run the same way: offsets and a duration, and no fixed moments (#2551)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/utils.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/tests/test_reporting.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_window.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Let a forecast target name the sources it trains on (#2542)
  documentation/changelog.rst
  documentation/features/forecasting.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

data/services/automations: name the part of a refused automation that is at fault
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

api/v3_0, cli: cover which part of a refused automation the error names
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

Name the copy endpoint's skipped automations in kebab-case
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/tests/js/test_ui_utils.py
Due: flake8, black, generate-openapi-specs

docs: changelog for naming the part of a refused automation that is at fault
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Hand the forecasting model each regressor once, not once per regressor (#2560)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Follow up on the merge: no fixed start in a durable-run fixture, and kebab-case run stats in the example
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat: forecast input bounds (#2555)
  documentation/changelog.rst
  documentation/features/forecasting.rst
  flexmeasures/data/models/forecasting/custom_models/base_model.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/bound_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

perf: import pyomo, LightGBM and Sentry helpers only when used. Drop unused UnknownSolver re-export.
  documentation/changelog.rst
  flexmeasures/data/__init__.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

perf: find built-in data generators from an explicit list
  documentation/changelog.rst
  flexmeasures/app.py
  flexmeasures/data/models/registry.py
  flexmeasures/data/tests/test_registry.py
  flexmeasures/utils/coding_utils.py
Due: flake8, black

chore: drop the Flask-Security-Too mfa extra
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

ui/sensors: add labels for visible sensor data
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

tests/ui: cover sensor annotation access and ranges
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/ui/tests/js/test_fast_chart.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black, generate-openapi-specs

docs/sensors: explain labeling a chart interval
  documentation/views/sensors.rst
Due: none

docs/changelog: announce sensor page annotations
  documentation/changelog.rst
Due: none

ui/sensors: name the visible range helper plainly
  flexmeasures/ui/templates/includes/graphs.html
Due: none

tests/ui: name both sensor panels in view tests
  flexmeasures/ui/tests/js/test_fast_chart.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black
