Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix(ui): keep the chart legend off the plot in PNG/SVG exports
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

docs: changelog entry for the chart export legend fix
  documentation/changelog.rst
Due: none

style: format the new test the way the pinned black does
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Keep the chart legend off the plot in PNG/SVG exports (#2517)
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

ui/status: name the asset on the sensor data tab, too
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_status_queries.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

remove 2 tests which take time but are not so crucial
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Update documentation/changelog.rst
  documentation/changelog.rst
Due: none

Status page: include the jobs of sub-assets (optional) (#2500)
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_status_queries.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

perf: eager-load owner/type/child_assets on GET /api/v3_0/assets (#2515)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix: make organisation audit changes and affected users explicit
  documentation/changelog.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_audit_fresh_db.py
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/api/v3_0/tests/test_api_v3_0_users_fresh_db.py
  flexmeasures/api/v3_0/users.py
Due: flake8, black, generate-openapi-specs

add PR Nr
  documentation/changelog.rst
Due: none

Require timely-beliefs 4.3.0
  pyproject.toml
  uv.lock
Due: none

Show effective rate limits in plan tooltip
  documentation/changelog.rst
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/views/accounts.py
Due: flake8, black

api/v3_0: let num-records respect the root/depth subtree filter
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

ui/templates: list only top-level assets per default
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/assets.html
Due: none

tests: cover the top-level-only asset listing
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs/changelog: note the top-level-only asset listing
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

docs: say what a retry actually reuses
  documentation/features/automations.rst
Due: none

Close the handlers the Run now button was pasted into
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

data/models/reporting: let the AggregatorReporter select its own sensors
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/schemas/reporting/aggregation.py
Due: flake8, black, generate-openapi-specs

data/models/reporting/tests: cover the AggregatorReporter's sensor selection
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
Due: flake8, black

docs/reporting: document aggregating everything below an asset
  documentation/features/reporting.rst
Due: none

docs/changelog: add entry for the AggregatorReporter's sensor selection
  documentation/changelog.rst
Due: none

Update flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/plugin_utils.py
Due: flake8, black

Read plugin-declared settings from the environment, and say whether a missing one has a default (#2501)
  documentation/changelog.rst
  documentation/plugin/customisation.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

fix: give user permissions to create schema
  flexmeasures/data/scripts/clean_database.sh
Due: none

api/v3_0: honour an explicit include_public=false
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

ui/templates: put the asset list's filter checkboxes on one row
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/assets.html
Due: none

tests: cover both asset-list filter checkboxes
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/tests/utils.py
Due: flake8, black, generate-openapi-specs

docs/changelog: note the public-assets checkbox on the asset overview
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

docs/changelog: fold this PR's entries into one per changelog
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Say why the status search retries without the fast track (#1718)
  flexmeasures/data/services/sensors.py
Due: flake8, black

perf: drop the inflect dependency in favor of inflection
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/services/asset_grouping.py
  flexmeasures/data/services/time_series.py
  flexmeasures/utils/flexmeasures_inflection.py
  flexmeasures/utils/tests/test_flexmeasures_inflection.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

docker: dispatch due automations in Compose
  docker-compose.yml
Due: none

docs: explain Compose automation dispatcher
  documentation/dev/docker-compose.rst
  documentation/features/automations.rst
Due: none

docs/changelog: link PR #2514 in the inflect entry
  documentation/changelog.rst
Due: none

fix: base indefinite_article on pronunciation rules
  documentation/changelog.rst
  flexmeasures/utils/flexmeasures_inflection.py
  flexmeasures/utils/tests/test_flexmeasures_inflection.py
Due: flake8, black

data/services: copy an asset subtree's automations, left inactive
  flexmeasures/data/services/automation_copies.py
Due: flake8, black

api/v3_0: copy an asset's automations and report the ones left out
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs
