Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

add PR Nr
  documentation/changelog.rst
Due: none

Roll back failed report persistence and pin guard semantics with tests
  documentation/cli/change_log.rst
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/reporting.py
Due: flake8, black

Consolidate report computation and persistence into one shared service function
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/services/reporting.py
Due: flake8, black

Fix annotation label hover stability
  documentation/changelog.rst
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

perf: drop the inflect dependency in favor of inflection (#2514)
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/services/asset_grouping.py
  flexmeasures/data/services/time_series.py
  flexmeasures/utils/flexmeasures_inflection.py
  flexmeasures/utils/tests/test_flexmeasures_inflection.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

Prevent fast chart annotation label flicker
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

fix: name the data generator in the "not registered" error
  flexmeasures/data/models/data_sources.py
Due: flake8, black

fix: use more realistic numbers to explain the reason
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

refactor: drop the unnecessary test case
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

perf: find built-in data generators from an explicit list (#2566)
  documentation/changelog.rst
  flexmeasures/app.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/registry.py
  flexmeasures/data/tests/test_registry.py
  flexmeasures/utils/coding_utils.py
Due: flake8, black

Add compact belief tooltips
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_fast_chart.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black

add a reason for using 4.66
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Refine annotation and chart control layout
  documentation/changelog.rst
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Cover much more of the UI's JavaScript with tests
  documentation/changelog.rst
  flexmeasures/ui/static/js/asset-tree.js
  flexmeasures/ui/static/js/daterange-utils.js
  flexmeasures/ui/static/js/flex-context-utils.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/js/README.md
  flexmeasures/ui/tests/js/test_asset_tree.py
  flexmeasures/ui/tests/js/test_chart_data_cache.py
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_data_utils.py
  flexmeasures/ui/tests/js/test_daterange_utils.py
  flexmeasures/ui/tests/js/test_flex_context_utils.py
  flexmeasures/ui/tests/js/test_flexmeasures_js.py
  flexmeasures/ui/tests/js/test_map_init.py
  flexmeasures/ui/tests/js/test_replay_utils.py
  flexmeasures/ui/tests/js/test_ui_utils_helpers.py
Due: flake8, black

Link the changelog entries to PR #2574
  documentation/changelog.rst
Due: none

Embed and render user-supplied text safely on every asset and sensor page
  .github/agents/ui-specialist.md
  .github/instructions/ui-terminology.instructions.md
  documentation/changelog.rst
  flexmeasures/data/models/time_series.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_ui_utils_helpers.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

Declutter the changelog
  documentation/changelog.rst
Due: none

Cover much more of the UI's JavaScript with tests (#2574)
  .github/agents/ui-specialist.md
  .github/instructions/ui-terminology.instructions.md
  documentation/changelog.rst
  flexmeasures/data/models/time_series.py
  flexmeasures/ui/static/js/asset-tree.js
  flexmeasures/ui/static/js/daterange-utils.js
  flexmeasures/ui/static/js/flex-context-utils.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/README.md
  flexmeasures/ui/tests/js/test_asset_tree.py
  flexmeasures/ui/tests/js/test_chart_data_cache.py
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_data_utils.py
  flexmeasures/ui/tests/js/test_daterange_utils.py
  flexmeasures/ui/tests/js/test_flex_context_utils.py
  flexmeasures/ui/tests/js/test_flexmeasures_js.py
  flexmeasures/ui/tests/js/test_map_init.py
  flexmeasures/ui/tests/js/test_replay_utils.py
  flexmeasures/ui/tests/js/test_ui_utils_helpers.py
  flexmeasures/ui/utils/view_utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

PR ID in changelog entry, move from bugfix to features section
  documentation/changelog.rst
Due: none

Show context for annotation labels
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Serve the endpoints supporting the UI under /api/ui, instead of /api/dev
  documentation/api/change_log.rst
  documentation/api/dev.rst
  documentation/api/ui.rst
  documentation/concepts/annotations.rst
  documentation/index.rst
  documentation/tut/building_uis.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/dev/__init__.py
  flexmeasures/api/ui/__init__.py
  flexmeasures/api/ui/sensors.py
  flexmeasures/api/ui/tests/__init__.py
  flexmeasures/api/ui/tests/conftest.py
  flexmeasures/api/ui/tests/test_ui_support_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

Add a changelog entry
  documentation/changelog.rst
Due: none

Keep the two released v3 session endpoints working, undocumented
  documentation/api/ui.rst
  flexmeasures/api/ui/__init__.py
  flexmeasures/api/ui/session.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Embed an asset chart from the official API in the tutorial on building custom UIs
  documentation/tut/building_uis.rst
Due: none

List the snake_case names that the v3 session endpoints still take
  flexmeasures/data/schemas/tests/test_field_naming.py
Due: flake8, black, generate-openapi-specs

Revert the tutorial's switch to the asset chart endpoint
  documentation/tut/building_uis.rst
Due: none

Leave the endpoints supporting the UI out of the OpenAPI specs, and name the path of their chart attributes
  flexmeasures/api/ui/tests/test_ui_support_api.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

Link to the chart endpoints' anchors as the docs render them
  documentation/tut/building_uis.rst
  flexmeasures/api/ui/sensors.py
Due: flake8, black, generate-openapi-specs

Serve the endpoints supporting the UI under /api/ui, instead of /api/dev (#2578)
  documentation/api/change_log.rst
  documentation/api/dev.rst
  documentation/api/ui.rst
  documentation/changelog.rst
  documentation/concepts/annotations.rst
  documentation/index.rst
  documentation/tut/building_uis.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/dev/__init__.py
  flexmeasures/api/ui/__init__.py
  flexmeasures/api/ui/sensors.py
  flexmeasures/api/ui/tests/__init__.py
  flexmeasures/api/ui/tests/conftest.py
  flexmeasures/api/ui/tests/test_ui_support_api.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

Spell the automation endpoints' path parameter automation-id
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/tests/test_field_naming.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat: automations page improvements (#2554)
  documentation/api/change_log.rst
  documentation/api/ui.rst
  documentation/changelog.rst
  documentation/features/automations.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/ui/__init__.py
  flexmeasures/api/ui/session.py
  flexmeasures/api/ui/tests/test_session.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/tests/test_field_naming.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Size a fast chart's bars from the sensor's event resolution (#2511)
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

data/services: skip an automation with malformed stored references, rather than fail the copy
  flexmeasures/data/services/automation_copies.py
Due: flake8, black

ui: drop the duplicate escapeHtml the merge with main left behind
  flexmeasures/ui/static/js/ui-utils.js
Due: none

tests: cover malformed stored references in a copied automation
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
Due: flake8, black, generate-openapi-specs

Add three more prepared report templates
  documentation/features/reporting.rst
  flexmeasures/cli/tests/test_report_templates.py
  flexmeasures/data/templates/reports/building-consumption.yaml
  flexmeasures/data/templates/reports/clipped-values.yaml
  flexmeasures/data/templates/reports/daily-energy.yaml
Due: flake8, black

data/models/reporting: keep the output sensor out of input_sensors too
  flexmeasures/data/models/reporting/aggregator.py
Due: flake8, black

data/models/reporting/tests: assert input_sensors omits the output sensor
  flexmeasures/data/models/reporting/tests/test_aggregator.py
Due: flake8, black

data/models/reporting: let the flex-context describe what to aggregate
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/schemas/reporting/aggregation.py
Due: flake8, black, generate-openapi-specs

data/models/reporting/tests: cover aggregating a flex-context portfolio
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/schemas/tests/test_reporting.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
