Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

chore: add changelog entry
  documentation/changelog.rst
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

remove: obsolete explicit dependency
  pyproject.toml
  uv.lock
Due: none

Chore/update to timely beliefs v3.5.5 (#2148)
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  documentation/changelog.rst
  flexmeasures/__init__.py
  flexmeasures/utils/calculations.py
  pyproject.toml
  uv.lock
Due: flake8, black

docs: fix typo
  documentation/views/asset-data.rst
Due: none

docs: rename source-type changelog key
  documentation/changelog.rst
Due: none

feat: rename sensor data source filter keys
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

docs: rename sensor data filter parameters
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

docs: regenerate sensor data OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

test: rename sensor data source filter cases
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Add unified job status endpoint GET /api/v3_0/jobs/<uuid> (#2141)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: respond with ValidationError in case no data with the given source-type exists on the sensor
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Fix: add test for PATCH endpoint to accept flex context JSON object
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/data/schemas/attributes.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Update API version to 0.32.0
  flexmeasures/ui/static/openapi-specs.json
Due: none

Feat: implement account creation functionality with UI and API integration
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/auth/policy.py
  flexmeasures/conftest.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account_create.html
  flexmeasures/ui/templates/accounts/accounts.html
  flexmeasures/ui/tests/conftest.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

fix: dropping unchanged beliefs is supposed to happen per event_start
  flexmeasures/data/services/time_series.py
Due: flake8, black

style: remove double spaces
  documentation/changelog.rst
Due: none

feat: speed up retrieval of sources;
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/data/models/time_series.py
Due: flake8, black, generate-openapi-specs

refactor: move the filter to the db query
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

refactor: rename validator
  flexmeasures/api/common/schemas/sensor_data.py
Due: flake8, black, generate-openapi-specs

docs: update notation.rst
  documentation/api/notation.rst
Due: none

Feat: sensor data source type filter (#2127)
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: fix grammar
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

feat: add test coverage for new filter
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

Backport PR #2124: Fix/ajax dialogue regression (#2124)
  documentation/changelog.rst
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

Backport PR #2148 (cherry-picked): update timely-beliefs to v3.5.5
  flexmeasures/utils/calculations.py
  pyproject.toml
  uv.lock
Due: flake8, black

Backport PR #2138: fix attributes being overwritten in asset form (#2138)
  documentation/changelog.rst
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/views/__init__.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/forms.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
Due: flake8, black

Backport PR #2129: fix: default stats window is for the selected period (#2129)
  documentation/changelog.rst
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/sensors/index.html
Due: none

Backport PR #2116: Return 422 ValidationError for zero-duration single-value posts on non-instantaneous sensors (#2116)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Backport PR #2117: Fix/asset context page bugs (#2117)
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

Backport PR #2140: Fix account PATCH endpoint rejecting valid requests on accounts with a consultancy set, and show attributes on the account page (#2140)
  documentation/changelog.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/ui/templates/accounts/account.html
Due: flake8, black, generate-openapi-specs

Fix/drop unchanged beliefs per event (#2150)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

Backport PR #2150: Fix/drop unchanged beliefs per event (#2150)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

chore: prepare release v0.32.1: add release date, move most bugfix PRs from v0.33.0 to v0.32.1, and fix incorrect PR number (2133 -> 2140)
  documentation/changelog.rst
Due: none

Backport: chore: prepare release v0.32.1: add release date, move most bugfix PRs from v0.33.0 to v0.32.1, and fix incorrect PR number (2133 -> 2140)
  documentation/changelog.rst
Due: none

Feat: add humanizeIsoDuration function for ISO duration formatting
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
Due: flake8, black, generate-openapi-specs

chore: minor doc update regarding graph asset references
  documentation/views/asset-data.rst
Due: none

chore: resolving changelog conflicts
  documentation/changelog.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
