Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

test(cli): verify persisted reporter configuration
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

docs(reporting): describe report computation return values
  flexmeasures/data/models/reporting/__init__.py
Due: flake8, black

feat(reporting): log when a report job ran successfully
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/data/services/reporting.py
Due: flake8, black, generate-openapi-specs

docs(reporting): explain why the data source is committed before enqueueing
  flexmeasures/data/services/reporting.py
Due: flake8, black

fix(reporting): exclude dropped values from report row counts
  flexmeasures/data/services/reporting.py
Due: flake8, black

test(api): cover invalid and unpersistable report results
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
Due: flake8, black, generate-openapi-specs

feat(data/models): add durable automation run records
  flexmeasures/data/migrations/versions/f3d8e2c9a741_add_durable_automation_runs.py
  flexmeasures/data/models/automations.py
Due: flake8, black

feat(data/services): claim automation occurrences durably and resume partial dispatch
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
Due: flake8, black

feat(api/ui): show durable automation run status
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

docs: describe durable automation runs and safe retries
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
Due: none

fix(data/services): keep recording a job outcome when the job broke the transaction
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

refactor(data/models): keep the dispatched job statuses in one place
  flexmeasures/data/migrations/versions/f3d8e2c9a741_add_durable_automation_runs.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

docs/changelog: link the durable automation runs PR
  documentation/changelog.rst
Due: none

docs: document schedule automations in the automations chapter
  documentation/changelog.rst
  documentation/features/automations.rst
  documentation/features/scheduling.rst
Due: none

Name automation types after the task, like the rest of the codebase
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/a71d6f2c9b04_name_automation_types_after_the_task.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs/changelog: move the data source inspection entry to v1.1.0
  documentation/changelog.rst
Due: none

api: add an endpoint to trigger a single automation run
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

cli: add jobs run-automation, to run one automation on demand
  flexmeasures/cli/jobs.py
Due: flake8, black

ui: add a Run now button to an asset's automations page
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

tests: cover running a single automation on demand
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

docs: describe running one automation on demand
  documentation/features/automations.rst
Due: none

changelog: note that a single automation can be run on demand
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

fix: report an on-demand run which queued no job as an error in the CLI, too
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/jobs.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

tests: cover an on-demand run which queues no job
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

utils/units: preserve nulls during conversion
  flexmeasures/utils/unit_utils.py
Due: flake8, black

tests/ingestion: cover null unit conversion
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/utils/tests/test_unit_utils.py
Due: flake8, black, generate-openapi-specs

docs/changelog: note null conversion fix
  documentation/changelog.rst
Due: none

add PR number
  documentation/changelog.rst
Due: none

Summarise every data source in the sensor statistics table
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_stats.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fill in the changelog PR link
  documentation/changelog.rst
Due: none

Fix: None-save unit conversion (#2461)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/utils/tests/test_unit_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

fix: handle unknown alembic revisions during startup
  documentation/changelog.rst
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

Look up a sensor's most recent belief per source type without scanning its beliefs
  documentation/changelog.rst
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_status_queries.py
Due: flake8, black

Make the Scheduler a DataGenerator, and give every automation a generator
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/b8f4d2617ac9_require_a_generator_on_every_automation.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduler_config.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black, generate-openapi-specs

fix: handle unknown alembic revisions during startup (#2465)
  documentation/changelog.rst
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

update the comments and docstring
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_status_queries.py
Due: flake8, black

update the comments
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix(api/tests): stop the sensor-data error listener from outliving its test
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

ui/status: split sensor data and jobs over two lazily-loaded tabs
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
