Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: order an asset's sensors by id
  documentation/changelog.rst
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

docs/changelog: link PR #2637 in the sensor order entry
  documentation/changelog.rst
Due: none

perf: hash test passwords with minimal argon2 cost
  flexmeasures/utils/config_defaults.py
Due: flake8, black

perf: create the test schema once and truncate between tests
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/tests/test_truncate_fresh_db.py
  flexmeasures/tests/utils.py
Due: flake8, black

perf: create the test users in one flush
  flexmeasures/conftest.py
Due: flake8, black

perf: share module data in read-only API and CLI test modules
  flexmeasures/api/v3_0/tests/conftest.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api_fresh_db.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_data_add_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/tests/test_data_show.py
  flexmeasures/cli/tests/test_data_show_fresh_db.py
  flexmeasures/conftest.py
Due: flake8, black, generate-openapi-specs

refactor: rename the CLI dummy fixtures to the fresh_db convention
  flexmeasures/cli/tests/conftest.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_add_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/tests/test_data_show.py
Due: flake8, black

refactor: drop db fixtures that data fixtures already provide
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_db.py
  flexmeasures/cli/tests/test_data_show.py
Due: flake8, black, generate-openapi-specs

perf: shrink two oversized test inputs
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

perf: compare new beliefs with stored ones in one pass
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

docs/changelog: link PR #2639 in the beliefs entry
  documentation/changelog.rst
Due: none

perf: fill forecast input gaps in pandas instead of darts
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_missing_values.py
Due: flake8, black

docs/changelog: link PR #2640 in the forecasting entry
  documentation/changelog.rst
Due: none

perf: validate storage constraints without DataFrame.eval
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
  flexmeasures/data/models/planning/tests/test_validate_constraints.py
Due: flake8, black

refactor: drop validate_constraint and sanitize_expression
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_validate_constraints.py
Due: flake8, black

docs/changelog: link PR #2641 in the storage schedule entry
  documentation/changelog.rst
Due: none

docs/changelog: note the faster test suite
  documentation/changelog.rst
Due: none

Merge commitments that constrain the solver identically (#2635)
  documentation/changelog.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

The guard missed the short spelling of --delete-branch
  .claude/hooks/merge-delete-branch-guard.sh
Due: none

Drop the changelog entry: agent instructions are not user-facing
  documentation/changelog.rst
Due: none

Guard stacked PRs from silent closure when deleting merged base branches (#2633)
  .claude/hooks/merge-delete-branch-guard.sh
  .claude/settings.json
  .github/instructions/feature-branch-sync.instructions.md
Due: none

Keep a plugin automation job's result by its own queue's setting
  flexmeasures/data/automations.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black

Report the rows a plugin automation job saved, not the rows it computed
  flexmeasures/data/automations.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
  flexmeasures/data/utils.py
Due: flake8, black

Refactor forecast cycle persistence into the forecasting service
  documentation/changelog.rst
  documentation/plugin/customisation.rst
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_persistence_fresh_db.py
Due: flake8, black

docs/changelog: link forecast persistence entry to PR #2645
  documentation/changelog.rst
Due: none

data/services: sort paged asset jobs on their enqueue times instead of caching job lists
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/sensors.py
Due: flake8, black

docs: drop the notes that job lists may be cached for up to one minute
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

tests: cover enqueue time lookups and current job statuses in paged listings
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black, generate-openapi-specs

Read a job cache's entries in a fixed number of Redis round trips
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black

Count an automation's jobs in a fixed number of Redis round trips
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

data/models/reporting: aggregate a device group from the flex-config
  flexmeasures/data/models/reporting/aggregator.py
  flexmeasures/data/schemas/reporting/aggregation.py
Due: flake8, black, generate-openapi-specs

data/models/reporting/tests: cover aggregating a device group
  flexmeasures/data/models/reporting/tests/conftest.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/schemas/tests/test_reporting.py
Due: flake8, black, generate-openapi-specs

docs/reporting: document aggregating a device group
  documentation/features/reporting.rst
Due: none

docs/changelog: add entries for aggregating a device group
  documentation/changelog.rst
Due: none

docs/changelog: point the aggregator entries at their own PR
  documentation/changelog.rst
Due: none

docs/agents: distinguish job lookup from caching
  .github/agents/performance-scalability-specialist.md
Due: none

data/services: rename Redis job lookup to JobMap
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/app.py
  flexmeasures/data/automations.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/job_map.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_job_map.py
Due: flake8, black, generate-openapi-specs

minimal wording changes in comments
  flexmeasures/app.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_job_map.py
Due: flake8, black

Feat: paginate jobs endpoint (#2619)
  .github/agents/performance-scalability-specialist.md
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/app.py
  flexmeasures/data/automations.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/job_map.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_job_cache.py
  flexmeasures/data/tests/test_job_map.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

Changelog: one entry for the automations page's actions, not two
  documentation/changelog.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
