Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

show how to get job info from status page
  documentation/views/asset-data.rst
Due: none

Section on the various ways to inspect scheduling jobs
  documentation/features/scheduling.rst
Due: none

add changelog entry
  documentation/changelog.rst
Due: none

feat: relax storage SoC bounds by default
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: remove storage fallback scheduler
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: remove storage fallback policy helper
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

test: cover SoC relaxation schema defaults
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

test: use default SoC breach prices
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: expect storage infeasibility without fallback
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: assert storage schedules do not fall back
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

test: update sequential scheduling fallback case
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

docs: describe default SoC relaxation metadata
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: update storage scheduling infeasibility guide
  documentation/features/scheduling.rst
Due: none

docs: clarify fallback redirects for custom schedulers
  documentation/api/introduction.rst
Due: none

docs: scope fallback redirect configuration
  documentation/configuration.rst
Due: none

docs: refresh SoC relaxation OpenAPI text
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: add fallback scheduler changelog entry
  documentation/changelog.rst
Due: none

test: allow small unit conversion drift
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

test: avoid exact quantity string comparisons
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

fix: put text and icon inside asset object and stop zooming feature
  flexmeasures/ui/templates/_macros.html
Due: none

more robust handling of the layers in secrets: only allow up to two levels, fix some ui and messaging around this, as well
  documentation/dev/connection-secrets.rst
  documentation/plugin/storing-platform-secrets.rst
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/tests/test_json_attributes_editor.py
  flexmeasures/utils/secrets_utils.py
  flexmeasures/utils/tests/test_secrets_utils.py
Due: flake8, black

improve CLI to supprt dots in secret paths, raise if expires_at is not a valid datetime, tell users how many tokens they would delete; also improve docs
  documentation/dev/connection-secrets.rst
  documentation/plugin/storing-platform-secrets.rst
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_delete.py
  flexmeasures/cli/tests/test_data_edit.py
Due: flake8, black

clarify where encryption is being done
  documentation/plugin/storing-platform-secrets.rst
Due: none

feat: add zoom in/out and reset buttons
  flexmeasures/ui/templates/_macros.html
Due: none

fix: complete heatmap PNG/SVG export and reorder sensor-page toolbox
  flexmeasures/ui/static/js/fast-chart.js
Due: none

fix(docs): fix typos
  documentation/changelog.rst
  documentation/features/scheduling.rst
Due: none

docs: clarify storage infeasibility behavior
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

test: simplify storage fallback assertion comment
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs

docs: regenerate openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

Update documentation/features/scheduling.rst
  documentation/features/scheduling.rst
Due: none

feat: support storing, retrieving and refreshing encrypted secrets at account or asset level (#2236)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/configuration.rst
  documentation/dev/connection-secrets.rst
  documentation/index.rst
  documentation/plugin/introduction.rst
  documentation/plugin/storing-platform-secrets.rst
  documentation/views/asset-data.rst
  flexmeasures/app.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_delete.py
  flexmeasures/cli/tests/test_data_edit.py
  flexmeasures/data/migrations/versions/55d8936a55f9_merge_two_revision_heads.py
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
  flexmeasures/data/migrations/versions/c7d8e9f0a1b2_add_secrets_to_accounts_and_assets.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_json_attributes_editor.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/secrets_utils.py
  flexmeasures/utils/tests/test_secrets_utils.py
  flexmeasures/utils/tests/test_time_utils.py
  flexmeasures/utils/time_utils.py
Due: flake8, black

add the CLI command for inspecting a schedule, as well
  documentation/features/scheduling.rst
Due: none

re-order sections
  documentation/features/scheduling.rst
Due: none

Docs/schedule inspection (#2247)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/views/asset-data.rst
Due: none

fix: test should exclude COMMODITY_FLEX_CONTEXT and COMMODITY_FLEX_MODEL, which are named commodity in scheduling.rst
  tests/documentation/test_schemas.py
Due: flake8, black

Apply my own suggestions from code review
  documentation/tut/multi-commodity.rst
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

chore: filter out 404s which triggered SecurityErrors by also doing host poisoning
  documentation/changelog.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

PR number in changelog
  documentation/changelog.rst
Due: none

remove unused imports
  flexmeasures/utils/app_utils.py
Due: flake8, black
