Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Update flexmeasures/data/services/sensors.py
  flexmeasures/data/services/sensors.py
Due: flake8, black

Update flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
Due: flake8, black, generate-openapi-specs

style: black
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

feat: enhance sensor reference pruning functions for improved JSON handling and clarity
  flexmeasures/data/services/sensors.py
Due: flake8, black

feat: clarify audit log messages for deleted sensor references
  flexmeasures/api/v3_0/tests/test_sensors_api.py
Due: flake8, black, generate-openapi-specs

fix: buttons (pillbox cells) should share the same height, no matter what the contents
  flexmeasures/ui/static/css/flexmeasures.css
Due: none

Always enable RQ embedded scheduler in flexmeasures jobs run-worker (#2112)
  documentation/changelog.rst
  flexmeasures/cli/jobs.py
Due: flake8, black

Update flexmeasures/auth/decorators.py
  flexmeasures/auth/decorators.py
Due: flake8, black

feat: label regressor auth errors with json config paths
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

test: assert structured config field label in 403
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
Due: flake8, black, generate-openapi-specs

feat: add breadcrumb on account page
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/utils/breadcrumb_utils.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black

fix: pillbox margin
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

fix: apply fix to other pages with row gx-0, too
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/templates/assets/asset_audit_log.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/assets.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/templates/users/users.html
Due: none

refactor: match spacing and newlines of account.html with asset_properties.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

style: center align button texts, move padding to css
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

Fix layout and error handling in asset properties form
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

Enhance error message formatting in flex model updates for better visibility
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

refactor: Add error handling utilities for improved API error message extraction
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

refactor: update data ingestion logic to enqueue forecasting jobs
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/data/services/data_ingestion.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: update variable names for clarity in sensor reference cleanup
  flexmeasures/data/services/sensors.py
Due: flake8, black

chore: add changelog entry
  documentation/changelog.rst
Due: none

feat: Cleanup of stale sensor references (#2106)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/cli/data_delete.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

refactor: cross-reference the CopyAssetSchema to get its field descriptions into Swagger
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: simplify endpoint description
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: drop int32 claim, which is unenforced at the Python/marshmallow layer (no Range validator) and inconsistently applied across docstrings
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat/copy assets (#2017)
  documentation/changelog.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

feat: breadcrumb on logged-in user page
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/tests/test_views.py
  flexmeasures/ui/views/users/logged_in_user.py
Due: flake8, black

style: reduce top margin now that there is a breadcrumb
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/templates/users/user.html
Due: none

feat: breadcrumb on user page
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_user_crud.py
  flexmeasures/ui/utils/breadcrumb_utils.py
  flexmeasures/ui/views/users/views.py
Due: flake8, black

ui: restore pillbox centering CSS changes Context: - CSS pillbox centering changes were lost during a history rewrite Change: - Re-apply: max-width: 100%, margin: auto, flex: 1 1 0, padding: 15px
  flexmeasures/ui/static/css/flexmeasures.css
Due: none

refactor: enhance comparison logic for unchanged beliefs to support job queue deserialization
  flexmeasures/data/services/time_series.py
Due: flake8, black

feat: add flex config sensor reference loaders
  flexmeasures/auth/loaders.py
Due: flake8, black

feat: default sensor schedule flex configs
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

feat: check sensor schedule flex config access
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

feat: default asset schedule flex configs
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: check asset schedule flex config access
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

test: cover schedule flex config auth errors
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
Due: flake8, black, generate-openapi-specs
