Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix(ui): stop drawing y-axis ticks between the labelled values
  flexmeasures/ui/static/js/fast-chart.js
Due: none

data/models: let data generators report their input and output sensors
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/services/automations.py
Due: flake8, black

data/models/forecasting: only announce a pipeline run when actually running it
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

cli: default the automation recurrence to daily, and reject options that --source already determines
  flexmeasures/cli/data_add.py
Due: flake8, black

api/v3_0: report an automation's input and output sensors
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

api/v3_0: add an endpoint for one data source
  flexmeasures/api/v3_0/sources.py
Due: flake8, black, generate-openapi-specs

api/v3_0: regenerate the OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

ui: link an automation's details to its sensors, and make the listing sortable
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

ui: show a sensor's data source record and the automations feeding it
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/utils/auth_utils.py
  flexmeasures/ui/views/sensors.py
Due: flake8, black

tests: cover the automation and data source review follow-ups
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black, generate-openapi-specs

docs: describe the automation and data source follow-ups
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/forecasting.rst
Due: none

api/v3_0: regenerate the OpenAPI specs after merging
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: note the y-axis tick fix on the ECharts entry
  documentation/changelog.rst
Due: none

tests: follow the merged automation behaviour
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

cli: only reject configuration options that were actually given with --source
  flexmeasures/cli/data_add.py
Due: flake8, black

data/services: only consider automations that could feed a sensor
  flexmeasures/data/services/automations.py
Due: flake8, black

data/services: only let a user automate sensors they can access themselves
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

api/v3_0/tests: cover automating an inaccessible sensor
  flexmeasures/api/v3_0/tests/test_automations_api.py
Due: flake8, black, generate-openapi-specs

docs: describe which sensors an automation may involve
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/forecasting.rst
Due: none

data/services: check every sensor a schedule would be recorded on
  flexmeasures/data/services/automations.py
Due: flake8, black

api/v3_0/tests: cover a schedule aggregated onto an inaccessible sensor
  flexmeasures/api/v3_0/tests/test_automations_api.py
Due: flake8, black, generate-openapi-specs

style: run pre-commit
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Feat: change toy tutorial to kW units (#2223)
  .claude/hooks/pre-commit-check.sh
  .github/instructions/feature-branch-sync.instructions.md
  .github/workflows/docker-build.yml
  documentation/changelog.rst
  documentation/dev/docker-compose.rst
  documentation/features/scheduling.rst
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/scripts/run-tutorial5-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

cli: show a data source's account and the sensors it wrote to
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_show.py
Due: flake8, black

docs: add PR number in changelog entry
  documentation/changelog.rst
Due: none

Show a data source's account and the sensors it wrote to (#2401)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_data_show.py
Due: flake8, black

fix(ui): show y-axis ticks next to the labelled values
  flexmeasures/ui/static/js/fast-chart.js
Due: none

ui: give every labelled value a tick instead of hiding the minor ones
  flexmeasures/ui/static/js/fast-chart.js
Due: none

ui: show icons for more asset types in the asset structure view
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black

ui: match asset type names ignoring case and separators
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black

ui: show icons for building services equipment
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black

docs: add changelog entry for the asset icon fixes
  documentation/changelog.rst
Due: none

fix icon mapping for asset types one-way_evse and two-way_evse, and add other names, as well (#2391)
  documentation/changelog.rst
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black

chore:remove outdated code from flexmeasures.js
  flexmeasures/ui/static/js/flexmeasures.js
Due: none

docs: clarify Sentry daily limit sampling interaction.
  documentation/configuration.rst
Due: none

Give every labelled y-axis value a tick in the fast charts (#2399)
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
Due: none

utils/sentry: bound Redis waits for daily rate limiting
  flexmeasures/utils/app_utils.py
Due: flake8, black

tests/utils: cover bounded Sentry Redis failures
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

docs: fix the soc-usage examples, which are rejected by the schema
  documentation/api/notation.rst
  documentation/tut/multi-feed-storage.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
