Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Commit the other process once provisioning waits for it, rather than after a second
  flexmeasures/data/tests/test_template_assets.py
Due: flake8, black

Copy the automations that can be copied, and skip the rest for a reason of their own
  documentation/api/change_log.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

Refuse what a plugin automation cannot honour, and say so before a run does
  documentation/plugin/customisation.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_plugin_automations.py
  flexmeasures/data/automations.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black, generate-openapi-specs

Keep the toast up as long as the page stays, and the traceback of a copy that failed
  documentation/views/asset-data.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/data/services/automation_copies.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_new.html
Due: flake8, black, generate-openapi-specs

Watch only the provisioning's own connection for the lock wait
  flexmeasures/data/tests/test_template_assets.py
Due: flake8, black

Break the plugin automations' docstrings and comments after punctuation
  flexmeasures/data/automations.py
  flexmeasures/data/migrations/versions/b63a02d5e184_automation_execution_user.py
Due: flake8, black

Require timely-beliefs 4.4.1, and allow numpy 2.5 again
  pyproject.toml
  uv.lock
Due: none

Only tolerate unique violations during startup provisioning
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Give the automations page a tab for every type it can come to list
  flexmeasures/cli/tests/test_plugin_automations.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

Hold the page's tabs to the type of an automation the plugin of which is not installed
  flexmeasures/cli/tests/test_plugin_automations.py
Due: flake8, black

Break the copied automations' comments and docstrings after punctuation
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/data/services/automation_copies.py
Due: flake8, black, generate-openapi-specs

Always join the test's other thread, with a timeout
  flexmeasures/data/tests/test_template_assets.py
Due: flake8, black

Say which kind of data source stores no data generator to set up
  flexmeasures/data/models/data_sources.py
Due: flake8, black

Support SQLAlchemy 2.1, upgrade dependencies, and show an error page on unexpected errors (#2596)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/db_ops.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/conftest.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/units.py
  flexmeasures/ui/tests/test_error_handling.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/error_utils.py
  flexmeasures/utils/tests/test_config_utils.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

Name the type in the empty table the way the tabs do
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Feat: when copying assets, copy their automations, too (#2531)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_copy_automations_fresh_db.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/services/automation_copies.py
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/tests/js/test_ui_utils.py
Due: flake8, black, generate-openapi-specs

Chain this branch's migration onto the durable runs' migration
  flexmeasures/data/migrations/versions/b63a02d5e184_automation_execution_user.py
Due: flake8, black

List the plugin-defined automation types with the rest of the automations work
  documentation/changelog.rst
Due: none

Stop relying on psycopg2 writing parameters into the query
  flexmeasures/api/common/schemas/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/schemas/account.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/sources.py
  flexmeasures/data/schemas/tests/test_utils.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/data/services/accounts.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/ui/tests/utils.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

Connect through psycopg 3 by default
  documentation/host/data.rst
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
  pyproject.toml
  uv.lock
Due: flake8, black

Support plugin-defined automations (#2553)
  documentation/changelog.rst
  documentation/features/automations.rst
  documentation/plugin/customisation.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_plugin_automations_api_fresh_db.py
  flexmeasures/app.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_plugin_automations.py
  flexmeasures/data/automations.py
  flexmeasures/data/migrations/versions/b63a02d5e184_automation_execution_user.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/plugins/mock_ingestion/__init__.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/js/test_automation_actions.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/plugin_utils.py
Due: flake8, black, generate-openapi-specs

Add changelog entries for PR #2601
  documentation/changelog.rst
Due: none

List the status page fixes with the other bugfixes
  documentation/changelog.rst
Due: none

Say organisation, not account, in the not-found message the UI shows
  flexmeasures/data/services/accounts.py
Due: flake8, black

Merge the psycopg changelog entry into the one of PR #2596
  documentation/changelog.rst
Due: none

Move to psycopg 3 (#2601)
  documentation/changelog.rst
  documentation/host/data.rst
  flexmeasures/api/common/schemas/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/schemas/account.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/sources.py
  flexmeasures/data/schemas/tests/test_utils.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/data/services/accounts.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/ui/tests/utils.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

List the status page fixes with the other bugfixes (#2603)
  documentation/changelog.rst
Due: none

docs: improve cbc install docs (#2597)
  documentation/changelog.rst
  documentation/dev/setup-and-guidelines.rst
  documentation/host/deployment.rst
Due: none

Log out through a POST form, so logout needs no GET
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/tests/test_views.py
  flexmeasures/ui/tests/utils.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

Add changelog entry for PR #2604
  documentation/changelog.rst
Due: none

Only allow logging out by POST on Flask-Security 5.8, too
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

Say that logging out redirects
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
Due: flake8, black, generate-openapi-specs

fix remnant from merge
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Say the job counts in one place, and let the page stop saying Redis is away
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/data/services/automations.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black

Keep the Log out button aligned with its neighbour
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/tests/test_views.py
Due: flake8, black

Ask about one automation only when its panel is opened
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

Say that a subtree query may leave its depth open
  flexmeasures/data/queries/generic_assets.py
Due: flake8, black

Automations UI polish: edit action and batch job stats (#2299)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

Log out through a POST form (#2604)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_api_v3_0_users.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/tests/test_views.py
  flexmeasures/ui/tests/utils.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

Fix/UI Cleaner view on graphs, incl. annotation display fixes (#2575)
  documentation/changelog.rst
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_fast_chart.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black
