Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Speed up post-processing of sensor data searches (#2328)
  documentation/changelog.rst
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/scripts/benchmark_search_postprocessing.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/data/tests/test_search_postprocessing.py
  flexmeasures/utils/time_utils.py
Due: flake8, black

use the 202 status consistently in triggering endpoints (#2224)
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: use ECharts to have faster charts (and more interactive) (#2234)
  documentation/changelog.rst
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/ui/__init__.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Show asset annotations in asset charts (#2312)
  documentation/changelog.rst
  flexmeasures/ui/static/js/fast-chart.js
Due: none

fix(ui): render a sensor in every fast-chart subplot that configures it (#2338)
  flexmeasures/ui/static/js/fast-chart.js
Due: none

feat: replace inflexible-device-sensors with sign-explicit flex-context fields
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/features/scheduling.rst
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/migrations/versions/3c2f9e5a1d47_split_inflexible_device_sensors_by_sign.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/conftest.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_generic_assets.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

docs: fill in PR number in changelog
  documentation/changelog.rst
Due: none

fix: prevent duplicate data sources from concurrent get-or-create
  flexmeasures/data/migrations/versions/c9d4f7a21e0b_enforce_null_safe_data_source_uniqueness.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/utils.py
Due: flake8, black

docs: changelog entry for data source race fix
  documentation/changelog.rst
Due: none

fix: don't emit a device's schedule twice when its power sensor is an output sensor
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

docs: changelog entry for duplicate scheduler output fix
  documentation/changelog.rst
Due: none

Address Copilot review: plain-language permission error, no debug prints
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

fix: gather inflexible device sensors from nested commodities entries too
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

Fix: accounts on a legacy plan must stay editable
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/models/user.py
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

fix: don't unwrap a single-entry flex-model list for asset-level scheduling
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

docs: changelog entry for PR #2361
  documentation/changelog.rst
Due: none

fix: don't unwrap a single-entry flex-model list for asset-level scheduling
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Address Copilot review round 3: permissions, wording, docstring
  documentation/changelog.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/views/accounts.py
  flexmeasures/utils/validation_utils.py
Due: flake8, black, generate-openapi-specs

Never hand the 'unlimited' sentinel to the rate limit parser
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
Due: flake8, black, generate-openapi-specs

feat: deterministic solver work limit (FLEXMEASURES_SOLVER_MAX_NODES)
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

refactor: iterate migration result cursor directly
  flexmeasures/data/migrations/versions/3c2f9e5a1d47_split_inflexible_device_sensors_by_sign.py
Due: flake8, black

CLI: let 'edit plan' clear fields back to the server defaults
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

Use the standard error envelope for the legacy-plan refusal
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
Due: flake8, black, generate-openapi-specs

introduce FLEXMEASURES_DEPRECATION_AND_SUNSET so hosts can customize when they deprecate and sunset, as well as links to info pages
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/sunset/tests/test_sunset.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

docs: re-organize config settings into more fitting sections
  documentation/configuration.rst
Due: none

re-set version in openapi json
  flexmeasures/ui/static/openapi-specs.json
Due: none

add PR number to changelog
  documentation/changelog.rst
Due: none

docs: reference PR in the DeviceRegistry changelog entry instead
  documentation/changelog.rst
Due: none

fix doctest
  flexmeasures/api/common/utils/deprecation_utils.py
Due: flake8, black, generate-openapi-specs

Fix scheduling jobs failing on a timed_belief UniqueViolation for devices with nested-output-only power sensors (#2360)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

test: cross-ref #2329 EVSE discharge in zero-capacity regression
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: non-zero directional capacity still softens under breach prices
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

test: cover consumption-capacity 0 schedule path for #2323
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Keep explicit zero directional capacity as a hard bound
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

perf(api): eager-load sensors when listing assets
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

perf(planning): disable appsi change detection for one-shot solves
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black
