Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: regression from several changes in 19f66ebbf48c3671f605550effbb1e438a490faa
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: no more weirdly layered overlapping circle markers; ruler makes possible a much cleaner design
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

delete: hover_nearest_brush not needed for hover ruler
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

refactor: simplify create_hover_ruler_layer
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

chore: added changelog entry
  documentation/changelog.rst
Due: none

chore: Add detailed description and request body for delete sensor data endpoint
  flexmeasures/ui/static/openapi-specs.json
Due: none

refactor: Refactor deleteData function for improved readability and structure
  flexmeasures/ui/templates/sensors/index.html
Due: none

Feat/dynamic soc at start (#2026)
  documentation/changelog.rst
  documentation/tut/forecasting_scheduling.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: missing imports
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

docs: add extra annotations
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

refactor: merge the two tests and add assert messages
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

changelog: document save_to_db belief-drop bug fix (PR #2086)
  documentation/changelog.rst
Due: none

fix: move test to before tests that use db.session.rollback()
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

Fix drop_unchanged prior-belief selection regression (#2086)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

Fix: multiple regressors bug (#2088)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: DST bug in processing time series segments (#2069)
  documentation/changelog.rst
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

Backport PR #2086: Fix drop_unchanged prior-belief selection regression (#2086)
  documentation/changelog.rst
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

improve docs about running Redis container locally with a password so RQ-Dashboard works
  documentation/host/installation.rst
Due: none

Backport PR #2088: Fix: multiple regressors bug (#2088)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

new page about scripting, mention HEMS example
  documentation/dev/scripting.rst
Due: none

rename headers slightly
  documentation/index.rst
Due: none

add changelog entry
  documentation/changelog.rst
Due: none

docs: reassign bugfixes from v0.32.0 to to v0.31.3 and update release date
  documentation/changelog.rst
Due: none

Backport: docs: reassign bugfixes from v0.32.0 to to v0.31.3 and update release date
  documentation/changelog.rst
Due: none

fix typo
  documentation/dev/scripting.rst
Due: none

style: fix layout
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

Feat: JSON editor for sensor/asset/account attributes (#2093)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/data/migrations/versions/a3b1c2d4e5f6_add_attributes_to_account.py
  flexmeasures/data/migrations/versions/e26d02ed1621_merge.py
  flexmeasures/data/models/user.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/test_json_attributes_editor.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/forms.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
  flexmeasures/utils/config_defaults.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

refactor: remove legacy forecasting CLI helper
  flexmeasures/cli/testing.py
Due: flake8, black

refactor: remove legacy forecast data seeding path
  flexmeasures/data/scripts/data_gen.py
Due: flake8, black

refactor: remove legacy timetomodel model specs
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/models/forecasting/model_spec_factory.py
  flexmeasures/data/models/forecasting/model_specs/__init__.py
  flexmeasures/data/models/forecasting/model_specs/linear_regression.py
  flexmeasures/data/models/forecasting/model_specs/naive.py
Due: flake8, black

refactor: drop timetomodel dependency
  pyproject.toml
  uv.lock
Due: none

test: remove obsolete forecasting fixture
  flexmeasures/data/tests/conftest.py
Due: flake8, black

refactor: remove obsolete data availability and lag creation functions
  flexmeasures/data/models/forecasting/utils.py
Due: flake8, black

chore: remove unused imports
  flexmeasures/data/models/forecasting/utils.py
Due: flake8, black

feat: load source account ids as integers
  flexmeasures/data/schemas/io.py
  flexmeasures/data/schemas/reporting/__init__.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/data/queries/utils.py
  flexmeasures/data/queries/utils.py
Due: flake8, black

fix: store forecasting exception metadata as JSON-safe data
  flexmeasures/data/services/forecasting.py
Due: flake8, black

test: cover JSON-safe forecasting exception metadata
  flexmeasures/data/tests/test_forecasting_jobs.py
Due: flake8, black

docs: add changelog entry in v0.32.0
  documentation/changelog.rst
Due: none
