Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: streamline punctuation
  documentation/changelog.rst
Due: none

fix: pass in case of trivial storage-efficiency
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

refactor: move most common case to the front
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: Add test to verify cleanup of stale asset references upon asset deletion
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

feat: Add parent asset ID handling for asset copy functionality
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

feat: Set external_id to None when copying assets to avoid unique constraint conflicts
  flexmeasures/api/common/utils/api_utils.py
Due: flake8, black, generate-openapi-specs

style: black
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Fix/storage efficiency validation using consumption/production field (#2213)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

changelog updates for v0.33.0
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

docs: reassign changelog entry from v0.33.0 to v1.0.0
  documentation/changelog.rst
Due: none

prepare changelog for v1.0.0
  documentation/changelog.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: file the changelog entry under v1
  documentation/changelog.rst
Due: none

feat: Floor datetimes on ingestion (#2146)
  documentation/api/notation.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Upgrade dependencies for v1.0.0
  uv.lock
Due: none

patch fake redis class for testing after RQ upgrade - add default addr attribute to client_list()
  flexmeasures/app.py
Due: flake8, black

changelog entry
  documentation/changelog.rst
Due: none

move new class to test utils
  flexmeasures/app.py
  flexmeasures/tests/utils.py
Due: flake8, black

move import (back) into teting block
  flexmeasures/app.py
Due: flake8, black

Chore/upgrade dependencies after v0.33 (#2215)
  documentation/changelog.rst
  flexmeasures/app.py
  flexmeasures/tests/utils.py
  uv.lock
Due: flake8, black

fix: Correct HTML tag from <psan> to <span> and improve job timestamp handling in jobs table
  flexmeasures/ui/templates/sensors/status.html
Due: none

docs: move subsection on signs of power beliefs to live under Beliefs rather than under Annotations
  documentation/concepts/data-model.rst
Due: none

docs: add (cross-referenced) section for guidance on when to record data on one sensor or separate sensors
  documentation/api/notation.rst
  documentation/concepts/data-model.rst
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

docs: properly file changelog entry under v1.0.0
  documentation/changelog.rst
Due: none

Update flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

fix: fixed issue were public assets are always added
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

fix: preserve sensor reference source filters
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

fix: preserve soc source filters during inference
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: support filtered storage efficiency sensors
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: reject filtered aggregate power sensors
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

feat: enhance asset copy UI with pagination and improved loading state
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

feat: support source filters in sensor references for flex-model and flex-context (#2209)
  .github/instructions/testing.instructions.md
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/validation_utils.py
Due: flake8, black, generate-openapi-specs

Click >= 8.2 upgrade (#2219)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/users.py
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
  flexmeasures/data/schemas/account.py
  flexmeasures/data/schemas/sources.py
  flexmeasures/data/schemas/utils.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

Make CLI test failures verbose by not catching exceptions in the test runner (#2220)
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/conftest.py
Due: flake8, black

fix: merge conflicts
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Feat: scheduler support for device groups (#1934)
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

Document modelling choice for storing source types under one or multiple sensors (#2217)
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
Due: none

doc: Enhance docstrings for asset reference pruning functions with examples
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

fix: Correct HTML tag from <psan> to <span> and improve job timestamp handling in jobs table (#2216)
  flexmeasures/ui/templates/sensors/status.html
Due: none

refactor: make variables for gas boiler and e-heater capacities
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
