Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: remove self
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: explicitly set the consumption_is_positive attribute on consumption and production sensors to make sure the get_schedule doesn't flip the sign
  flexmeasures/data/services/scheduling.py
Due: flake8, black

initial design
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_jobs.py
  flexmeasures/data/services/utils.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

fix(forecast): restore lag helper indentation
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

test(forecast): update seasonal lag expectations
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Derive seasonal lags from sensor resolution (#2157)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

docs: improve docstring for asset copy endpoint
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: improve docstring for asset copy endpoint (#2204)
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

display data as table and color in job status
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_jobs.py
Due: flake8, black

fix up changelog entries
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

fix up docstring
  flexmeasures/cli/jobs.py
Due: flake8, black

add this new and some missing CLI commands to the list in the docs
  documentation/cli/commands.rst
Due: none

feat: test fetching schedules from consumption and production sensors
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

fix: set_attribute is a no-op when the attribute does not exist; also refactor
  flexmeasures/data/services/scheduling.py
Due: flake8, black

feat: prevent mutating consumption_is_positive once it is set
  flexmeasures/data/services/scheduling.py
Due: flake8, black

docs: fix phrase
  documentation/changelog.rst
Due: none

feat: summarize failed jobs from rq traceback
  flexmeasures/data/services/utils.py
Due: flake8, black

test: cover failed inspect-job traceback summary
  flexmeasures/cli/tests/test_jobs.py
Due: flake8, black

CLI command to inspect a job (#2202)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_jobs.py
  flexmeasures/data/services/utils.py
Due: flake8, black, generate-openapi-specs

fix: test expectations for production sensors
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

docs: clarify sign convention for the get_schedule endpoint
  documentation/api/notation.rst
  documentation/concepts/data-model.rst
Due: none

docs: touch up sign explanations
  documentation/api/notation.rst
  documentation/concepts/data-model.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: clarify how the scheduler records the data, mention the sign of database values, rather than 'raw database values', and stop using the term 'reflect', which itself suggest a sign flip
  documentation/api/change_log.rst
  documentation/api/notation.rst
  documentation/concepts/data-model.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: stop autousing the setup_api_test_data fixture
  flexmeasures/api/tests/conftest.py
  flexmeasures/api/tests/test_task_runs.py
Due: flake8, black, generate-openapi-specs

chore: stop autousing the setup_planning_test_data fixture
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_process.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: clarify confusing comments
  documentation/api/notation.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

style: punctuation
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

Chore/no autouse fixtures (#2206)
  flexmeasures/api/tests/conftest.py
  flexmeasures/api/tests/test_task_runs.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_process.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black, generate-openapi-specs

uploading/posting beliefs works without Redis (again) and we now explicitly test if workers are actually on the ingestion queue
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

amend changelog entry
  documentation/changelog.rst
Due: none

docs: use rst docstring for regressor selector
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

test: annotate covariate frame capture helpers
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

test: frame covariate selection expectations
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

feat(forecasting): raise NotEnoughDataException for exhausted seasonal lags
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

test(forecasting): expect NotEnoughDataException for exhausted seasonal lags
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black
