Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Prefer an installed plugin package over a same-named folder in the working directory (#2419)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

Schedulers as data generators, and a generator on every automation (#2464)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/automations.rst
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/3e91c47b0a58_merge_schedule_automations_with_main.py
  flexmeasures/data/migrations/versions/5a9c0e3b7d21_allow_schedule_automations_without_generator.py
  flexmeasures/data/migrations/versions/a71d6f2c9b04_name_automation_types_after_the_task.py
  flexmeasures/data/migrations/versions/c63896a97a8e_merge_the_automation_timezone_and_.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/config.py
  flexmeasures/data/schemas/scheduling/groups.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/scheduling/utils.py
  flexmeasures/data/schemas/tests/test_scheduler_config.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black, generate-openapi-specs

tooling: let the pre-commit hook check non-uv checkouts
  .claude/hooks/pre-commit-check.sh
Due: none

tooling: let the pre-commit hook check non-uv checkouts (#2487)
  .claude/hooks/pre-commit-check.sh
Due: none

Summarise every data source in the sensor statistics table (#2462)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_sensor_stats.py
  flexmeasures/ui/static/js/flexmeasures.js
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Refactor status_page_tab session variable handling
  flexmeasures/ui/templates/sensors/status.html
Due: none

Enhance status tabs with accessibility attributes
  flexmeasures/ui/templates/sensors/status.html
Due: none

Add role and aria-labelledby attributes to jobs tab
  flexmeasures/ui/templates/sensors/status.html
Due: none

Query each sensor once when loading forecasting input data (#2481)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Fit and predict forecasting horizon sub-models concurrently (#2479)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/custom_models/base_model.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Make train-period the one way to limit how much history a forecaster trains on (#2482)
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

Read each commitment's constant columns once, while splitting them
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
Due: flake8, black

Put back changelog header formatting
  documentation/changelog.rst
Due: none

Build the device grouping and the convexity check without per-group frames
  flexmeasures/data/models/planning/scheduling_problem.py
Due: flake8, black

Gather the commitment rows while splitting, and build the frames on demand
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/scheduling_problem.py
Due: flake8, black

Address review: use dotted API-version keys in FLEXMEASURES_DEPRECATION_AND_SUNSET
  documentation/api/introduction.rst
  documentation/configuration.rst
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/sunset/tests/test_sunset.py
Due: flake8, black, generate-openapi-specs

Feat: hosts can configure deprecation details (#2362)
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/utils/deprecation_utils.py
  flexmeasures/api/sunset/tests/test_sunset.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

fix: restore the end-of-horizon SoC commitment lost in the main merge
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix(assets): select one deterministic belief per event in KPI endpoint (#2471)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Fix status page dropping sensors and asking about fixed-value sensors
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/js/sensor-status-utils.js
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/js/test_sensor_status_utils.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Add changelog entry for the status page fix
  documentation/changelog.rst
Due: none

feat: add plot descriptions to sensors_to_show
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs: more host-friendly changelog warning; correct 3 misfiled changelog entries
  documentation/changelog.rst
Due: none

docs: correct advice
  documentation/changelog.rst
Due: none

Settle which source wins an event with one rule, in two steps
  documentation/changelog.rst
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

docs/changelog: point the entry at the PR
  documentation/changelog.rst
Due: none

docs/changelog: restore two entries' own PR references
  documentation/changelog.rst
Due: none

docs: reflow the tie-break sentence to break after punctuation
  flexmeasures/data/models/time_series.py
Due: flake8, black

Treat one named source as one preference, however many it matches
  documentation/changelog.rst
  flexmeasures/data/models/parsing_utils.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

Let an entry that named nothing keep its place, without demoting the rest
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

Say in the signature what a preference entry may be
  flexmeasures/data/models/time_series.py
Due: flake8, black

Hold the reference implementation to the same rule as the selector
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

Test for the single source, rather than listing the containers
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

docs: say that the source order matters wherever one belief per event is asked for
  flexmeasures/data/models/time_series.py
Due: flake8, black

Count an event once in a KPI, when several sources report it (#2472)
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/time_series.py
Due: flake8, black, generate-openapi-specs

Fix inverted sign of aggregate-consumption schedules
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

Settle which source wins an event with one rule, in two steps (#2494)
  documentation/changelog.rst
  flexmeasures/data/models/parsing_utils.py
  flexmeasures/data/models/reporting/tests/test_aggregator.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

fix(migrations): chain the durable automation runs migration after main's
  flexmeasures/data/migrations/versions/f3d8e2c9a741_add_durable_automation_runs.py
Due: flake8, black

Update execution state condition for running intent
  flexmeasures/data/services/automations.py
Due: flake8, black

Reformat claim availability docstring
  flexmeasures/data/services/automations.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
