Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

refactor: all listed Exceptions are subclasses of Exception
  flexmeasures/utils/error_utils.py
Due: flake8, black

style: flake8 (remove obsolete imports)
  flexmeasures/utils/error_utils.py
Due: flake8, black

fix: normalize job status comparison to upper case in forecast fetching test
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
Due: flake8, black, generate-openapi-specs

style: run pre-commit
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

Update flexmeasures/data/services/generic_assets.py
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

chore: added more samples to util function
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

feat: Enhance JSON change reporting for nested structures in format_json_field_change
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

fix: Correct newline escape sequences in JSON field change formatting
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

feat: add 'prior' field to forecast parameters in OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

fix: update the expected ev and battery costs
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

fix: add device id to get costs for the given device
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

feat: improve test by using a user that is not already registered as a data source before POSTing sensor data
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
Due: flake8, black, generate-openapi-specs

fix: set approximate create datetime based on git info, assuming local time (UTC+1)
  flexmeasures/data/migrations/versions/9877450113f6_add_account_id_to_data_source.py
Due: flake8, black

style: flake8
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
Due: flake8, black, generate-openapi-specs

feat: add migration check to architecture agent instructions
  .github/agents/architecture-domain-specialist.md
Due: none

docs: add db upgrade warning and update agent instructions accordingly
  .github/agents/architecture-domain-specialist.md
  documentation/changelog.rst
Due: none

Enforce `prior` belief-time constraint on forecasting pipeline input data (#2057)
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
  flexmeasures/conftest.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

revert: redundant part of the fix
  flexmeasures/data/services/time_series.py
Due: flake8, black

refactor: reuse bdf_db (no need to query again)
  flexmeasures/data/services/time_series.py
  flexmeasures/data/utils.py
Due: flake8, black

refactor: prevent call to remove_existing_beliefs in lower level groupby statement
  flexmeasures/data/services/time_series.py
Due: flake8, black

chore: minimize diff
  flexmeasures/data/services/time_series.py
Due: flake8, black

style: RST docstrings
  flexmeasures/data/services/time_series.py
Due: flake8, black

feat: add tests for saving both deterministic and probabilistic beliefs
  flexmeasures/conftest.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

fix: use separate test fixture for new tests
  flexmeasures/conftest.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

style: run pre-commit
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

fix: fix regression in upsampling speed by updating timely-beliefs
  pyproject.toml
  uv.lock
Due: none

chore: update dependencies by running `uv lock --upgrade`
  uv.lock
Due: none

fix: normalize SoC time-series values before lookup
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: support inherited soc-max for percent SoC lookup
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: Enhance plot change descriptions in format_json_field_change
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_generic_assets.py
Due: flake8, black

fix: Correct description in format_json_field_change for sensor updates
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

feat: add main AGENTS.md with instructions to use the lead.md agent as the primary entry point for all agent-based work.
  AGENTS.md
Due: none

Make review lead main agent contact point (#2066)
  .github/agents/coordinator.md
  .github/agents/lead.md
  AGENTS.md
  documentation/changelog.rst
Due: none

chore: Remove dictdiffer dependency from project configuration
  pyproject.toml
  uv.lock
Due: none

chore: added changelog entry
  documentation/changelog.rst
Due: none
