Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: clarify e-heater efficiency assumption
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: add scenario with merit order: gas boiler ≪ e-heater ≪ CHP
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: support flex-model coupling constraint in StorageScheduler
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

docs: clarify calculation of coupling coefficients
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: invert interpretation of coefficients to better match thermal and electrical efficiencies
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

feat: support multiple inputs to coupling point
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

feat: stop collapsing the heat buffer and steam node in the factory test
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

tests/planning: align storage CHP coupling test with current coefficient validation
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

planning/coupling: infer internal sign from directional capacities
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

tests/planning: clarify signed internal CHP coefficients in storage docstring
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: allow storage constraints without soc-min
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover missing storage soc-min
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: add optional storage soc-min changelog
  documentation/changelog.rst
Due: none

docs: clarify optional storage soc-min
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix: infer storage power capacity from directional limits
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover storage power capacity directional fallback
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: clarify storage power capacity fallback
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

docs: add storage power capacity fallback changelog
  documentation/changelog.rst
Due: none

docs: update changelog entry with pr number
  documentation/changelog.rst
Due: none

fix: update the test cases according device level costs
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: add device-model in groups if it's missing
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

fix: restore SOC constraints and state-of-charge handling broken by multi-feed-stock refactor
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: reorder inheritance in AccountIdField for clarity
  flexmeasures/data/schemas/account.py
Due: flake8, black, generate-openapi-specs

fix: Update string formatting in asset reference pruning functions for consistency
  flexmeasures/data/services/generic_assets.py
Due: flake8, black

chore: restore deleted code
  flexmeasures/data/tests/test_belief_charts.py
Due: flake8, black

Update flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

cli: create toy accounts with kW-scale units
  flexmeasures/cli/data_add.py
Due: flake8, black

cli/tests: cover kW-scale toy account data
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

ci: use kW-scale toy tutorial inputs
  .github/workflows/build.yml
  .github/workflows/generate-dummy-price.sh
Due: none

docs/scripts: run toy tutorials with kW-scale data
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
Due: none

docs/tutorial: show battery scheduling in kW units
  documentation/dev/docker-compose.rst
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-setup.rst
Due: none

docs/tutorial: align follow-on examples with kW units
  documentation/tut/toy-example-multiasset-curtailment.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
Due: none

Update flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

fix: allow storage constraints without soc-max
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover missing storage soc-max
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: describe optional storage soc bounds
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs
