Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Reference the PR number in the changelog entry
  documentation/changelog.rst
Due: none

Keep DateOffset seconds integral, and follow the comment convention
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

Backport PR #2434: Stop the asset page's KPIs counting a day the chart does not show (#2434)
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/utils.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

Backport PR #2461: Fix: None-save unit conversion (#2461)
  flexmeasures/api/v3_0/tests/test_sensor_data_fresh_db.py
  flexmeasures/utils/tests/test_unit_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

Backport PR #2465: fix: handle unknown alembic revisions during startup (#2465)
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
Due: flake8, black

Backport PR #2473: feat: hint at comma-separated format when a FLEXMEASURES_PLUGINS entr… (#2473)
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

Backport PR #2480: Run a job once, on its own queue, in flexmeasures jobs run-job (#2480)
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_jobs.py
Due: flake8, black

Backport PR #2419: Prefer an installed plugin package over a same-named folder in the working directory (#2419)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/plugin_utils.py
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

Backport PR #2475 (partial): fix the ad98460751d9 migration that missed two tables
  flexmeasures/data/migrations/versions/ad98460751d9_remove_obsolete_tables.py
Due: flake8, black

Backport PR #2499: Fix inverted sign of aggregate-consumption schedules (#2499)
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

Backport PR #2502: Reject a resolution that spans no positive time (#2502)
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

Resolve output-sensor references instead of skipping them
  documentation/changelog.rst
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_output_sensors.py
Due: flake8, black

Add PR link to changelog entry
  documentation/changelog.rst
Due: none

Schedules as automations (#2293)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/automations.rst
  documentation/features/forecasting.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/3e91c47b0a58_merge_schedule_automations_with_main.py
  flexmeasures/data/migrations/versions/a71d6f2c9b04_name_automation_types_after_the_task.py
  flexmeasures/data/migrations/versions/c7a2f13b9e04_merge_schedule_automations_with_main.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/config.py
  flexmeasures/data/schemas/scheduling/groups.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/scheduling/utils.py
  flexmeasures/data/schemas/tests/test_scheduler_config.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Address review: make the accepted input shapes explicit
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Ground on instants, and cover the planning horizon too
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

Backport PR #2479: Fit and predict forecasting horizon sub-models concurrently (#2479)
  flexmeasures/data/models/forecasting/custom_models/base_model.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Backport PR #2482: Make train-period the one way to limit how much history a forecaster trains on (#2482)
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

docs: assemble the v1.0.1 changelog
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Resolve output-sensor references instead of skipping them (#2507)
  documentation/changelog.rst
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_output_sensors.py
Due: flake8, black

Backport PR #2507: Resolve output-sensor references instead of skipping them (#2507)
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_output_sensors.py
Due: flake8, black

Say that a duration can also come back as isodate reported it
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

docs: add PR #2507 to the v1.0.1 changelog
  documentation/changelog.rst
Due: none

Refresh the flexmeasures package before regenerating OpenAPI specs
  .pre-commit-config.yaml
Due: none

Parse the OpenAPI spec's version instead of splitting on dots
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

docs: carve out a v1.0.1 changelog section on main
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

ui/status: name the asset each job happened on
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs/changelog: drop two entries that #2293 superseded
  documentation/changelog.rst
Due: none

Fix/guess next version (#2508)
  .pre-commit-config.yaml
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

docs/changelog: drop two entries that #2293 superseded (#2509)
  documentation/changelog.rst
Due: none

ui/static/js: size a fast chart's bars from the sensor's event resolution
  flexmeasures/ui/static/js/fast-chart.js
Due: none

tests: cover a sensor whose chart holds a single data point
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

docs: changelog entry for the single-data-point chart fix
  documentation/changelog.rst
Due: none

docs: link the changelog entry to its PR
  documentation/changelog.rst
Due: none

perf: drop the inflect dependency in favor of inflection
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/services/asset_grouping.py
  flexmeasures/data/services/time_series.py
  flexmeasures/utils/flexmeasures_inflection.py
  flexmeasures/utils/tests/test_flexmeasures_inflection.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

fix: reuse cached revision status, defer 2nd altair import site
  flexmeasures/data/schemas/attributes.py
  flexmeasures/data/utils.py
  gunicorn.conf.py
Due: flake8, black, generate-openapi-specs

perf: speed up container startup and app boot (docker, gunicorn, altair)
  Dockerfile
  docker-compose.yml
  documentation/changelog.rst
  flexmeasures/data/__init__.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/services/time_series.py
  gunicorn.conf.py
Due: flake8, black

perf: eager-load owner/type/child_assets on GET /api/v3_0/assets
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix: exclude gunicorn.conf.py from CI's doctest-modules collection
  .github/workflows/lint-and-test.yml
Due: none

style: black-format the new N+1 regression test
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
