Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Fix formatting of docstring in test function
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

perf(data/services): summarize automation runs without loading their whole history
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

fix: bring back the reason when hoverover the trafic light
  flexmeasures/ui/templates/sensors/status.html
Due: none

Name automation types after the task, not its results
  documentation/changelog.rst
  documentation/features/automations.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/5a9c0e3b7d21_allow_schedule_automations_without_generator.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

Keep the status page script classic, so its tables build first
  flexmeasures/ui/templates/sensors/status.html
Due: none

Gate managing an automation the way running one is gated
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/models/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

Record this branch's endpoints in the changelogs
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Give the trigger tests the fixtures this file now uses
  flexmeasures/api/v3_0/tests/test_automations_api.py
Due: flake8, black, generate-openapi-specs

Add PR link to changelog entry
  documentation/changelog.rst
Due: none

Address review: correct two docstrings
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

Address review: widen annotation, end docstring lines at punctuation
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

Status page: split sensor data and jobs into tabs (#2470)
  documentation/changelog.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

black
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

Status page: show every sensor it asks about, and stop asking about fixed-value sensors (#2489)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/js/sensor-status-utils.js
  flexmeasures/ui/templates/sensors/status.html
  flexmeasures/ui/tests/js/test_sensor_status_utils.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

data/models: reject off-tick schedule starts
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

api/v3_0: cover off-tick asset schedule triggers
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

api/docs: document schedule start alignment
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

ui/status: list the jobs of sub-assets, too
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

tests: cover the jobs of sub-assets on the status page
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs: document the jobs of sub-assets on the status page
  documentation/changelog.rst
  documentation/views/asset-data.rst
Due: none

utils/plugin: read plugin-declared settings from the environment
  flexmeasures/utils/plugin_utils.py
Due: flake8, black

utils/plugin: test reading plugin settings from the environment
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

docs/plugin: document where plugin settings can be set
  documentation/plugin/customisation.rst
Due: none

docs: add changelog entry for plugin settings from the environment
  documentation/changelog.rst
Due: none

Reject a resolution that spans no positive time (#2493)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

Reference the PR number in the changelog entry
  documentation/changelog.rst
Due: none

Cover the days component of a nominal resolution
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

End a test comment at punctuation
  flexmeasures/data/schemas/tests/test_times.py
Due: flake8, black, generate-openapi-specs

Describe the change accurately in both changelogs
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

utils/plugin: reuse parse_bool_env for plugin settings from the environment
  flexmeasures/utils/plugin_utils.py
Due: flake8, black

docs/plugin: correct what is read from the environment while testing
  documentation/plugin/customisation.rst
Due: none

utils/plugin: type-check a plugin setting's declared default too
  flexmeasures/utils/plugin_utils.py
Due: flake8, black

utils/plugin: restore the plugin loader tests, and add the settings tests to them
  flexmeasures/utils/tests/test_plugin_utils.py
Due: flake8, black

Point the nominal-duration todo at the option that now exists
  flexmeasures/data/schemas/tests/test_times.py
Due: flake8, black, generate-openapi-specs

Reject a resolution that spans no positive time (#2502)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

Mark flex-model output sensors after compute(), too
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Address review: rewrap a param description at punctuation
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Address review: reflow a note block at punctuation
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Fix inverted sign of aggregate-consumption schedules (#2499)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

Read a window of a day or longer against the calendar (#2503)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/generic_schemas.py
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/data/schemas/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/schemas/tests/test_times.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs
