Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

agents/docstrings: extend the line-break convention to JavaScript
  .github/instructions/docstrings.instructions.md
Due: none

agents/docstrings: match how the other instruction files scope themselves
  .github/instructions/docstrings.instructions.md
Due: none

ui/graphs: require the options that the fetch helpers cannot work without
  flexmeasures/ui/static/js/chart-data-fetch.js
Due: none

api/v3_0/tests: pin down that the KPI window's end is exclusive
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

docs: changelog entry for the KPI window fix
  documentation/changelog.rst
Due: none

ui/graphs: stop the KPIs counting a day the chart does not show
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: correct why the initial window is derived from the template
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

ui/graphs: read the initial window from the globals already assigned
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: stop the KPIs counting a day the chart does not show
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

docs: fill in the PR number in the changelog entry
  documentation/changelog.rst
Due: none

docs: leave the KPI window entry to its own PR
  documentation/changelog.rst
Due: none

ui/graphs: keep the cache consistent when selections overlap
  flexmeasures/ui/static/js/chart-data-cache.js
Due: none

ui/graphs: record why the KPI end date is not advanced
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/tests: cover the date, data and chart-data helpers
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_data_utils.py
  flexmeasures/ui/tests/js/test_daterange_utils.py
Due: flake8, black

ui/tests: run the JavaScript modules in a browser, from pytest
  flexmeasures/ui/tests/js/README.md
  flexmeasures/ui/tests/js/conftest.py
  pyproject.toml
Due: flake8, black

ui/static: fix two bugs the new JavaScript tests found
  flexmeasures/ui/static/js/data-utils.js
  flexmeasures/ui/static/js/daterange-utils.js
Due: none

docs: changelog entries for the JavaScript tests and the KPI time range fix
  documentation/changelog.rst
Due: none

docs: fill in the PR number in the changelog entries
  documentation/changelog.rst
Due: none

ui/static: stop counting a record with no source as a source
  flexmeasures/ui/static/js/data-utils.js
  flexmeasures/ui/tests/js/test_data_utils.py
Due: flake8, black

build: lock the selenium test dependency
  flexmeasures/ui/tests/js/conftest.py
  uv.lock
Due: flake8, black

ui/tests: format with the black version this repo pins
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_data_utils.py
  flexmeasures/ui/tests/js/test_daterange_utils.py
Due: flake8, black

ui/static: send the KPI window at the instant it means
  flexmeasures/ui/static/js/daterange-utils.js
Due: none

ui/tests: break the run() docstring only after punctuation
  flexmeasures/ui/tests/js/conftest.py
Due: flake8, black

ui/graphs: ignore the answer to a window no longer on screen
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: guard the reload against being overtaken too
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: give the date picker the range it is meant to open on
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/graphs: guard the first load against being overtaken as well
  flexmeasures/ui/templates/includes/graphs.html
Due: none

docs: reference only the PR in the changelog entry
  documentation/changelog.rst
Due: none

ui/graphs: correct the comments about the KPI window
  flexmeasures/ui/static/js/daterange-utils.js
  flexmeasures/ui/templates/includes/graphs.html
Due: none

tests: cover the fix itself, not only the contract beneath it
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

ui/graphs: drop the last comment claiming getAssetKPIs mutates its argument
  flexmeasures/ui/templates/includes/graphs.html
Due: none

ui/static: say in the JSDoc that the clock time written is the local one
  flexmeasures/ui/static/js/daterange-utils.js
Due: none

fix: preserve job responses for legacy clients
  .github/workflows/docker-qa.yml
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

refactor: scope legacy job responses to API v3
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/utils.py
Due: flake8, black, generate-openapi-specs

fix: provide CLI wrapper through client 0.9.3
  .github/workflows/docker-qa.yml
Due: none

ci: keep ingestion worker in legacy QA runs
  .github/workflows/docker-qa.yml
Due: none

fix: translate legacy HEMS report paths
  .github/workflows/docker-qa.yml
Due: none

fix: adapt v0.8 HEMS forecasting flag
  .github/workflows/docker-qa.yml
Due: none

ci: print client QA capability summary
  .github/workflows/docker-qa.yml
Due: none

ci: distinguish API support from QA coverage
  .github/workflows/docker-qa.yml
Due: none
