Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

changelog: name the kinds of data generator, and drop the replaced exceptions
  documentation/changelog.rst
Due: none

chore: move TimezoneField to more general place data/schemas/times.py, not automations
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/times.py
Due: flake8, black, generate-openapi-specs

use TimezoneField in the show beliefs command and fix a bug which overwrote explicitly set timezones
  flexmeasures/cli/data_show.py
Due: flake8, black

docs/cli: announce export-timezone option
  documentation/cli/change_log.rst
Due: none

cli: prefer export-timezone for belief CSVs
  flexmeasures/cli/data_show.py
Due: flake8, black

docs: state what saves a plugin forecaster's results without naming --as-job
  documentation/changelog.rst
  documentation/plugin/customisation.rst
Due: none

Let the service record what a data generator returns (#2689)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/plugin/customisation.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/generator_results.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_generator_results_fresh_db.py
  flexmeasures/data/tests/test_plugin_automations_fresh_db.py
Due: flake8, black

data/services: store one failure summary in a job's meta for every queue
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black, generate-openapi-specs

tests: pin one failure summary on every queue
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/data/tests/test_job_failures.py
Due: flake8, black

changelog: a failed job says why in the same way on every queue
  documentation/changelog.rst
Due: none

data/services: check a forecast cycle against its automation's sensors
  flexmeasures/data/services/forecasting.py
Due: flake8, black

data/tests: pin a forecast cycle refused for an unchecked sensor
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

changelog: forecast cycle jobs are checked against their automation's sensors
  documentation/changelog.rst
Due: none

data/services: read a forecast cycle's check as one call
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/services/generator_results.py
Due: flake8, black

Take a regressor's belief as realized by its sensor's knowledge horizon
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Check a forecast cycle's results against its automation's sensors (#2699)
  documentation/changelog.rst
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/services/generator_results.py
  flexmeasures/data/tests/test_automation_runs_fresh_db.py
Due: flake8, black

ui/tests: pin a failed job showing on the RQ dashboard
  flexmeasures/ui/tests/test_tasks_views.py
Due: flake8, black

fix: take a regressor's belief as realized by its sensor's knowledge horizon (#2692)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

data/services: say why a job's meta must be JSON-serializable
  flexmeasures/cli/jobs.py
  flexmeasures/data/services/utils.py
Due: flake8, black

One failure summary in a job's meta for every queue (#2698)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/data/tests/test_job_failures.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/ui/tests/test_tasks_views.py
Due: flake8, black, generate-openapi-specs

Give the UI's API calls a rate-limit budget of their own, per user
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

Docs: the UI's API calls count against FLEXMEASURES_UI_RATE_LIMIT, per user
  documentation/configuration.rst
  documentation/host/plans.rst
Due: none

Changelog: the UI's API calls get a rate-limit budget of their own
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

forecasting: hand the trained model to the prediction in memory
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/services/forecasting.py
Due: flake8, black, generate-openapi-specs

forecasting/tests: pin a forecast keeping its model only when asked
  flexmeasures/data/tests/test_forecasting_jobs_fresh_db.py
Due: flake8, black

changelog: forecasts keep no model file unless asked
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Derive the resolution to forecast an instantaneous sensor at, when none is given
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/forecasting.rst
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Hold an instantaneous sensor's readings until the next one, as a sensor-level policy
  documentation/concepts/time-series-and-beliefs.rst
  documentation/features/forecasting.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/instantaneous.py
  flexmeasures/data/tests/test_forecasting_instantaneous.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Derive an instantaneous target's resolution in the forecaster, over its training window and with its source filters
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/features/forecasting.rst
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/forecasting/pipelines/instantaneous.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_instantaneous.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Say how an instantaneous target's readings are taken onto the slots
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

feat(planning): export commodity_costs in StorageScheduler outputs and persist in job meta (#2416)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Move chart interpolation changelog entry to v1.1.0 Bugfixes
  documentation/changelog.rst
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
