Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs(api): document soc-minima/soc-maxima as lists in jobs endpoint
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs(scheduling): describe soc-minima/soc-maxima results as lists
  documentation/features/scheduling.rst
Due: none

tests/planning: update unresolved-target assertions for list-wrapped constraints
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

tests/planning: cover the all=True/False flag of _compute_unresolved_targets
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

data/models/planning: add all=True/False to _compute_unresolved_targets
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

data/models/planning: rename all to most_relevant_only, default False
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

tests/planning: rename all to most_relevant_only, default False
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

docs: fix field-name and stale-example inconsistencies in job result docs
  documentation/api/change_log.rst
  flexmeasures/data/services/scheduling_result.py
Due: flake8, black

no pre-fill of search term, let's do that in the next PR
  flexmeasures/ui/templates/assets/asset_new.html
Due: none

api/v3_0, data/services: carry scheduling result via job return value, not meta
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/scheduling_result.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: describe result field carrying scheduling constraint analysis
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
Due: none

api/v3_0/tests: cover result-field shape for StorageScheduler jobs
  flexmeasures/api/v3_0/tests/test_jobs_api.py
Due: flake8, black, generate-openapi-specs

Feat: Add copy-existing-asset tab to asset creation flow (#2195)
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/common/schemas/assets.py
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

docs: point out that FM Client is unaffected
  documentation/api/change_log.rst
Due: none

style: more strategic linebreaks
  documentation/features/scheduling.rst
Due: none

api/v3_0, data/services: make scheduling jobs always return a dict
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: describe result as always a dict for scheduling jobs
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
Due: none

tests: cover always-dict result for non-StorageScheduler jobs too
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black, generate-openapi-specs

docs: the FM Client is still unaffected
  documentation/api/change_log.rst
Due: none

tests: tolerate float rounding in unit-conversion assertions
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

feat(ci): automate PyPI smoke test
  .github/workflows/release.yml
Due: none

feat(ci): add Docker Hub release workflow
  .github/workflows/docker-publish.yml
Due: none

feat(ci): add script to list PRs since the given (or latest) git tag
  bin/list-merged-prs-since-tag.sh
  pyproject.toml
Due: none

docs(ci): add dev section on the release process
  documentation/dev/release_process.rst
  documentation/index.rst
Due: none

refactor(ci): move changelog helper script into ci/ folder
  ci/list-merged-prs-since-tag.sh
  documentation/dev/release_process.rst
  pyproject.toml
Due: none

feat(ci): add manually-triggered QA workflow for tutorials and HEMS
  .github/workflows/qa-release.yml
  documentation/dev/release_process.rst
Due: none

feat(ci): make qa-release.yml also validate HEMS report generation
  .github/workflows/qa-release.yml
Due: none

docs: add changelog entry for release automation workflows
  documentation/changelog.rst
Due: none

feat(ci): require manual approval for Docker Hub publish
  .github/workflows/docker-publish.yml
Due: none

refactor(ci): rename workflows for clarity, move dummy-price script into ci/
  .github/agents/tooling-ci-specialist.md
  .github/workflows/docker-build.yml
  .github/workflows/docker-qa.yml
  .github/workflows/pypi-publish.yml
  ci/generate-dummy-price.sh
  documentation/dev/release_process.rst
Due: none

docs: switch to source-types in tutorial, and explain the source filters
  documentation/api/notation.rst
  documentation/concepts/data-model.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
Due: none

docs: changelog entry
  documentation/changelog.rst
Due: none

docs: prefer storage when talking about the device, and stock when talking about the device state
  documentation/tut/multi-feed-storage.rst
Due: none

docs: switch to source-types in tutorial, and explain the source filters (#2261)
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
Due: none

docs: discuss a more realistic case for the multi-feed-storage example; add cross-references between tutorials
  documentation/features/scheduling.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/multi-commodity.rst
  documentation/tut/multi-feed-storage.rst
Due: none

fix: address PR #2260 review comments
  .github/workflows/docker-publish.yml
  .github/workflows/docker-qa.yml
  ci/list-merged-prs-since-tag.sh
  documentation/dev/release_process.rst
Due: none

give generic asset table a description column
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/data/migrations/versions/4b0f2e9c1a6d_add_description_to_generic_asset.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/views/assets/forms.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

add/update three basic asset templates on startup (can be turned off in settings)
  documentation/configuration.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/app.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

Release workflows (#2260)
  .github/agents/tooling-ci-specialist.md
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docker-qa.yml
  .github/workflows/pypi-publish.yml
  ci/generate-dummy-price.sh
  ci/list-merged-prs-since-tag.sh
  documentation/changelog.rst
  documentation/dev/release_process.rst
  documentation/index.rst
  pyproject.toml
Due: none

tests: tolerate float noise in quantity string comparisons too
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs
