Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

2 tiny docs improvements
  documentation/concepts/security_auth.rst
Due: none

Expect the invisible hit rule among an asset chart's annotation layers
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Make named ACL permissions primary and freeze role grants
  documentation/concepts/security_auth.rst
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_named_permissions.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
Due: flake8, black

Use consistent string names for permissions
  flexmeasures/auth/policy.py
Due: flake8, black

Show role descriptions on the user page
  documentation/changelog.rst
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/tests/test_user_crud.py
Due: flake8, black

Show selected role tooltips above user edit modal
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/users/user.html
Due: none

Rename home account roles and migrate existing grants
  documentation/changelog.rst
  documentation/concepts/security_auth.rst
  documentation/dev/auth.rst
  flexmeasures/api/v3_0/tests/test_api_v3_0_users_fresh_db.py
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_named_permissions.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/services/users.py
  flexmeasures/data/tests/test_member_role_migration.py
  flexmeasures/data/tests/test_user_services.py
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/tests/test_user_crud.py
Due: flake8, black, generate-openapi-specs

Answer unknown /api URLs with a JSON 404
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/utils/error_utils.py
  flexmeasures/utils/tests/test_error_utils.py
Due: flake8, black

Fill in PR number in changelog
  documentation/changelog.rst
Due: none

add examples for detailled limits above role-based grants and ACLs, simplify role list
  flexmeasures/auth/policy.py
Due: flake8, black

fix tuple/set
  flexmeasures/auth/policy.py
Due: flake8, black

fix migration merge on top of latest from main
  flexmeasures/data/migrations/versions/8e9348063a5d_merging.py
Due: flake8, black

api/v3_0: paginate asset jobs for the status page
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

docs: describe asset jobs pagination and cache freshness
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

tests: cover paged jobs and status cache behavior
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black, generate-openapi-specs

changelog entry: PR number
  documentation/changelog.rst
Due: none

data/services: use cached RQ status during job enrichment
  flexmeasures/data/services/sensors.py
Due: flake8, black

tests: cover cached jobs after Redis records disappear
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
Due: flake8, black, generate-openapi-specs

api/v3_0: sort paged asset jobs by time or queue
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

tests: verify job sorting before pagination
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

docs: describe sorting of paged asset jobs
  documentation/api/change_log.rst
Due: none

Feat/add annotations on sensor page (#2570)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/views/sensors.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/test_chart_defaults.py
  flexmeasures/data/schemas/annotations.py
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_fast_chart.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black, generate-openapi-specs

Provision template assets in one process at a time (#2600)
  documentation/changelog.rst
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

data/services: make status cache limits JobCache properties
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/sensors.py
Due: flake8, black

tests: use configured status cache lifetime
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black

docs: give sensor references and their cleaning their own sub-sections, and cross-reference them
  documentation/concepts/flexibility-configuration.rst
  documentation/features/forecasting.rst
Due: none

data/schemas/forecasting: say in the CLI help that ensure-positive is deprecated
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

Clarify Redis job index and status page snapshot
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/sensors.py
Due: flake8, black

Test fresh job reads alongside status page snapshots
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black

docs/changelog: put back the rate-limit entry the merge with main dropped
  documentation/changelog.rst
Due: none

data/schemas/sensors: break a docstring after punctuation, as the convention asks
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

improve docstring of JobCache
  flexmeasures/data/services/job_cache.py
Due: flake8, black

docs: say organisation where the docs mean one, and date an example like its neighbours
  documentation/concepts/flexibility-configuration.rst
  documentation/features/forecasting.rst
Due: none

docs: drop a sensor-reference filter key that flex configs never supported
  documentation/concepts/flexibility-configuration.rst
Due: none

Use generic name for cached job snapshots
  flexmeasures/data/services/job_cache.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/tests/test_job_cache.py
Due: flake8, black

Let the scheduler clean its inputs with bounds on a sensor reference (#2561)
  documentation/changelog.rst
  documentation/concepts/flexibility-configuration.rst
  documentation/features/forecasting.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_utils_fresh_db.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/schemas/tests/test_sensor.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Say what does and does not prevent a stacked branch's post-squash conflicts
  .github/instructions/feature-branch-sync.instructions.md
Due: none

data/schemas/forecasting: let a config name the sensor being forecast as "auto"
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/forecasting/references.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/models/forecasting: read the sensor being forecast as its config entry describes it
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

data/models/forecasting: move target qualifiers out of the run parameters into the config
  flexmeasures/data/models/forecasting/inputs.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
