Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Trust loopback hosts by default in the development environment
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Address review: treat an empty TRUSTED_HOSTS as unset
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Warn on startup when TRUSTED_HOSTS is unset (#2389)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/config_utils.py
  flexmeasures/utils/tests/test_config_utils.py
Due: flake8, black

Relax soc-targets along with the other SoC constraints
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black, generate-openapi-specs

fix icon mapping for asset types one-way_evse and two-way_evse
  documentation/changelog.rst
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/utils/view_utils.py
Due: flake8, black

PR number in changelog
  documentation/changelog.rst
Due: none

test: cover forecast automation output scope
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

test: cover automation generator retention
  flexmeasures/api/v3_0/tests/test_asset_jobs_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black, generate-openapi-specs

fix: require valid automation generators
  flexmeasures/data/migrations/versions/8ecec35b799c_add_automation_table.py
  flexmeasures/data/models/automations.py
Due: flake8, black

fix: constrain forecast automation outputs
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

docs: explain forecast automation ownership rules
  documentation/features/forecasting.rst
Due: none

fix: merge automation and main migration heads
  flexmeasures/data/migrations/versions/4d5e6f708192_merge_automations_with_main.py
Due: flake8, black

feat: add timezone-aware automation catch-up
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/migrations/versions/9f2b6e1d4a73_add_automation_timezone_and_cursor.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

test: cover timezone-aware automation scheduling
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/schemas/tests/test_automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs: explain automation timezone and catch-up semantics
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

changelog: record automation timezone and catch-up support
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
Due: none

Update the device scheduler's (MI)LP formulation in the docs
  documentation/concepts/device_scheduler.rst
Due: none

Add changelog entry for the updated scheduler formulation docs
  documentation/changelog.rst
Due: none

Address review: define the device sets, fix Stock_0's index, qualify module paths
  documentation/concepts/device_scheduler.rst
Due: none

Address review: stock bounds are relative, and Pyomo always declares the sign binary
  documentation/concepts/device_scheduler.rst
Due: none

Address review: a single-time-step commitment group is not split by direction
  documentation/concepts/device_scheduler.rst
Due: none

Address review: name coupling_device_specs, and list the auxiliary stock change
  documentation/concepts/device_scheduler.rst
Due: none

docs: link automation catch-up changelog to PR
  documentation/changelog.rst
Due: none

Link the module references to the code docs, showing only the short name
  documentation/concepts/device_scheduler.rst
Due: none

data/models: allow schedule automations without generators
  flexmeasures/data/migrations/versions/5a9c0e3b7d21_allow_schedule_automations_without_generator.py
  flexmeasures/data/models/automations.py
Due: flake8, black

cli/tests: cover schedule automation validation
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

data/tests: cover schedule automation dispatch
  flexmeasures/data/tests/test_automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

api/v3_0/tests: cover schedule job provenance
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

ui/tests: cover automation type tabs
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

scheduling: harden automation dispatch
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

cli: reject forecast options for schedule automations
  flexmeasures/cli/data_add.py
Due: flake8, black

ui/assets: resize automation tables on tab changes
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

docs: clarify schedule automation inputs
  documentation/features/scheduling.rst
  flexmeasures/data/models/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black

cli/tests: cover malformed automation YAML
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

cli: report malformed automation YAML
  flexmeasures/cli/data_add.py
Due: flake8, black

data/tests: cover stored schedule flex configuration
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

scheduling: load stored flex config for minimal triggers
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black

docs/scheduling: describe trigger propagation
  flexmeasures/data/services/scheduling.py
Due: flake8, black

Keep device capacities hard unless relaxation is asked for
  documentation/api/introduction.rst
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Point the changelog entry at the right PR number
  documentation/changelog.rst
Due: none
