Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Revert "fix: first create all jobs, then queue all jobs, giving the db.session.commit() some time to finish writing a new source to the db"
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

refactor: move asserts to where they matter
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

chore: add changelog entry
  documentation/changelog.rst
Due: none

update OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

address a flake8, mypy, precommit errors
  .pre-commit-config.yaml
  flexmeasures/data/migrations/versions/e690d373a3d9_copy_Power_Price_Weather_time_series_data_to_TimedBeliefs_table.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat: Graph modal upgrade - flex-config integration (#1926)
  documentation/changelog.rst
  flexmeasures/cli/data_add.py
  flexmeasures/data/migrations/versions/e690d373a3d9_copy_Power_Price_Weather_time_series_data_to_TimedBeliefs_table.py
  flexmeasures/data/models/charts/__init__.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/coding_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

fix: cherry-pick from d40246fa64cf78e0df325019ce6a547b12bfdc74
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

Fix/small forecasting pipeline fixes (#2011)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

chore: re-add the bcrypt dependency (#2029)
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Backport PR #2012: Fix/resample to instantaneous for scheduling (#2012)
  documentation/changelog.rst
  flexmeasures/data/models/planning/utils.py
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.12/app.txt
  requirements/app.in
Due: flake8, black

Backport PR #2014: fix: ensure context attribute exists before accessing it (#2014)
  documentation/changelog.rst
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

Backport PR #2032: fix: do not fail API endpoint listing if an endpoint has no docstring (#2032)
  documentation/changelog.rst
  flexmeasures/api/v3_0/public.py
Due: flake8, black, generate-openapi-specs

Backport PR #2011: Fix/small forecasting pipeline fixes (#2011)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black, generate-openapi-specs

Backport PR #2029: chore: re-add the bcrypt dependency (#2029)
  documentation/changelog.rst
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.12/app.txt
  requirements/app.in
Due: none

style: black
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

docs: move assignment of changelog entry for PR #2012 from v0.31.1 to v0.31.2; and update release date for v0.31.2
  documentation/changelog.rst
Due: none

feat: add permission requirement for copying assets
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

fix: reload forecasting pipeline orm state in worker session
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
Due: flake8, black

fix: serialize train-predict cycle jobs for workers
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

revert: commit not related to this pr
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

feat: Adapting flex-config to SensorsToShowSchema (#1904)
  documentation/changelog.rst
  documentation/views/asset-data.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_add.py
  flexmeasures/conftest.py
  flexmeasures/data/migrations/versions/e690d373a3d9_copy_Power_Price_Weather_time_series_data_to_TimedBeliefs_table.py
  flexmeasures/data/models/charts/__init__.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/static/js/ui-utils.js
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/coding_utils.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

feat: enhance asset copy endpoint with detailed OpenAPI specifications and query parameters
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: add test for asset copy API to ensure direct sensors are duplicated
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

Backport: docs: move assignment of changelog entry for PR #2012 from v0.31.1 to v0.31.2; and update release date for v0.31.2
  documentation/changelog.rst
Due: none

Update flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

Update documentation/get-in-touch.rst
  documentation/get-in-touch.rst
Due: none

docs: fix broken link
  documentation/dev/setup-and-guidelines.rst
Due: none

update contact details on get-in-touch page (#2022)
  documentation/get-in-touch.rst
Due: none

Revert "fix: reduce tiny price slope"
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: soc unit conversion
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: adapt test to check for 1 hour of free energy at 15-min scheduling resolution
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

style: run pre-commit
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
Due: flake8, black

fix: fix test merge commit
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

connct password-reset signal to custom callback
  flexmeasures/auth/__init__.py
  flexmeasures/data/models/user.py
Due: flake8, black

style: black
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

upgrade dependencies for security reasons
  pyproject.toml
  uv.lock
Due: none

add changelog entry
  documentation/changelog.rst
Due: none

Upgrade some dependencies for security reasons (#2037)
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

log all 3 relevant events around passwords via Flask-Security signals
  flexmeasures/auth/__init__.py
  flexmeasures/data/models/user.py
  flexmeasures/data/services/users.py
Due: flake8, black
