Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: update moved time-series links
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

add changelog entry
  documentation/changelog.rst
Due: none

more changelog consolidation (all docs changelog entries together)
  documentation/changelog.rst
Due: none

Feat automation timezones catchup (#2396)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/migrations/versions/9f2b6e1d4a73_add_automation_timezone_and_cursor.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/schemas/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
  flexmeasures/data/tests/test_automations_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

data/migrations: rejoin the two automation migration branches
  flexmeasures/data/migrations/versions/c63896a97a8e_merge_the_automation_timezone_and_.py
Due: flake8, black

Docs: more helpful timing and flex concept (#2420)
  documentation/api/notation.rst
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/concepts/flexibility-configuration.rst
  documentation/concepts/time-series-and-beliefs.rst
  documentation/conf.py
  documentation/features/scheduling.rst
  documentation/index.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/dev/sensors.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

data/services: let the forecaster say which sensors an automation involves
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

api/v3_0: let an automation's timezone be set and changed through the API
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

data/services: set up the forecaster's data source only once the automation is allowed
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

fix(data/schemas): reject cron expressions without dates
  flexmeasures/data/schemas/automations.py
Due: flake8, black, generate-openapi-specs

fix(data/services): isolate invalid recurrences and stale claims
  flexmeasures/data/services/automations.py
Due: flake8, black

fix(api/v3_0): protect automation sensor details
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

test(cli): cover impossible recurrence input
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

test(data/services): cover resilient automation claims
  flexmeasures/data/tests/test_automation_scheduling_fresh_db.py
Due: flake8, black

test(api/v3_0): cover private automation dependencies
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

fix(data/services): resolve schedule automation sensors
  flexmeasures/data/services/automations.py
Due: flake8, black

test(data/services): cover schedule sensor resolution
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

test(api/v3_0): expose schedule dependency details
  flexmeasures/api/v3_0/tests/test_automations_api_fresh_db.py
Due: flake8, black, generate-openapi-specs

fix(data/services): hide inaccessible sensor names
  flexmeasures/data/services/automations.py
Due: flake8, black

test(api/v3_0): isolate automation endpoint tests
  flexmeasures/api/v3_0/tests/test_automations_api.py
Due: flake8, black, generate-openapi-specs

feat(ui/views): provide automation timezones
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

feat(ui): edit automation recurrence timezones
  flexmeasures/ui/templates/assets/asset_automations.html
Due: none

test(ui): cover automation timezone controls
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs(changelog): mention automation timezones
  documentation/changelog.rst
Due: none

fix(data/services): preserve schedule validation errors
  flexmeasures/data/services/automations.py
Due: flake8, black

fix(automations): authorize reporter sensor dependencies
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/profit.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

fix(reporting): require report inputs and outputs
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/schemas/reporting/aggregation.py
  flexmeasures/data/schemas/reporting/profit.py
  flexmeasures/data/schemas/tests/test_reporting.py
Due: flake8, black, generate-openapi-specs

fix(automations): constrain report output scope
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

fix(automations): require generators for reports
  flexmeasures/data/migrations/versions/d2a4f6b8c901_require_generators_for_report_automations.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black

fix(automations): anchor reports to claimed occurrences
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

fix(automations): advance report coverage monotonically
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

test(ui): cover report automation listings
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

docs(automations): document report occurrence semantics
  documentation/features/automations.rst
  documentation/features/reporting.rst
Due: none

test(api): close rejected report transactions
  flexmeasures/api/v3_0/tests/test_automations_api.py
Due: flake8, black, generate-openapi-specs

ci/qa: run only HEMS in play mode
  .github/workflows/docker-qa.yml
Due: none

docs/changelog: note HEMS QA play mode
  documentation/changelog.rst
Due: none

changelog entry with PR ID
  documentation/changelog.rst
Due: none

Ci/qa hems play mode (#2422)
  .github/workflows/docker-qa.yml
  documentation/changelog.rst
Due: none

changelog upgrades for v1.0.0
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/cli/change_log.rst
  documentation/tut/scripts/run-tutorial5-in-docker.sh
Due: none

fix(automations): keep job statistics complete and available
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
