Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Add scoped named permissions and restricted user roles
  documentation/changelog.rst
  documentation/concepts/security_auth.rst
  documentation/dev/auth.rst
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/deprecated.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/api/v3_0/tests/test_api_v3_0_users_fresh_db.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_named_permissions_fresh_db.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_named_permissions.py
  flexmeasures/auth/tests/test_principal_matching.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/models/user.py
  flexmeasures/data/services/generic_assets.py
  flexmeasures/data/services/sensors.py
  flexmeasures/data/services/users.py
  flexmeasures/data/tests/test_user_services.py
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/tests/test_sensor_views.py
  flexmeasures/ui/utils/auth_utils.py
  flexmeasures/ui/views/accounts.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
  flexmeasures/ui/views/users/views.py
Due: flake8, black, generate-openapi-specs

Repair stale role sequence during member migration
  flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
  flexmeasures/data/tests/test_member_role_migration.py
Due: flake8, black

fix: keep highspy operation-mode band bounds off the coupling columns
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
Due: flake8, black

docs: changelog entry for #2606
  documentation/changelog.rst
Due: none

Keep highspy operation-mode band bounds off the coupling columns (#2606)
  documentation/changelog.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
Due: flake8, black

Seed restricted user roles during database upgrade
  documentation/dev/auth.rst
  flexmeasures/data/migrations/versions/8a61f4d973bc_seed_restricted_user_roles.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_member_role_migration.py
Due: flake8, black

Prevent read-only users from initiating password recovery
  documentation/changelog.rst
  documentation/concepts/security_auth.rst
  flexmeasures/api/v3_0/tests/test_api_v3_0_users_fresh_db.py
  flexmeasures/auth/__init__.py
  flexmeasures/auth/forms.py
  flexmeasures/auth/policy.py
  flexmeasures/auth/tests/test_named_permissions.py
  flexmeasures/data/models/user.py
  flexmeasures/ui/templates/admin/logged_in_user.html
  flexmeasures/ui/views/users/logged_in_user.py
Due: flake8, black, generate-openapi-specs

Consolidate built-in role seeding into member migration
  documentation/changelog.rst
  documentation/dev/auth.rst
  flexmeasures/data/migrations/versions/8a61f4d973bc_seed_restricted_user_roles.py
  flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
  flexmeasures/data/tests/test_member_role_migration.py
Due: flake8, black

Fix: give the db user ownership so clean-db can create the schema on PostgreSQL 15+ (#2590)
  documentation/changelog.rst
  flexmeasures/data/scripts/clean_database.sh
Due: none

Show role descriptions in user editor
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/df847c1a72b0_grandfather_existing_members.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_member_role_migration.py
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/tests/test_user_crud.py
  flexmeasures/ui/views/users/views.py
Due: flake8, black

Order user roles by widening grant scope
  documentation/concepts/security_auth.rst
  flexmeasures/auth/policy.py
  flexmeasures/ui/templates/users/user.html
  flexmeasures/ui/tests/test_user_crud.py
  flexmeasures/ui/views/users/views.py
Due: flake8, black

Reuse the oldest data source when duplicates exist
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

Share one job between concurrent identical calls to a job-cached function
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
Due: flake8, black

Add changelog entry for PR #2612
  documentation/changelog.rst
Due: none

Read the cached job ID once, as the key can expire between two reads
  flexmeasures/data/services/utils.py
Due: flake8, black

Name the duplicate source IDs in the warning, and empty the queue after the concurrency test
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
Due: flake8, black

Join the concurrency test's threads with a timeout, and stop shadowing the source argument
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
Due: flake8, black

Refuse duplicate data sources, after merging any that exist
  documentation/host/data.rst
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/data/migrations/versions/7c4e1a9d2b58_refuse_duplicate_data_sources.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/reporting/tests/test_tibber_reporter.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_time_series_services.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

Use the source another transaction inserted, rather than tolerate duplicates
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

Add changelog warning for PR #2613
  documentation/changelog.rst
Due: none

Add DELETE /sensors/<id>/annotations
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Annotate a time range selected on the chart, and delete annotations from the sensor page
  documentation/changelog.rst
  documentation/views/sensors.rst
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_chart_data_utils.py
  flexmeasures/ui/tests/js/test_fast_chart.py
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black

Only recover from a lost insert race, re-raising other integrity errors
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

End new comments with punctuation
  flexmeasures/api/v3_0/tests/test_sources_api.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black, generate-openapi-specs

Give single Vega-Lite charts the same annotation layers as subcharts
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/test_chart_defaults.py
Due: flake8, black

Changelog: annotation hover and pin in the sensor page's Vega-Lite chart
  documentation/changelog.rst
Due: none

Highlight hovered and pinned annotations in the secondary colour
  documentation/changelog.rst
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/test_chart_defaults.py
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Clean up changelog warnings for v1.1
  documentation/changelog.rst
Due: none

Clean up changelog warnings for v1.1 (#2615)
  documentation/changelog.rst
Due: none

Pin several annotations with shift-click, and show annotation text in near-black
  documentation/changelog.rst
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/test_chart_defaults.py
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/tests/js/test_fast_chart.py
Due: flake8, black

Let instant annotations be hovered and pinned in Vega-Lite charts
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/charts/test_chart_defaults.py
Due: flake8, black

Accept instantaneous annotations in the API and CLI
  documentation/api/change_log.rst
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/cli/data_add.py
  flexmeasures/data/schemas/annotations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix: concurrent identical scheduling requests no longer create duplicate data sources (#2612)
  documentation/changelog.rst
  flexmeasures/data/services/data_sources.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_scheduling_repeated_jobs.py
Due: flake8, black

Select an instant to annotate with a click, and round instantaneous selections to minutes
  documentation/views/sensors.rst
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_chart_data_utils.py
Due: flake8, black

Round instantaneous selections to the second when zoomed in to 10 minutes or less
  documentation/views/sensors.rst
  flexmeasures/ui/static/js/chart-data-utils.js
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
  flexmeasures/ui/tests/js/test_chart_data_utils.py
Due: flake8, black

Changelog: instants in the sensor page's annotations
  documentation/changelog.rst
Due: none

Restore the strict data source lookup that the merge of #2612 reintroduced as tolerant
  flexmeasures/data/services/data_sources.py
Due: flake8, black

Offer seconds in the annotation form only when zoomed in far enough to select them
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

Show Alembic errors in migration CLI output
  documentation/changelog.rst
  flexmeasures/data/migrations/env.py
Due: flake8, black

add merge migration
  flexmeasures/data/migrations/versions/8e9348063a5d_merging.py
Due: flake8, black
