Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

chore: removed unused values
  flexmeasures/cli/data_add.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black

chore: rename util function name
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/utils/unit_utils.py
Due: flake8, black, generate-openapi-specs

chore: adding comments
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

feat: dynamically render graph title on 'add plot' button
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

chore: remvoed duplicate asset name in graph ledgend
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

fix: add db.commit before forecasting jobs are created
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

fix: implement workaround from https://github.com/SeitaBV/timely-beliefs/issues/226
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

chore: use fix in timely-beliefs
  flexmeasures/data/models/planning/utils.py
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.12/app.txt
  requirements/app.in
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

chore: fetch sensors based on site asset instead of current asset
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

Fix/resample to instantaneous for scheduling (#2012)
  documentation/changelog.rst
  flexmeasures/data/models/planning/utils.py
  requirements/3.10/app.txt
  requirements/3.11/app.txt
  requirements/3.12/app.txt
  requirements/app.in
Due: flake8, black

feat: show sensor attributes on sensor page, if not empty
  flexmeasures/ui/templates/sensors/index.html
Due: none

fix: ensure context attribute exists before accessing asset in GenericAssetSchema
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

style: add some spacing between properties listing and attributes listing
  flexmeasures/ui/templates/sensors/index.html
Due: none

Update flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Support saving state-of-charge schedules to sensors with % unit (#1996)
  .github/actions/setup-test-env/action.yml
  .github/agents/architecture-domain-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/tests/test_scheduling_jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Update flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

Add `unit` query parameter to GET schedule endpoint for unit conversion (#1993)
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensors.py
  flexmeasures/api/common/utils/args_parsing.py
  flexmeasures/api/common/utils/validators.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/units.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: add changelog entry
  documentation/changelog.rst
Due: none

docs: update changelog entry to v0.31.2
  documentation/changelog.rst
Due: none

chore: add a blank line for better readability in changelog
  documentation/changelog.rst
Due: none

fix: ensure context attribute exists before accessing it (#2014)
  documentation/changelog.rst
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

dev: uncomment test assertion statement
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Test(feat): search all beliefs forecasts saved into the sensor by the pipeline
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

test(feat): add n_cycles variable to use to account for length of forecasts
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

style: run pre-commit
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

fix: improve assertion message in test_train_predict_pipeline for clarity
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Dynamically change ledgen titles
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

chore: little change to wording
  flexmeasures/data/models/charts/belief_charts.py
Due: flake8, black

fix: text visibility
  flexmeasures/ui/templates/sensors/index.html
Due: none

tests: added test to test for cpy asset feature
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

feat: remove redundant headers and sublabels
  flexmeasures/ui/templates/sensors/index.html
Due: none

feat: reduce vertical spacing and rename forecast button
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/sensors/index.html
Due: none

chore: removed unused file
  test_sensor_knowledge_horizon.py
Due: flake8, black

refactor: relocate util function
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix: update UI tests
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black

docs: update inline test documentation
  flexmeasures/ui/tests/test_sensor_views.py
Due: flake8, black

docs: comment on default training window
  flexmeasures/ui/templates/sensors/index.html
Due: none

feat: prevent UI users from setting more than 7 days manually
  flexmeasures/ui/templates/sensors/index.html
Due: none
