Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

feat: add test covering CLI command to delete user
  flexmeasures/cli/tests/test_data_delete.py
Due: flake8, black

feat: let audit log entries retain the account ID and user IDs after either is deleted
  documentation/changelog.rst
  flexmeasures/cli/tests/test_data_delete.py
  flexmeasures/data/migrations/versions/b2c3d4e5f6a7_drop_fk_constraint_from_audit_log_active_user_id.py
  flexmeasures/data/models/audit_log.py
  flexmeasures/data/tests/test_user_services.py
Due: flake8, black

docs: rewrite changelog entry
  documentation/changelog.rst
Due: none

fix: dropped foreign key name
  flexmeasures/data/migrations/versions/a1b2c3d4e5f6_drop_fk_constraints_from_data_source.py
Due: flake8, black

Fix docs build failure with Sphinx 9.x and add changelog entry (#2067)
  .github/agents/coordinator.md
  .github/agents/lead.md
  AGENTS.md
  documentation/changelog.rst
  documentation/conf.py
Due: flake8, black

fix: when deleting a user, still log the ID of the deleted user
  flexmeasures/data/services/users.py
Due: flake8, black

feat: allow tying a newly CLI-created data source to an account
  flexmeasures/cli/data_add.py
  flexmeasures/data/services/data_sources.py
Due: flake8, black

fix: add missing drop_constraints
  flexmeasures/data/migrations/versions/b2c3d4e5f6a7_drop_fk_constraint_from_audit_log_active_user_id.py
Due: flake8, black

chore: minimize diff
  flexmeasures/data/services/users.py
Due: flake8, black

style: flake8
  flexmeasures/cli/data_add.py
Due: flake8, black

Update flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

Update flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: test
  flexmeasures/data/tests/test_user_services.py
Due: flake8, black

Rename state-of-charge schema wording
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

Refine soc-at-start lookup behavior
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

Fail fast when omitted --start resolves to a predict_start after --end (#2064)
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

delete: remove main agent entrypoint instructions
  AGENTS.md
Due: none

fix: make lead.md the main agent entrypoint instructions
  AGENTS.md
Due: none

docs: update changelog entry
  documentation/changelog.rst
Due: none

ci: update references to lead agent
  .github/agents/coordinator.md
Due: none

ci: add instruction to not create PRs prematurely
  AGENTS.md
Due: none

ci: add instruction to use our PR template and to not overwrite existing PR titles or descriptions
  AGENTS.md
Due: none

Fix lead agent initialization (#2068)
  .github/agents/coordinator.md
  .github/agents/lead.md
  AGENTS.md
  documentation/changelog.rst
Due: none

docs: add note for lookup radius 4 value
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Make soc lookup slack explicit
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Chore/update dependencies after the v0.31 release (#2061)
  documentation/changelog.rst
  documentation/conf.py
  uv.lock
Due: flake8, black

fix: ensure Pandas objects before calling tz_convert
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

Feat/handle security error (#2054)
  documentation/changelog.rst
  flexmeasures/utils/error_utils.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

fix: fix regression in upsampling speed by updating timely-beliefs
  pyproject.toml
  uv.lock
Due: none

docs: include changelog entry for PR #2060
  documentation/changelog.rst
Due: none

Filter 404 errors from Sentry reports by default (#2071)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Revert same-site sensor reference preservation in asset copy (#2056)
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black, generate-openapi-specs

Refactor asset copy parameters in API and OpenAPI specs to use 'account' and 'parent' keys
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: regression in upsampling speed by updating timely-beliefs to v3.5.4 (#2060)
  documentation/changelog.rst
  documentation/conf.py
  pyproject.toml
  uv.lock
Due: flake8, black

fix: static method has no self
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

delete: remove inapplicable fields for stock model
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: fix interpretation of test results
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Feat: `save_to_db` no longer attempts to save duplicate beliefs (#2059)
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/data/services/time_series.py
  flexmeasures/data/tests/test_time_series_services.py
Due: flake8, black

fix: move initialization of ems_constraints
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
