Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: update commitment name and inline comments
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

update asset tree to be interactive
  flexmeasures/ui/templates/_macros.html
Due: none

docs: touch up test explanation
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

fix: update test case given preference for a full battery
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

delete: clean up comment
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: model the preference to curtail later within the same StockCommitment, using a tiny price slope to prefer a fuller SoC sooner rather than later, by lowering penalties later
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: reduce tiny price slope
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

add changelog entry
  documentation/changelog.rst
Due: none

Use state-of-charge to infer storage start SoC
  flexmeasures/cli/data_add.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

Add coverage for inferred storage start SoC
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black, generate-openapi-specs

Document state-of-charge as start SoC source
  documentation/tut/forecasting_scheduling.rst
  flexmeasures/data/schemas/scheduling/metadata.py
Due: flake8, black, generate-openapi-specs

fix changelog: entries go to v0.32, old entry in v0.13 should remain unchanged
  documentation/changelog.rst
Due: none

also run tests when PR gets synchronized
  .github/workflows/lint-and-test.yml
Due: none

docs: delete duplicate changelog entry
  documentation/changelog.rst
Due: none

mention hatch-vcs, not SCM, in a comment
  .github/actions/setup-test-env/action.yml
Due: none

re-build OpenAPI specs
  flexmeasures/ui/static/openapi-specs.json
Due: none

chore: move logic into @post_load
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: re-add the bcrypt dependency
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Revert "chore: re-add the bcrypt dependency"
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: re-add the bcrypt dependency
  pyproject.toml
  uv.lock
Due: none

feat: implement deep copy of asset subtree including direct sensors
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
Due: flake8, black, generate-openapi-specs

fix: do not fail endpoint listing if an endpoint has no docstring
  flexmeasures/api/v3_0/public.py
Due: flake8, black, generate-openapi-specs

refactor: Improve asset identification in plot headers and enhance sensor rendering logic
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

first work on letting side-panels take no vertical space when closed
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/templates/sensors/index.html
Due: none

fix: first create all jobs, then queue all jobs, giving the db.session.commit() some time to finish writing a new source to the db
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

feat: enqueue job only after the transactional request
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

refactor: Simplify asset plot card rendering and improve code readability
  flexmeasures/ui/static/js/components.js
Due: none

fix: do not fail API endpoint listing if an endpoint has no docstring (#2032)
  documentation/changelog.rst
  flexmeasures/api/v3_0/public.py
Due: flake8, black, generate-openapi-specs

style: Adjust disabled input width and clean up class names in asset plot card
  flexmeasures/ui/static/js/components.js
Due: none

Revert "feat: enqueue job only after the transactional request"
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

docs: resolve silent merge conflict in changelog
  documentation/changelog.rst
Due: none

feat: show sensor attributes on sensor page (#2015)
  documentation/changelog.rst
  flexmeasures/ui/templates/sensors/index.html
Due: none

style: Update plot header class for improved font size consistency
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

docs: add release date for v0.31.2
  documentation/changelog.rst
Due: none

docs: advance a different bugfix to v0.31.2
  documentation/changelog.rst
Due: none

fix: self.data_source found itself in a different session somehow, so we put it back into the session we are committing
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black
