Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

add migration
  flexmeasures/data/migrations/versions/6d5c9e9d62cf_change_timed_belief_horizon_to_integer_minutes.py
Due: flake8, black

small adaptations in logic
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

add preliminary changelog entry
  documentation/changelog.rst
Due: none

docs: quantify the mview migration's duration and log a per-table estimate
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/timed_beliefs_materialized_views.py
Due: flake8, black

fix: print the mview migration's duration estimate so it is actually visible
  flexmeasures/data/migrations/versions/timed_beliefs_materialized_views.py
Due: flake8, black

feat: confine device power to operation-mode power bands (#2113)
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: document the operation-modes storage flex-model field
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

test: use the modern per-device FlowCommitment API in the operation-modes tests
  flexmeasures/data/models/planning/tests/test_operation_modes.py
Due: flake8, black

fix: tolerate raw sensor-id references when setting consumption_is_positive
  flexmeasures/data/services/scheduling.py
Due: flake8, black

feat: require an unambiguous flow direction for coupled devices
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: balance internal commodity nodes with first-class balance groups
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

docs: point balance-groups changelog entry at PR #2279
  documentation/changelog.rst
Due: none

fix: resolve duplicate event labels when reading schedule inputs
  flexmeasures/data/models/planning/tests/test_duplicate_event_beliefs.py
  flexmeasures/data/models/planning/tests/test_multi_device_site_capacity.py
  flexmeasures/data/models/planning/utils.py
Due: flake8, black

docs: address review comments on smart commodity-context defaults
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

refactor(ui): drive flex-context field types from UI_FLEX_CONTEXT_SCHEMA
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

Add FLEXMEASURES_LP_SOLVER_OPTIONS to configure solver options
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_solver_options.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Speed up device_scheduler with a recursive stock balance
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

Reference PR #2282 in the changelog entry
  documentation/changelog.rst
Due: none

Reference PR #2283 in the changelog entry
  documentation/changelog.rst
Due: none

feat(ui): edit per-commodity flex-contexts through a commodity tab bar (#2230)
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

fix: namespace user commitment names with a custom: prefix
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

refactor: derive UI flex-context field types from DBFlexContextSchema
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

merge: adopt derived UI field types from #2281 review; commodities derives to typeSix
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat(ui): edit flex-context commitments in the context modal (#1572)
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

docs: point commitments-editor changelog entries at PR #2287
  documentation/changelog.rst
Due: none

Harden Bash access to credential files with a PreToolUse hook
  .claude/hooks/block-env-read.sh
  .claude/settings.json
Due: none

fix: traditional half-open snapping for forecast post-processing
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

refactor: reuse units_are_convertible for post-processing unit checks
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

feat: validate post-processing bounds at config load time
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

docs: document traditional half-open snapping semantics
  documentation/features/forecasting.rst
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: allow snap targets inside the interval, not only on a bound
  documentation/features/forecasting.rst
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat: add configurable forecast post processing (#2273)
  documentation/changelog.rst
  documentation/features/forecasting.rst
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/models/forecasting/utils.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

test: preserve hard soc bound expectations
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: support sensor reference fallbacks
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

docs: clarify canonical soc bounds
  documentation/concepts/commitments.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/toy-example-from-scratch.rst
Due: none

docs: explain canonical soc routing
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

fix: balance internal commodity nodes on power flows, not stock-side terms
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

test: preserve hard soc scheduling scenarios
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black, generate-openapi-specs
