Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

squash-merge origin/fix/namespace-user-commitment-names
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: adapt commodity-matching test to namespaced user commitment names (#2285 x #2287 interaction)
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: three long-standing failures on main
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/ui/__init__.py
Due: flake8, black, generate-openapi-specs

test: assert on the cron validation failure without pinning click's message format
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

fix: three more long-standing failures on main
  documentation/changelog.rst
  flexmeasures/api/common/implementations.py
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/tests/test_task_runs.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
Due: flake8, black, generate-openapi-specs

Fix three long-standing failures on main (regressor splits on pandas 2.2+, swallowed CLI validation messages, task page 500) (#2303)
  documentation/changelog.rst
  flexmeasures/api/common/implementations.py
  flexmeasures/api/common/schemas/tests/test_sensor_data_schema.py
  flexmeasures/api/tests/test_task_runs.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/schemas/utils.py
  flexmeasures/ui/__init__.py
Due: flake8, black, generate-openapi-specs

fix: stamp LatestTaskRun at insertion time, not at import time
  documentation/changelog.rst
  flexmeasures/data/models/task_runs.py
Due: flake8, black

feat: rate-limit the API, and the scheduling and forecasting triggers in particular
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/__init__.py
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/utils/config_defaults.py
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

fix: stamp LatestTaskRun at insertion time, not at import time (#2304)
  documentation/changelog.rst
  flexmeasures/data/models/task_runs.py
Due: flake8, black

a range of fixes and further improvements, from review
  documentation/changelog.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/auth/policy.py
  flexmeasures/conftest.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/accounts/account_audit_log.html
  flexmeasures/ui/templates/accounts/account_create.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

save some space on the account page, colors can share a row
  flexmeasures/ui/templates/accounts/account.html
Due: none

add docs page about consultancy under hosts section
  documentation/changelog.rst
  documentation/host/deployment.rst
  documentation/host/multi-tenancy.rst
  documentation/index.rst
Due: none

Add num-beliefs to scheduling job result (#2280)
  documentation/changelog.rst
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/services/scheduling_result.py
Due: flake8, black, generate-openapi-specs

Feat: Create Accounts on UI (#2176)
  documentation/changelog.rst
  documentation/concepts/security_auth.rst
  documentation/host/deployment.rst
  documentation/host/multi-tenancy.rst
  documentation/index.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/auth/policy.py
  flexmeasures/conftest.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/css/flexmeasures.css
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/accounts/account_audit_log.html
  flexmeasures/ui/templates/accounts/account_create.html
  flexmeasures/ui/templates/accounts/accounts.html
  flexmeasures/ui/tests/conftest.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

chsnge 200 to 202 in some more tests
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

move from horizons measures by minutes to seconds
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/6d5c9e9d62cf_change_timed_belief_horizon_to_integer_seconds.py
  flexmeasures/data/services/sensors.py
Due: flake8, black

remove unnecessary job execution which led to double execution in seconds-level horizons, as queue was not cleared
  flexmeasures/data/tests/test_scheduling_sequential.py
Due: flake8, black

chore: align agent instructions with main
  .github/agents/architecture-domain-specialist.md
  .github/instructions/feature-branch-sync.instructions.md
Due: none

docs: fix jobs OpenAPI description indentation
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: honor explicit soc relaxation disablement
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

fix: skip soc relaxation without initial state
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs: point the rate-limiting changelog entry at PR #2306
  documentation/changelog.rst
Due: none

test: match infeasible validation error
  flexmeasures/api/v3_0/tests/test_jobs_api.py
Due: flake8, black, generate-openapi-specs

feat: make including zero in a chart's y-axis a per-plot option
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

Add worktree-guard hook to block branch mutation in shared primary checkout
  .claude/hooks/worktree-guard.sh
  .claude/settings.json
  AGENTS.md
Due: none

Fix malformed YAML in the jobs endpoint docstring (broken on main)
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Make worktree-guard target-aware: handle 'git -C <path>' and unresolvable paths
  .claude/hooks/worktree-guard.sh
  AGENTS.md
Due: none

fix indentation mismatch in job status endpoint docstring
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor: move include-zero from the plot level to the sub-chart level
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

fix indentation mismatch in job status endpoint docstring (#2308)
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Rename include-zero to fit-to-data and invert its polarity
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

add changelog entry
  documentation/changelog.rst
Due: none

fix missing app context
  flexmeasures/data/utils.py
Due: flake8, black

Replace fit-to-data with a richer y-axis option in sensors_to_show
  documentation/changelog.rst
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

fix: refuse to save an unusable y-axis range, and allow a degenerate one
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_SensorsToShowSchema.py
  flexmeasures/ui/templates/assets/asset_graph.html
Due: flake8, black, generate-openapi-specs

Show the fixed-range explanation on the Min and Max fields
  flexmeasures/ui/templates/assets/asset_graph.html
Due: none

feat: move per-account rate limit overrides to a Plan model
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/api/common/rate_limiting.py
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/data/migrations/versions/6a767f36151c_add_plan_table_and_account_plan_id.py
  flexmeasures/data/models/user.py
Due: flake8, black, generate-openapi-specs

do not show the warning when we already run the upgrade, also show the actual revisions to be more useful
  flexmeasures/data/__init__.py
  flexmeasures/data/utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
