Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

docs: add pr number to changelog entry
  documentation/changelog.rst
Due: none

Align fast (ECharts) chart subplots on a shared x domain
  flexmeasures/ui/static/js/fast-chart.js
Due: none

apply pre-commit
  flexmeasures/ui/static/openapi-specs.json
Due: none

Revert "apply pre-commit"
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: add changelog entry for the fast (ECharts) chart mode
  documentation/changelog.rst
Due: none

fix: use cache as main
  flexmeasures/ui/templates/includes/graphs.html
Due: none

fix: resolve CI failures from merge conflict between #1946 and #2072 (#2274)
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Add multi‑commodity support to device scheduler (#1946)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/multi-commodity.rst
  documentation/tut/multi-feed-storage.rst
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/utils/coding_utils.py
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

dev: work for reporting materialized views + ECharts performance
  .gitignore
  flexmeasures/app.py
  flexmeasures/ui/static/js/chart-perf.js
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/db_profiler.py
Due: flake8, black

dev: scripts for reporting materialized views performance
  loadtest_chart_data.py
  loadtest_chart_data_db.py
  loadtest_chart_data_mp.py
Due: flake8, black

fix: harden multi-commodity flex-context (correctness + API decisions) ahead of v1 (#2271)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

feat(ci): suggest subagent default models (Claude can override)
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
Due: none

docs: move explanation to proper docs section
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

Update documentation/features/forecasting.rst
  documentation/features/forecasting.rst
Due: none

Update documentation/changelog.rst
  documentation/changelog.rst
Due: none

test: cover snap unit conversion
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

feat(ci): trim agent files
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/data-time-semantics-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/performance-scalability-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  .github/agents/ui-specialist.md
  AGENTS.md
Due: none

feat(ci): enforce pre-commit-check and test-reminder
  .claude/hooks/pre-commit-check.sh
  .claude/hooks/test-reminder.sh
  .claude/settings.json
Due: none

feat(ci): soften test reminder to run pre-push rather than pre-commit
  .claude/hooks/test-reminder.sh
  .claude/settings.json
Due: none

feat(ci): allow several uv, git and pre-commit commands
  .claude/settings.json
Due: none

ci: trim agent-system docs and add real pre-commit/test enforcement (#2275)
  .claude/agents/api-backward-compatibility-specialist.md
  .claude/agents/architecture-domain-specialist.md
  .claude/agents/coordinator.md
  .claude/agents/data-time-semantics-specialist.md
  .claude/agents/documentation-developer-experience-specialist.md
  .claude/agents/performance-scalability-specialist.md
  .claude/agents/test-specialist.md
  .claude/agents/tooling-ci-specialist.md
  .claude/agents/ui-specialist.md
  .claude/hooks/pre-commit-check.sh
  .claude/hooks/test-reminder.sh
  .claude/settings.json
  .github/agents/api-backward-compatibility-specialist.md
  .github/agents/architecture-domain-specialist.md
  .github/agents/coordinator.md
  .github/agents/data-time-semantics-specialist.md
  .github/agents/documentation-developer-experience-specialist.md
  .github/agents/performance-scalability-specialist.md
  .github/agents/test-specialist.md
  .github/agents/tooling-ci-specialist.md
  .github/agents/ui-specialist.md
  AGENTS.md
Due: none

feat: support automatically renaming duplicate root assets
  flexmeasures/data/migrations/versions/c7b7f9019d4b_allow_duplicate_root_asset_names.py
Due: flake8, black

react to review comments
  documentation/configuration.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/data/utils.py
Due: flake8, black, generate-openapi-specs

try other soc-minima constant value
  flexmeasures/data/scripts/data_gen.py
Due: flake8, black

fix: run ANALYZE after creating or refreshing the materialized view
  flexmeasures/cli/db_ops.py
  flexmeasures/data/migrations/versions/timed_beliefs_materialized_views.py
Due: flake8, black

feat: support intermediate power constraints on groups of devices
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/concepts/commitments.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: cite PR #2276 in changelog entry
  documentation/changelog.rst
Due: none

fix: add group field to UI flex-model schema
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

updating alembic.ini for actually logging errors during migrations
  flexmeasures/data/migrations/alembic.ini
Due: none

feat: define intermediate power constraints via DB flex-models on the asset tree
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/toy-example-group-constraints.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

chore(deps): require timely-beliefs>=4.0.1 for mview predicate pushdown and correctness fixes
  pyproject.toml
  uv.lock
Due: none

feat: define intermediate power constraints via DB flex-models on the asset tree (#2277)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/toy-example-group-constraints.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

docs: keep the group-constraints tutorial audience-appropriate
  documentation/tut/toy-example-group-constraints.rst
Due: none

fix: reject null sensor reference defaults
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

fix: relax scalar soc bounds by default
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

docs: clarify sensor defaults and soc relaxation
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/concepts/commitments.rst
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix/detached forecasting sensors (#2035)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black
