Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Update API version to 0.32.0
  flexmeasures/ui/static/openapi-specs.json
Due: none

chore: add changelog entry
  documentation/changelog.rst
Due: none

feat(forecasting): derive seasonal lags from sensor resolution
  flexmeasures/data/models/forecasting/pipelines/train.py
Due: flake8, black

feat(forecasting): allow configurable seasonal lag steps
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

feat: update roundtrip efficiency field type and schema description
  flexmeasures/data/models/forecasting/__init__.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Update flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/static/openapi-specs.json
Due: none

chore: removed unused util
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

chore: revert linting
  flexmeasures/ui/templates/assets/asset_properties.html
Due: none

chore: refactored test cases
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

forecasting: align regressor belief-time tests
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Update flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

refactor: Refactor asset API response format
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: modify changelog entry
  documentation/changelog.rst
Due: none

refactor: update time representation in API responses and templates
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/users.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/users/user_audit_log.html
  flexmeasures/ui/templates/users/users.html
Due: flake8, black, generate-openapi-specs

Fix forecast regressor filtering by belief time (#2134)
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

Fix: enhance graph resilience by handling invalid asset references and improve sensor addition checks
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/tests/test_belief_charts.py
  flexmeasures/ui/static/js/components.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_graph.html
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

fix: resolve failing test
  flexmeasures/data/schemas/generic_assets.py
Due: flake8, black, generate-openapi-specs

fix: preserve 422 validation for invalid flex-model datetimes
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

style: apply pre-commit
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

allow momitoring emails to be targeted to specific users (fall back to current config setting if not used)
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/error-monitoring.rst
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/utils/config_defaults.py
Due: flake8, black

fix(forecast): fall back for short seasonal histories
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

allow to monitor absence of users from specific accounts
  documentation/changelog.rst
  documentation/host/error-monitoring.rst
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
Due: flake8, black

allow to monitor absence of users for all clients of one consultant account
  documentation/changelog.rst
  documentation/host/error-monitoring.rst
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
Due: flake8, black

add changelog entry
  documentation/changelog.rst
Due: none

cli/monitor: rename consultant client filter
  documentation/changelog.rst
  documentation/host/error-monitoring.rst
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
Due: flake8, black

inmplement review comments
  documentation/changelog.rst
  documentation/host/error-monitoring.rst
  flexmeasures/api/common/schemas/users.py
  flexmeasures/cli/monitor.py
  flexmeasures/cli/tests/test_monitor.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

add test covering --consultancy
  flexmeasures/cli/tests/test_monitor.py
Due: flake8, black

fix: reapply canonical names for index levels after dropping unchanged beliefs
  flexmeasures/data/services/time_series.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

fix: soc fields can be fixed quantities, too
  flexmeasures/data/models/planning/storage.py
Due: flake8, black
