Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

AGENTS.md: learned to verify merge status with git log --left-right before claiming conflicts resolved
  AGENTS.md
Due: none

fix: skip SoC preference for non-storage devices
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover mixed storage and non-storage scheduling
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

docs: add changelog entry for mixed-device scheduling fix
  documentation/changelog.rst
Due: none

docs: move the changelog entry for an unreleased regression
  documentation/changelog.rst
Due: none

fix: fixture create the wrong asset type
  flexmeasures/data/models/planning/tests/conftest.py
Due: flake8, black

Fix: scheduling none soc mixed assets (#2108)
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

fix: openapi parameter schema type should be integer rather than int
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: add test to ensure no Python types are accidentally used in the openapi-specs.json
  tests/documentation/test_openapi_spec.py
Due: flake8, black

docs: changelog entry
  documentation/changelog.rst
Due: none

fix: ZeroDivisionError; cannot convert kWh to kW when kWh sensor has zero resolution
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

Fix: wrong ID type for fetching a schedule via OpenAPI (#2109)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
  tests/documentation/test_openapi_spec.py
Due: flake8, black, generate-openapi-specs

feat: replace cleanup of sensor references with delete_sensor function for improved data integrity
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/cli/data_delete.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

feat: enhance sensor reference cleanup with detailed audit logging for improved traceability
  flexmeasures/api/v3_0/tests/test_sensors_api.py
  flexmeasures/data/services/sensors.py
Due: flake8, black, generate-openapi-specs

changelog updates for v0.32.0
  documentation/api/change_log.rst
  documentation/changelog.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

prepare changelogs for v0.33.0
  documentation/changelog.rst
Due: none

upgrade dependencies after release of v0.32
  uv.lock
Due: none

small doc improvements
  documentation/tut/toy-example-process.rst
Due: none

Return 422 ValidationError for zero-duration single-value posts on non-instantaneous sensors (#2116)
  documentation/changelog.rst
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

delete: remove scenario (?) deletion button that never shows (the can_delete Jinja variable is never set)
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

delete: remove another mention of the asset as a scenario
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

fix: safely handle apostrophes by JSON encoding the asset name, to prevent showing &#39; instead
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

fix: safely handle apostrophes by JSON encoding the asset name, to prevent crashing the structure diagram
  flexmeasures/ui/templates/_macros.html
Due: none

Fix/asset context page bugs (#2117)
  documentation/changelog.rst
  flexmeasures/ui/templates/_macros.html
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

chore: update security requirement
  pyproject.toml
  uv.lock
Due: none

chore: update dependencies once more
  uv.lock
Due: none

docs: implement my own review comments
  documentation/tut/toy-example-process.rst
Due: none

chore: remvoe wrong log entry
  documentation/changelog.rst
Due: none

refactor: remove unnecessary asset existence check in AssetAPI
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: correct changelog entry
  documentation/changelog.rst
Due: none

upgrade dependencies after release of v0.32 (#2114)
  documentation/changelog.rst
  documentation/tut/toy-example-process.rst
  pyproject.toml
  uv.lock
Due: none

Navigate to parent asset after deleting a child asset; show deletion toast (#2119)
  documentation/changelog.rst
  flexmeasures/ui/templates/base.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

chore: move changelog entry to v0.33.0
  documentation/changelog.rst
Due: none

docs: merge changelog entry
  documentation/changelog.rst
Due: none

docs: move changelog entry to v0.33.0
  documentation/changelog.rst
Due: none

fix: button styling
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/assets/asset_context.html
Due: none

style: delete buttons
  flexmeasures/ui/templates/sensors/index.html
Due: none
