Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Backport PR #2163: Fix auth issues: child asset creation, account page access (#2163)
  .github/agents/test-specialist.md
  AGENTS.md
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

fix: if users can create children on the sensor, they should be allowed to upload data and trigger forecasts
  flexmeasures/ui/templates/includes/graphs.html
  flexmeasures/ui/templates/sensors/index.html
Due: none

refactor: utils work on any AuthModelMixin, not just on Asset
  flexmeasures/ui/views/assets/utils.py
Due: flake8, black

refactor: move auth utils to module that is not asset specific
  flexmeasures/ui/utils/auth_utils.py
  flexmeasures/ui/views/assets/__init__.py
  flexmeasures/ui/views/assets/utils.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/ui/views/sensors.py
Due: flake8, black

remove Toast about job acceptance
  flexmeasures/ui/templates/includes/graphs.html
Due: none

in uploaded data, we (keep) allow(ing) multiple beliefs per event
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

add comment on default ingestion limit
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Feat: improve account creation validation for unique names and non-empty values
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Fix/sensor data deletion window (#2175)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_delete_data_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Backport PR #2175: Fix/sensor data deletion window (#2175)
  documentation/changelog.rst
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensors_delete_data_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

ref: improved account form UX with color picker additions
  flexmeasures/ui/templates/accounts/account_create.html
Due: none

chore: add changelog entry
  documentation/changelog.rst
Due: none

docs: reassign/rephrase #2162 from v0.33.0 to v0.32.3
  documentation/changelog.rst
Due: none

Backport PR #2162: Fix: All use of raw json when updating flex_configs (#2162)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/data/schemas/attributes.py
Due: flake8, black, generate-openapi-specs

fix: remove tests outside 0.32.x scope
  flexmeasures/ui/tests/conftest.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

fix(deps): migrate from u8darts to darts
  pyproject.toml
Due: none

fix(lock): generate darts package lockfile
  uv.lock
Due: none

fix(changelog): mention Darts package migration
  documentation/changelog.rst
Due: none

Apply suggestions from code review
  documentation/changelog.rst
Due: none

Fix/migrate darts package (#2180)
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

docs: document flex-model datetime flooring helper
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

test: clarify sensor_index assumptions in upload tests
  flexmeasures/api/v3_0/tests/test_sensors_api_freshdb.py
Due: flake8, black, generate-openapi-specs

feat: add --annotation-regressors CLI option
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

feat: handle floored downsampling posts
  flexmeasures/api/common/schemas/sensor_data.py
  flexmeasures/api/v3_0/tests/test_sensor_data.py
Due: flake8, black, generate-openapi-specs

test: cover datetime flooring opt-out
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

fix: reject flooring event collisions
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

docs: document datetime flooring attribute
  documentation/api/notation.rst
  flexmeasures/ui/static/openapi-specs.json
Due: none

docs: add changelog entry
  documentation/changelog.rst
Due: none

chore: update accoutn role name
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/auth/policy.py
  flexmeasures/conftest.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black, generate-openapi-specs

ref: move advanced color picker to account edit form and add consultancy input to account creation form
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/accounts/account_create.html
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

feat: enhance account UI with 'Add client account' button for consultancy accounts and improve account selection logic
  flexmeasures/api/v3_0/tests/test_accounts_api.py
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/templates/accounts/account_create.html
  flexmeasures/ui/tests/test_account_crud.py
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

feat: add account patch schema and enhance account roles management in UI
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/accounts.py
  flexmeasures/data/schemas/account.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/accounts/account.html
  flexmeasures/ui/views/accounts.py
Due: flake8, black, generate-openapi-specs

feat: enhance security documentation on account roles and their management in UI
  documentation/concepts/security_auth.rst
Due: none

chore: modify changelog
  documentation/changelog.rst
Due: none

ref: strip down permission guard
  flexmeasures/api/v3_0/accounts.py
Due: flake8, black, generate-openapi-specs

feat: add test coverage and fix CLI option
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

fix: time series loading across DST transitions
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

refactor: move JSON decoding logic to click.ParamType subclass
  flexmeasures/cli/data_add.py
  flexmeasures/cli/utils.py
Due: flake8, black

fix: remove the last failing test outside 0.32.x scope
  flexmeasures/ui/tests/test_account_crud.py
Due: flake8, black

fix(forecast): validate seasonal lag steps
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
