Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

perf: precompute constraint arrays for device_scheduler callbacks
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

fix: balance internal commodity nodes on power flows, not stock-side terms
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

feat: commitments can be scoped to specific sensors, binding their aggregate flow
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: keep internal-node detection working alongside smart commodity defaults
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: add Automation data model
  flexmeasures/data/config.py
  flexmeasures/data/migrations/versions/8ecec35b799c_add_automation_table.py
  flexmeasures/data/models/automations.py
  pyproject.toml
  uv.lock
Due: flake8, black

feat: CLI commands to manage and run automations
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black, generate-openapi-specs

feat: record on forecasting jobs how they were created
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/sensors.py
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

feat: API endpoints to list an asset's automations
  flexmeasures/api/v3_0/assets.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: UI page listing an asset's automations
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/utils/breadcrumb_utils.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black

test: cover automations CLI, API and UI
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black, generate-openapi-specs

docs: document automations
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
Due: none

docs: changelog entry for automations
  documentation/changelog.rst
Due: none

docs: changelog entry for PR #2291
  documentation/changelog.rst
Due: none

test: expect namespaced commitment names in multi-commitment costs
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: render cron descriptions in 24-hour format regardless of locale
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: address code review findings for automations (remaining files)
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/migrations/versions/8ecec35b799c_add_automation_table.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/templates/sensors/status.html
Due: flake8, black, generate-openapi-specs

fix: address code review findings for automations
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

feat: catch up on missed automation runs
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

feat: record on scheduling jobs how they were created
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/services/scheduling.py
Due: flake8, black, generate-openapi-specs

feat: schedules as automations
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
  documentation/features/scheduling.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/cli/utils.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/tests/test_automations.py
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black

docs: changelog entry for schedule automations
  documentation/changelog.rst
Due: none

feat: CRUD for automations via API and UI
  documentation/features/forecasting.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_delete.py
  flexmeasures/cli/data_edit.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

docs: changelog entry for automations CRUD
  documentation/changelog.rst
Due: none

feat: commitments can be scoped to specific sensors, binding their aggregate flow
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

chore: make toy tutorials robust against pre-existing IDs (#2269)
  .github/workflows/docker-build.yml
  documentation/changelog.rst
  documentation/dev/docker-compose.rst
  documentation/index.rst
  documentation/tut/building_uis.rst
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/scripts/run-tutorial5-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

feat: reports can run as background jobs
  documentation/host/queues.rst
  flexmeasures/app.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/sensors.py
Due: flake8, black

feat: reports as automations
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/forecasting.rst
  documentation/features/reporting.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/models/automations.py
  flexmeasures/data/schemas/automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

docs: changelog entry for reports as jobs and automations
  documentation/changelog.rst
Due: none

feat: anchor default report windows to the automation's actual last run
  documentation/features/reporting.rst
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
Due: flake8, black

docs: add an Automations concept page
  documentation/features/automations.rst
  documentation/features/forecasting.rst
  documentation/features/reporting.rst
  documentation/features/scheduling.rst
  documentation/index.rst
Due: none

feat: API endpoint to trigger reports as jobs
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/features/reporting.rst
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: edit automations in the UI, and batch job stats
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/services/automations.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_automations.html
Due: flake8, black, generate-openapi-specs

feat: prepared report templates
  documentation/cli/change_log.rst
  documentation/cli/commands.rst
  documentation/features/reporting.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/data_show.py
  flexmeasures/cli/tests/test_report_templates.py
  flexmeasures/data/services/report_templates.py
  flexmeasures/data/templates/reports/energy-costs.yaml
  flexmeasures/data/templates/reports/self-consumption.yaml
Due: flake8, black

fix: address stack code review findings
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
  flexmeasures/data/services/automations.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/utils.py
  flexmeasures/data/tests/test_automations.py
Due: flake8, black, generate-openapi-specs

fix: check sensor access when triggering reports via the API
  flexmeasures/api/v3_0/assets.py
Due: flake8, black, generate-openapi-specs

fix test
  flexmeasures/data/tests/test_template_assets.py
Due: flake8, black

Three initial starter templates & improved copy-asset UX (#2268)
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/getting-started.rst
  documentation/plugin/customisation.rst
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/api/v3_0/tests/test_assets_api_fresh_db.py
  flexmeasures/api/v3_0/tests/utils.py
  flexmeasures/app.py
  flexmeasures/data/migrations/versions/4b0f2e9c1a6d_add_description_to_generic_asset.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/schemas/generic_assets.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/data/utils.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/forms.py
  flexmeasures/ui/views/assets/views.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black, generate-openapi-specs

simplify deprecation, was mostly unused
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

squash-merge origin/feat/1572-ui-commitments (carries #2281+#2284+#2287)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
