Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

fix: project off-tick SoC constraints before they are softened into commitments
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

feat: account for (dis)charging efficiencies in off-tick SoC reachability
  flexmeasures/data/models/planning/soc_projection.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: ceil the schedule-end extension to the scheduling resolution
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: respect an explicit relax-soc-constraints: False on off-tick SoC constraints
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix: log a warning when projected SoC bounds cannot be merged and are dropped
  flexmeasures/data/models/planning/soc_projection.py
Due: flake8, black

refactor: remove inert flooring machinery from StorageFlexModelSchema
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

Address review: apply changelog suggestion and cache stock-group device lists
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

fix: warn when off-tick SoC constraints are disregarded without projection
  documentation/concepts/data-model.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

refactor: detect off-tick SoC constraints in the scheduler, not the schema
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

docs: explain why the flex-model is deserialized before the flex-context
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover efficiency-aware projection, schedule-end extension and the soft path
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Fix degenerate optimum in alignment regression test after merging main
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: scope automatic SoC relaxation to devices with off-tick constraints
  documentation/concepts/data-model.rst
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover off-tick SoC constraints in a multi-device flex-model
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Share storage-efficiency per stock group and index solver stock by group (#2324)
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Add changelog entries for PR #2325
  documentation/changelog.rst
Due: none

Enable storage losses in the dynamic-capacity test and consolidate changelog
  documentation/changelog.rst
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

Speed up device_scheduler with a recursive stock balance (#2282)
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black

feat: project an off-tick starting state of charge onto the next tick
  documentation/concepts/data-model.rst
  flexmeasures/data/models/planning/soc_projection.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

test: cover off-tick soc-at-start projection
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Attach soft SoC commitments to their stock, not to a device index
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
Due: flake8, black

Track off-tick SoC relaxation scoping and starting-SoC timing per stock
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Remove dead device_stock_commitment_equalities
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

refactor: express the SoC projection policies as a declarative rule table
  flexmeasures/data/models/planning/soc_projection.py
Due: flake8, black

Smarter commodity-context defaults and Commitment commodity field (#2272)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor(ui): drive flex-context field types from UI_FLEX_CONTEXT_SCHEMA (#2281)
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/templates/assets/asset_context.html
Due: flake8, black, generate-openapi-specs

fix(test): tolerate generic aliases when scanning for Field subclasses
  flexmeasures/tests/test_schemas.py
Due: flake8, black

Share storage-efficiency per stock group and index solver stock by group (#2325)
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
Due: flake8, black

Feat/offtick soc projection (#2194)
  documentation/changelog.rst
  documentation/concepts/data-model.rst
  documentation/features/scheduling.rst
  flexmeasures/data/models/planning/soc_projection.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/scheduling/utils.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/tests/test_schemas.py
Due: flake8, black, generate-openapi-specs

fix: preserve overlapping stock-group membership for commodity converters
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

fix: keep internal-node detection working alongside smart commodity defaults
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

Put info about deprecated fields into the header; also react to some other review comments dealing with docs
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix(cli): abort cleanly when workalendar calendar lacks year data
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

fix: warn when train-start overrides train-period
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

fix(schema): let relax-constraints=false keep SoC constraints hard
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: restore hard-constraints list and describe the SoC relaxation opt-out
  documentation/api/introduction.rst
  documentation/features/scheduling.rst
Due: none

test: restore config via monkeypatch and fix truncated docstring
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/tests/test_solver.py
Due: flake8, black, generate-openapi-specs

feat: fixed (no-load / commitment) cost per operation mode
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: port the asset-chart annotation viz to the ECharts fast charts
  flexmeasures/ui/static/js/fast-chart.js
Due: none

perf: vectorize keep_latest_version
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/tests/test_data_source.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
