Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Fill default breach prices per field for the SoC and site capacity pairs
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Replace the DB schema's relax-flag overrides with a single fill switch
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

Update the device scheduler's (MI)LP formulation in the docs (#2394)
  documentation/changelog.rst
  documentation/concepts/device_scheduler.rst
Due: none

add space so prompt message reads better
  flexmeasures/data/scripts/clean_database.sh
Due: none

Skip vacuous device sign constraints for one-way devices
  documentation/changelog.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

docs: sign binaries only where both power directions are available
  documentation/concepts/device_scheduler.rst
Due: none

chore: increment StorageScheduler version
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

docs: cover the full relaxation-semantics change and name the removed plugin symbols
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
Due: none

Reference PR #2412 in the changelog entry
  documentation/changelog.rst
Due: none

Reject commitments that no constraint would bind (#2410)
  documentation/changelog.rst
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

Assert the aggregate commitment's cost instead of the degenerate device split
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

Address Copilot review: docstring shape and unused test variables
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

docs: describe the relaxation change relative to the last release
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

Address Copilot review: scale stock-change bounds by conversion efficiencies
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_big_m.py
Due: flake8, black

End comment lines at punctuation, per the docstring conventions
  flexmeasures/data/models/planning/tests/test_big_m.py
Due: flake8, black

docs/changelog: reference PR #2373 for the dict-option fix
  documentation/changelog.rst
Due: none

style/forecasting: break the new docstrings and comments after punctuation
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

cli: reject a dict-typed option argument that is not a mapping
  documentation/changelog.rst
  flexmeasures/cli/tests/test_utils.py
  flexmeasures/cli/utils.py
Due: flake8, black

Cover the fallback machinery for custom schedulers at the API level
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
Due: flake8, black, generate-openapi-specs

Explain the expected sign-constraint counts in the test
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
Due: flake8, black

Skip vacuous device sign constraints for one-way devices (#2412)
  documentation/changelog.rst
  documentation/concepts/device_scheduler.rst
  flexmeasures/data/models/planning/highspy_optimization.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_sign_binaries.py
  flexmeasures/data/models/planning/tests/test_solver_coverage.py
Due: flake8, black

Address suppressed review notes: comment line breaks and approximate cost equality
  flexmeasures/data/models/planning/tests/test_big_m.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

Name commitments in enforceability errors
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_scheduling_problem.py
Due: flake8, black

Extend the changelog entry of PR #2410 to reference PR #2413
  documentation/changelog.rst
Due: none

Address Copilot review: quote commitment names with repr
  flexmeasures/data/models/planning/scheduling_problem.py
Due: flake8, black

move utilities to utils/sentry_utils.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/sentry_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

fix test which froze an expiry date which only worked right after writing the test, but not any day thereafter
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

docs: shorten the relax-flag field descriptions
  documentation/features/scheduling.rst
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

docs: frame the fallback retirement as preference-softening plus physics-hardening
  documentation/changelog.rst
Due: none

the first marked event should bypass the general cap so we always see that one
  flexmeasures/utils/sentry_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Name commitments in enforceability errors (#2413)
  documentation/changelog.rst
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/scheduling_problem.py
  flexmeasures/data/models/planning/tests/test_scheduling_problem.py
Due: flake8, black

Validate power bounds for every device, and stop a stock-less device from disabling validation
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

Marked once-daily notifications are now not send when Redis is unavailable, so we keep guarding our limited Sentry budget
  flexmeasures/utils/sentry_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Add an integration-style regression test proving register_at() attaches the deduplication marker to the real schema-mismatch LogRecord, and that this record is recognized by the Sentry deduplicator.
  flexmeasures/data/tests/test_utils.py
Due: flake8, black

Restore the EV/battery cost split as a fairness benchmark
  flexmeasures/data/tests/test_scheduling_simultaneous.py
Due: flake8, black

more exact tests of the timing in keys
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

Update the SoC field descriptions that said targets are always hard
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Feat/retire fallback scheduler (#2252)
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_highspy_equivalence.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/models/planning/utils.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

explanation of Sentry and our filtering in a better place
  documentation/configuration.rst
  documentation/host/error-monitoring.rst
Due: none

clarification of config parsing logic
  flexmeasures/utils/app_utils.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
