Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: flake8
        name: flake8 (code linting)
        language: system
        entry: uv run flake8
        types: [python]
  - repo: local
    hooks:
      - id: black
        name: black (code formatting)
        language: system
        entry: uv run black
        types: [python]
  - repo: local
    hooks:
      - id: mypy
        name: mypy (static typing)
        pass_filenames: false
        language: system
        entry: uv run poe type-check
        verbose: true
  - repo: local
    hooks:
      - id: generate-openapi-specs
        name: Generate OpenAPI specs
        files: '^flexmeasures/api|^flexmeasures/data/schemas'
        pass_filenames: false
        language: system
        entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Potential fix for pull request finding
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

chore(deps): bump timely-beliefs to >=4.0.0
  pyproject.toml
  uv.lock
Due: none

fix: restore forecast job comment indentation
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

refactor: flake8 complained about complexity
  flexmeasures/data/models/time_series.py
Due: flake8, black

fix: narrow tuple quantity parsing errors
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

fix: clarify variable quantity type errors
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

fix: update variable quantity deserialize typing
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

fix: allow null sensor reference defaults
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_sensor.py
Due: flake8, black, generate-openapi-specs

refactor: remove ineffective storage schema fields
  flexmeasures/data/schemas/scheduling/storage.py
Due: flake8, black, generate-openapi-specs

docs: set user expectation when upgrading the db
  documentation/changelog.rst
Due: none

fix: handle malformed quantity tuples
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

docs: add changelog entry
  documentation/changelog.rst
Due: none

make copy-asset dialogue UX more supportive of templates
  flexmeasures/ui/templates/assets/asset_new.html
  flexmeasures/ui/tests/test_asset_crud.py
Due: flake8, black

add documentation about copying assets, for orgs and plugin devs
  documentation/getting-started.rst
  documentation/plugin/customisation.rst
Due: none

add changelog entry
  documentation/changelog.rst
Due: none

chore: make toy tutorials robust against pre-existing asset or sensor IDs, also less work for users
  .github/workflows/docker-build.yml
  documentation/dev/docker-compose.rst
  documentation/index.rst
  documentation/tut/building_uis.rst
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/scripts/run-tutorial5-in-docker.sh
  documentation/tut/toy-example-expanded.rst
  documentation/tut/toy-example-from-scratch.rst
  documentation/tut/toy-example-multiasset-curtailment.rst
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

fix: accept force-new-job-creation field, matching its naming on main
  .dockerignore
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

more robustness in only evaluating output which sets our variables
  .github/workflows/docker-build.yml
  documentation/index.rst
  documentation/tut/scripts/run-tutorial-in-docker.sh
  documentation/tut/scripts/run-tutorial2-in-docker.sh
  documentation/tut/scripts/run-tutorial3-in-docker.sh
  documentation/tut/scripts/run-tutorial4-in-docker.sh
  documentation/tut/scripts/run-tutorial5-in-docker.sh
  documentation/tut/toy-example-process.rst
  documentation/tut/toy-example-reporter.rst
  documentation/tut/toy-example-setup.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

fix: use logger.warning, as logger.warn breaks when warnings escalate to errors
  flexmeasures/data/models/time_series.py
Due: flake8, black

Change flex-EMS architecture image from PNG to SVG (#2266)
  README.md
Due: none

feat: add trace logging for flex-context resolution and capacity-series values
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: raise the scheduling job's RQ execution timeout from RQ's 180s default to 600s
  flexmeasures/data/services/scheduling.py
Due: flake8, black

revert: drop the RQ job timeout increase, no longer needed now the real solver-slowdown cause is fixed
  flexmeasures/data/services/scheduling.py
Due: flake8, black

feat: Split flex-context settings by commodity for dynamic capacity scheduling (#2172)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/multi-commodity.rst
  documentation/tut/multi-feed-storage.rst
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/utils/coding_utils.py
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

Apply suggestions from code review
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

style: black
  flexmeasures/data/models/planning/linear_optimization.py
Due: flake8, black

Feat: Support shared storage (multi‑feed stock) (#2001)
  documentation/changelog.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/flex-model-v2g.rst
  documentation/tut/multi-commodity.rst
  documentation/tut/multi-feed-storage.rst
  flexmeasures/api/common/schemas/scheduling.py
  flexmeasures/api/common/schemas/utils.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/data/models/planning/__init__.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_solver.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/sensors.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/conftest.py
  flexmeasures/data/tests/test_scheduling_sequential.py
  flexmeasures/data/tests/test_scheduling_simultaneous.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_context.html
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/utils/coding_utils.py
  tests/documentation/test_schemas.py
Due: flake8, black, generate-openapi-specs

docs: changelog entry
  documentation/changelog.rst
Due: none

docs: move changelog entry to v1
  documentation/changelog.rst
Due: none

fix: remove unused forecast job kwargs
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

fix(tests): unique public asset names in commitment tests to satisfy generic_asset_public_root_name_key
  flexmeasures/data/models/planning/tests/test_commitments.py
Due: flake8, black

fix: consolidate currency validation across commodity flex-contexts
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat!: default top-level relax-constraints to True
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

fix: support per-commodity inflexible-device-sensors and all-gas portfolios
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: default device commodity to electricity and match commitment commodity
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: fix dead cross-commodity currency check in list-form flex-context
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: restrict aggregate-power to electricity devices
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

fix: reject duplicate commodities in flex-context commodities list
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs
