Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

Address review: sign-explicit operation-mode ranges
  documentation/changelog.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: multi-commodity operation modes (per-commodity ranges + no-load flow)
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

feat: unit-committed affine coupling groups (on/off + min-load + no-load base)
  documentation/changelog.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_commitments.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

forecasting: keep model-params out of the API docs (dev feature)
  documentation/changelog.rst
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Add annotation regressors to forecaster config, merged holidays command, and timezone fix (#2178)
  documentation/changelog.rst
  documentation/concepts/annotations.rst
  documentation/features/forecasting.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
  flexmeasures/cli/utils.py
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/models/forecasting/pipelines/predict.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/queries/annotations.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/schemas/tests/test_forecasting.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
  pyproject.toml
  uv.lock
Due: flake8, black, generate-openapi-specs

fix(ui): render a sensor in every fast-chart subplot that configures it
  flexmeasures/ui/static/js/fast-chart.js
Due: none

docs+test: fix review follow-ups for relax-soc-constraints default
  documentation/api/change_log.rst
  documentation/features/scheduling.rst
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

Show asset annotations in asset charts (#2312)
  documentation/changelog.rst
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/tests/test_assets_api.py
  flexmeasures/data/models/charts/belief_charts.py
  flexmeasures/data/models/charts/defaults.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/ui/static/js/fast-chart.js
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/includes/graphs.html
Due: flake8, black, generate-openapi-specs

fix+docs: review follow-ups for canonical soc-min/soc-max
  documentation/api/change_log.rst
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

fix(ui): render a sensor in every fast-chart subplot that configures it (#2338)
  flexmeasures/ui/static/js/fast-chart.js
Due: none

fix: truncate epoch conversions toward zero, like the previous per-row code
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
  flexmeasures/utils/time_utils.py
Due: flake8, black

Fix flexmeasures add user --roles comma-separated list parsing
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

docs: fill in PR number for add user --roles changelog entry
  documentation/changelog.rst
Due: none

Document SECURITY_TWO_FACTOR and related 2FA config settings
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/installation.rst
Due: none

fix: read SECURITY_TWO_FACTOR from the environment, as documented
  flexmeasures/utils/config_utils.py
Due: flake8, black

Speed up post-processing of sensor data searches (#2328)
  documentation/changelog.rst
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/generic_assets.py
  flexmeasures/data/models/time_series.py
  flexmeasures/data/queries/utils.py
  flexmeasures/data/scripts/benchmark_search_postprocessing.py
  flexmeasures/data/tests/test_data_source.py
  flexmeasures/data/tests/test_queries.py
  flexmeasures/data/tests/test_search_postprocessing.py
  flexmeasures/utils/time_utils.py
Due: flake8, black

docs: changelog entry for SECURITY_TWO_FACTOR env var fix
  documentation/changelog.rst
Due: none

Fix scheduling job success log printed twice
  documentation/changelog.rst
  flexmeasures/data/services/scheduling.py
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

docs: link changelog entry to PR #2342
  documentation/changelog.rst
Due: none

fix: parse boolean settings from the environment properly
  documentation/changelog.rst
  flexmeasures/app.py
  flexmeasures/utils/config_utils.py
Due: flake8, black

Document SECURITY_TWO_FACTOR and related 2FA config settings (#2340)
  documentation/changelog.rst
  documentation/configuration.rst
  documentation/host/installation.rst
Due: none

feat: accept sensor IDs or references
  flexmeasures/data/schemas/sensors.py
Due: flake8, black, generate-openapi-specs

feat: expand forecasting regressor schema
  flexmeasures/data/schemas/forecasting/pipeline.py
Due: flake8, black, generate-openapi-specs

feat: apply regressor source filters
  flexmeasures/data/models/forecasting/pipelines/base.py
Due: flake8, black

feat: type training regressors as sensor references
  flexmeasures/data/models/forecasting/pipelines/train.py
Due: flake8, black

feat: type prediction regressors as sensor references
  flexmeasures/data/models/forecasting/pipelines/predict.py
Due: flake8, black

feat: serialize filtered regressors for queued jobs
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
Due: flake8, black

feat: parse JSON regressor references in CLI
  flexmeasures/cli/data_add.py
Due: flake8, black

feat: authorize referenced regressor sensors
  flexmeasures/api/v3_0/sensors.py
Due: flake8, black, generate-openapi-specs

feat: document regressor references in OpenAPI
  flexmeasures/ui/static/openapi-specs.json
Due: none

feat: document source-filtered forecasting regressors
  documentation/changelog.rst
Due: none

test: cover forecasting regressor references
  flexmeasures/data/schemas/tests/test_forecasting.py
Due: flake8, black, generate-openapi-specs

test: cover filtered regressor loading and queueing
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

test: cover CLI regressor reference parsing
  flexmeasures/cli/tests/test_data_add.py
Due: flake8, black

test: cover regressor reference authorization
  flexmeasures/api/v3_0/tests/test_forecasting_api.py
Due: flake8, black, generate-openapi-specs

docs: reference only the PR in the changelog entry
  documentation/changelog.rst
Due: none

test: make #2049 success-log assertion job-specific
  flexmeasures/data/tests/test_scheduling_jobs.py
Due: flake8, black

Fix flexmeasures add user --roles comma-separated list parsing (#2339)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_data_add_fresh_db.py
Due: flake8, black

Refactor collect_flex_config to satisfy flake8 C901
  flexmeasures/data/models/planning/__init__.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
