Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

perf: fast track deterministic multi-source belief selection per event
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

perf: vectorize compressed chart-data serialization
  flexmeasures/data/models/time_series.py
  flexmeasures/data/tests/test_search_postprocessing.py
Due: flake8, black

perf: clean up GenericAsset.search_beliefs fan-out and serialization
  flexmeasures/data/models/generic_assets.py
Due: flake8, black

perf: build user source criterion without an extra query
  flexmeasures/data/queries/utils.py
  flexmeasures/data/tests/test_queries.py
Due: flake8, black

style: fix flake8 F811 and black formatting in test_storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

docs: add a converter + internal-node example flex-model
  documentation/features/scheduling.rst
  documentation/tut/multi-commodity.rst
Due: none

dev: add DB-free benchmark for search_beliefs post-processing
  flexmeasures/data/scripts/benchmark_search_postprocessing.py
Due: flake8, black

docs: changelog entry for search post-processing speedups
  documentation/changelog.rst
Due: none

docs: fix PR number in changelog entry
  documentation/changelog.rst
Due: none

fix: complete the merge reconciliation left out of the previous commit
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: address review on the group field (XSS, error path, schema base)
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
Due: flake8, black, generate-openapi-specs

docs: the model computes group schedules, it does not save them
  flexmeasures/data/models/planning/storage.py
Due: flake8, black

Support intermediate power constraints on groups of devices (flex-model group field) (#2276)
  documentation/api/change_log.rst
  documentation/changelog.rst
  documentation/concepts/commitments.rst
  documentation/features/scheduling.rst
  documentation/index.rst
  documentation/tut/toy-example-group-constraints.rst
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/conftest.py
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/models/planning/tests/test_group_constraints.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
  flexmeasures/ui/templates/assets/asset_properties.html
  flexmeasures/ui/tests/test_asset_crud.py
  flexmeasures/ui/views/assets/views.py
Due: flake8, black, generate-openapi-specs

style: drop duplicate GenericAsset import in test_storage.py (F811)
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

fix(schema): support coupling in db-stored flex-models and reject blank coupling names
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

fix(scheduling): treat capacity-only commodity as grid-connected, not internal node
  documentation/features/scheduling.rst
  documentation/tut/multi-commodity.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/data/schemas/tests/test_scheduling.py
Due: flake8, black, generate-openapi-specs

refactor: rename operation-mode fixed-cost to running-cost (S2-aligned rate)
  documentation/changelog.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/storage.py
  flexmeasures/data/models/planning/tests/test_operation_modes.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix(ui): add coupling fields to UI_FLEX_MODEL_SCHEMA
  flexmeasures/data/schemas/scheduling/__init__.py
Due: flake8, black, generate-openapi-specs

feat: keep forecasting timeout hint host-only
  flexmeasures/data/services/forecasting.py
Due: flake8, black

test: cover host-only forecasting timeout hint
  flexmeasures/data/tests/test_forecasting_jobs.py
Due: flake8, black

feat(scheduling): smart-default coupled device flow direction
  documentation/changelog.rst
  flexmeasures/data/models/planning/devices.py
  flexmeasures/data/models/planning/tests/test_device_inventory.py
  flexmeasures/data/schemas/scheduling/metadata.py
  flexmeasures/data/schemas/scheduling/storage.py
  flexmeasures/data/schemas/tests/test_scheduling.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

refactor: derive the UI flex-model schema from the DB schema
  documentation/changelog.rst
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/tests/ui_flex_model_schema_baseline.json
Due: flake8, black, generate-openapi-specs

Address review: drop the baseline guardrail and the changelog entry
  documentation/changelog.rst
  flexmeasures/ui/tests/test_utils.py
  flexmeasures/ui/tests/ui_flex_model_schema_baseline.json
Due: flake8, black

refactor: derive the UI flex-model schema from the DB schema (#2330)
  flexmeasures/data/schemas/scheduling/__init__.py
  flexmeasures/ui/tests/test_utils.py
Due: flake8, black, generate-openapi-specs

Shrink timed_belief value columns from float8 to float4
  documentation/changelog.rst
  flexmeasures/data/migrations/versions/9f2c1d7b3a44_shrink_timed_belief_values_to_float4.py
  flexmeasures/data/models/time_series.py
Due: flake8, black

feat: split timeout hints by audience
  flexmeasures/data/services/forecasting.py
Due: flake8, black

test: cover timeout hint audiences
  flexmeasures/data/tests/test_forecasting_jobs.py
Due: flake8, black

Compare beliefs at float4 precision when detecting unchanged data
  flexmeasures/data/services/time_series.py
Due: flake8, black

feat(cli): run VACUUM ANALYZE after flexmeasures db upgrade
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/data/__init__.py
Due: flake8, black

docs: add PR link to changelog entry
  documentation/changelog.rst
Due: none

Run VACUUM ANALYZE after `flexmeasures db upgrade` (with --no-vacuum opt-out) (#2333)
  documentation/changelog.rst
  documentation/cli/change_log.rst
  flexmeasures/data/__init__.py
Due: flake8, black

feat: add custom job timeouts, also configurable per queue (#2318)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/app.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/services/forecasting.py
  flexmeasures/data/tests/test_forecasting_jobs.py
  flexmeasures/utils/config_defaults.py
  flexmeasures/utils/job_utils.py
  flexmeasures/utils/tests/test_job_utils.py
Due: flake8, black

Filter annotation regressors by their own belief time
  flexmeasures/data/models/forecasting/pipelines/base.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
Due: flake8, black

clarify how to signal deprecated fields in API endpoints, introducing the FlexMeasures-Deprecated-Response-Fields header
  documentation/api/change_log.rst
  documentation/api/introduction.rst
  flexmeasures/api/common/responses.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/api/v3_0/deprecations.py
  flexmeasures/api/v3_0/jobs.py
  flexmeasures/api/v3_0/sensors.py
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
  flexmeasures/api/v3_0/tests/test_forecasting_api_fresh_db.py
  flexmeasures/api/v3_0/tests/test_jobs_api.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules.py
  flexmeasures/api/v3_0/tests/test_sensor_schedules_fresh_db.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

some new tests still needed to assert 202 instead of 200
  flexmeasures/api/v3_0/tests/test_asset_schedules_fresh_db.py
Due: flake8, black, generate-openapi-specs

Expose model-params in the forecasting pipeline config
  documentation/changelog.rst
  flexmeasures/data/models/forecasting/custom_models/lgbm_model.py
  flexmeasures/data/models/forecasting/pipelines/train.py
  flexmeasures/data/models/forecasting/pipelines/train_predict.py
  flexmeasures/data/schemas/forecasting/pipeline.py
  flexmeasures/data/tests/test_forecasting_pipeline.py
  flexmeasures/ui/static/openapi-specs.json
Due: flake8, black, generate-openapi-specs

fix: show annotations in fast-chart subplots that have no data
  flexmeasures/ui/static/js/fast-chart.js
Due: none

fix: keep annotation marks at full opacity when a data series is highlighted
  flexmeasures/ui/static/js/fast-chart.js
Due: none

Add FLEXMEASURES_LP_SOLVER_OPTIONS to configure solver options (#2283)
  documentation/changelog.rst
  documentation/configuration.rst
  flexmeasures/data/models/planning/linear_optimization.py
  flexmeasures/data/models/planning/tests/test_solver_options.py
  flexmeasures/utils/config_defaults.py
Due: flake8, black

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
