Repository FlexMeasures/flexmeasures: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, generate-openapi-specs

flake8:
  name: flake8 (code linting)
  language: system
  entry: uv run flake8

black:
  name: black (code formatting)
  language: system
  entry: uv run black

generate-openapi-specs:
  name: Generate OpenAPI specs
  pass_filenames: false
  language: system
  entry: bash -c '[[ "$GITHUB_ACTIONS" == "true" ]] && exit 0 || (uv run poe generate-open-api-specs)'

test(api/v3_0): secure report trigger dependencies
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
Due: flake8, black, generate-openapi-specs

fix(cli): reject ambiguous report template inputs
  flexmeasures/cli/data_add.py
Due: flake8, black

docs(reporting): define report template edge behavior
  documentation/features/reporting.rst
  flexmeasures/data/templates/reports/self-consumption.yaml
Due: none

test(cli): cover report template edge cases
  flexmeasures/cli/tests/test_report_templates.py
Due: flake8, black

test(automations): cover job-stat failure and cache paths
  flexmeasures/api/v3_0/tests/test_automations_api.py
  flexmeasures/data/tests/test_automations_fresh_db.py
Due: flake8, black, generate-openapi-specs

docs(automations): describe batched job statistics
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

docs(api): define report trigger authorization
  documentation/api/change_log.rst
  documentation/changelog.rst
Due: none

test: multi-session same-sensor schedules accumulate (sum)
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: cover overlapping multi-session same-sensor accumulation
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: use charge point with connectors instead of building/shared sensor
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

style: black-format multi-session same-sensor tests
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

test: pre-split connector capacity for overlapping sessions
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

cli: refuse forecaster options that were given, not merely ones that differ from their default
  flexmeasures/cli/data_add.py
  flexmeasures/cli/tests/test_automations.py
Due: flake8, black

fix(tests): clear cached login user between tests
  documentation/changelog.rst
  flexmeasures/conftest.py
  flexmeasures/tests/test_conftest.py
Due: flake8, black

Bake an explicit version into the Docker image
  .github/workflows/docker-publish.yml
  Dockerfile
Due: none

Fetch full git history in the Docker build workflow
  .github/workflows/docker-build.yml
Due: none

Add changelog entry for the Docker image version fix
  documentation/changelog.rst
Due: none

move this to v1.0, some more changelog fix-ups
  documentation/changelog.rst
Due: none

reduce complexity of this PR to being a verification of the published version - we saw that the earlier error report was to blame on the developer (me) not pushing the tag correctly
  .github/workflows/docker-publish.yml
  Dockerfile
  documentation/changelog.rst
Due: none

pass release tags explicitly again, we encountered a problem with dirty git states leading to a new version
  .github/workflows/docker-publish.yml
  Dockerfile
  documentation/changelog.rst
Due: none

docs: append this PR to the rate limiting changelog entry
  documentation/changelog.rst
Due: none

removve fetch-depth:0 which was not fully addressing the problem of dirty git checkouts
  .github/workflows/docker-build.yml
Due: none

move release date one day
  documentation/changelog.rst
Due: none

Pin and verify versions in published Docker images (#2425)
  .github/workflows/docker-build.yml
  .github/workflows/docker-publish.yml
  Dockerfile
  documentation/changelog.rst
Due: none

Declare limits as a direct dependency (#2407)
  documentation/changelog.rst
  pyproject.toml
  uv.lock
Due: none

test: drop issue cross-references from docstrings per review
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

tests/conftest: also clear flask-security's cached auth state
  flexmeasures/conftest.py
  flexmeasures/tests/test_conftest.py
Due: flake8, black

api/v3_0: authenticate the all-three-endpoints annotation test as an admin
  flexmeasures/api/v3_0/tests/test_annotations.py
Due: flake8, black, generate-openapi-specs

docs: point the changelog entry at the PR
  documentation/changelog.rst
Due: none

fix(tests): clear cached login user between tests (#2424)
  documentation/changelog.rst
  flexmeasures/api/v3_0/tests/test_annotations.py
  flexmeasures/conftest.py
  flexmeasures/tests/test_conftest.py
Due: flake8, black, generate-openapi-specs

test: multi-session same-sensor schedules accumulate (sum) (#2344)
  flexmeasures/data/models/planning/tests/conftest.py
  flexmeasures/data/models/planning/tests/test_storage.py
Due: flake8, black

do not create any default data on db maintenance commands
  flexmeasures/data/__init__.py
  flexmeasures/data/scripts/data_gen.py
Due: flake8, black

require certain migration for creating template assets (replace generic revision mismatch check)
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
  flexmeasures/utils/app_utils.py
Due: flake8, black

add tests
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

add changelog entry
  documentation/changelog.rst
Due: none

show flex-config editing screenshots on concepts/flexibility-configuration
  documentation/concepts/flexibility-configuration.rst
Due: none

Fix/do not create template data during db maintenance (#2428)
  documentation/changelog.rst
  flexmeasures/data/__init__.py
  flexmeasures/data/scripts/data_gen.py
  flexmeasures/data/tests/test_template_assets.py
  flexmeasures/data/tests/test_utils.py
  flexmeasures/data/utils.py
  flexmeasures/utils/app_utils.py
  flexmeasures/utils/tests/test_app_utils.py
Due: flake8, black

feat(reporting): run one-off reports as jobs
  flexmeasures/app.py
  flexmeasures/cli/data_add.py
  flexmeasures/cli/jobs.py
  flexmeasures/data/models/data_sources.py
  flexmeasures/data/models/reporting/__init__.py
  flexmeasures/data/models/reporting/profit.py
  flexmeasures/data/services/reporting.py
  flexmeasures/data/services/sensors.py
  flexmeasures/utils/job_utils.py
Due: flake8, black

feat(api/v3_0): trigger one-off report jobs safely
  flexmeasures/api/common/utils/api_utils.py
  flexmeasures/api/v3_0/__init__.py
  flexmeasures/api/v3_0/assets.py
  flexmeasures/data/queries/generic_assets.py
  flexmeasures/data/schemas/reporting/__init__.py
  flexmeasures/data/services/data_generators.py
Due: flake8, black, generate-openapi-specs

test(reporting): cover secured report job entry points
  flexmeasures/api/v3_0/tests/test_rate_limiting.py
  flexmeasures/api/v3_0/tests/test_report_trigger_api.py
  flexmeasures/cli/tests/test_data_add.py
  flexmeasures/utils/tests/test_job_utils.py
Due: flake8, black, generate-openapi-specs

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  generate-openapi-specs: any of: ^flexmeasures/api|^flexmeasures/data/schemas
